<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4294/wiki/favicon-white.png"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>
    
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/attributions_style.css') }}" rel="stylesheet">

    <!-- Loader -->
    <script type= "text/javascript" src="../../athens/static/scripts/jquery.min.js"></script>

    <!--Custom menu CSS-->
    <link href="{{url_for('static',filename='css/menu_style_aspa.css')}}" rel="stylesheet">

    <!--Custom footer CSS-->
    <link href="{{url_for('static',filename='css/footer_style_aspa.css')}}" rel="stylesheet">

     <!--Custom to top button CSS-->
     <link href="{{url_for('static',filename='css/to_top_button.css')}}" rel="stylesheet">
    <title>PERspectives | Attributions</title>
</head>

<body>
<!-- Navigation -->
{% include 'menu_custom.html' %}

<!--To top button-->
{% include 'to_top_button.html'%}

<!--Loader-->   
{% include 'loader.html'%}

<div class="page_header">
    <img class="img_header" src="https://static.igem.wiki/teams/4294/wiki/team-page/project-reveal-1920-1080-px-4.gif" width="100%">
    <div class="heading">Attributions</div>    
</div>

<!--Project Assistance--> 
<div class="container">
  <h1>Project Assistance</h1>
  <p><span style="color: #ef4b4c;">Prof. Evangelos Topakas</span>, Associate Professor at School of Chemical Engineering of National  Technical University of Athens and our Primary PI, provided general consultation and valuable help in dealing with bureaucracy all along the way. He has always been supportive to iGem Teams from Athens. As his research interests are directed towards Industrial Biotechnology, he proposed a potential application of our system in a bioreactor. Our team wouldn’t have made it without his commitment and his advice.
    <br>
    <br>
    <span style="color: #ef4b4c;">Dr. Andreas Agathangelidis</span>, Assistant Professor of Genetics at the Biology Department of National and Kapodistrian University of Athens and our Secondary PI, granted us his lab space to execute all our experimental work. Apart from space, he provided us with the necessary equipment for a significant portion of our experiments. In addition, his role has been essential in financing, ordering and receiving our lab supplies, as he was the one who communicated with the companies to get the offers and delivery dates. We would like to thank him for his dedication and patience. </p>
</div>

<!--Wet Lab--> 
<div class="container">
  <h1><span style="color: #61b872;">Dry Lab Support</span></h1>
  <p>
    <ul>
      <li><span style="color: #61b872;">Dr. Elena Pappa</span>, Member of Specialised Technical Laboratory Staff at the Biology Department of National and Kapodistrian University of Athens and our Instructor, took over our lab training and supervised our laboratory space. She also offered us extra lab space, useful equipment and generally much help as long as the experimental part is concerned, providing us with many supplies and consumable reagents our team did not possess. 
      </li>
      <li><span style="color: #61b872;">Dr. Skarlatos Dedos</span>, Associate Professor of Zoology at the Biology Department of National and Kapodistrian University of Athens, gave us access to indispensable equipment for our experimental work and was always available for discussing the troubleshootings. During the finding project phase, he was willing to advise us in order to end up with a prototypical and genuine idea. Furthermore, he instructed us how to use necessary lab machinery, such as the plate reader. We would also like to thank the members of his lab for technical and practical help while working on the experimental part.
      </li> 
      <li><span style="color: #61b872;">Vivi Miriagou</span>, Research Director at the Bacteriology Laboratory of Hellenic Pasteur Institute, offered fundamental advice concerning practical matters during the experimental process and helped us pick up the most suitable bacterial strains. Her constructive criticism guided us to switch our focus from what we have imagined doing to what we could realistically achieve, keeping us grounded when we needed it most. 
      </li>  
      <li><span style="color: #61b872;">Dr. Georgios Skretas</span>, Research Director at Enzyme & Synthetic Biotechnology Laboratory of National Hellenic Research Foundation, advised us about our constructs and provided us with laboratory consumables. Whenever needed, we had access to the spectrophotometer of his lab, in order to measure different parameters of our samples. 
      </li>  
      <li><span style="color: #61b872;">Dr. Panagoula Kollia</span>, Professor of Genetics at the Biology Department of National and Kapodistrian University of Athens, allowed us to use the equipment (photometre, agarose gel imager, centrifugal) of the Genetics and Biotechnology Section in NKUA.
      </li>  
      <li><span style="color: #61b872;">Dr. Dimitrios Hatzinikolaou</span>, Associate Professor of Microbial Biotechnology at the Biology Department of National and Kapodistrian University of Athens, helped us better understand what Synthetic Biology actually is and encouraged us to pick up a topical project. Except for that, he placed at our service his Nanodrop spectrophotometer in order to measure our different samples.
      </li>  
      <li><span style="color: #61b872;">Dr. Georgios Diallinas</span>, Professor of Molecular Microbiology at the Biology Department of National and Kapodistrian University of Athens, provided us with our bacterial strains, as well as with useful advice. Additionally, he brought us in communication with Christos Gournas, a very determinant Integrated HP contact, concerning major changes we made to our biological circuit.
      </li>  
      <li><span style="color: #61b872;">Dr. Eleftheria Kravariti</span>, Member of the Laboratory Teaching Personnel at the Biology Department of National and Kapodistrian University of Athens, has always been willing to supply us with consumables reagents. Her contribution was also great in the molecular design of the plasmids and generally in the experimental field.
      </li>
    </ul>
  </p>
</div>

<!--Dry Lab--> 
<div class="container">
  <h1><span style="color: #3aa9c5;">Dry Lab Support</span></h1>
  <p><ul>
    <li><span style="color: #3aa9c5;">Dr. Kavousanakis</span>
    </li>
  </ul>
</p>
</div>

<!--Fundraising--> 
<div class="container">
  <h1><span style="color: #8a72c1;">Fundraising</span></h1>
  <p>
    <ul>
      <li><span style="color: #8a72c1;">Apostolos Zambaras</span>, at the Special Account for Research Funding (E.L.K.E.) of National Technical University of Athens, offered his valuable help and advice during the fundraising process, in combination with necessary feedback for all the bureaucratic matters of our team. Without him, we wouldn’t have been able to make all the fundraising steps.
      </li>
      <li><span style="color: #8a72c1;">Dr. Aristidis Parmakelis</span>, Associate Professor and Chairman at the Biology Department of National and Kapodistrian University of Athens, dealt with getting all our laboratory supplies financed. Not only proved to be essential for the lab consumables, but also facilitated the fiananciation of travel and accommodation expenses for some of our members.
      </li> 
      <li><span style="color: #8a72c1;">Dr. Andreas Boudouvis</span>, Professor at School of Chemical Engineering and Rector of the National Technical University of Athens, brought us in contact with companies and mediated for some fundraising issues.  
      </li>  
      <li><span style="color: #8a72c1;">Aikaterini Krithinaki</span>, offered voluntary assistance with PR and fundraising issues, greatly facilitating the finding, the accounting and the logistics of funds for the travel and accommodation expenses for some of our members.
      </li>  
      <li><span style="color: #8a72c1;">Georgios Xenos</span>, at the Special Account for Research Funding (E.L.K.E.) of National Technical University of Athens, [εκκρεμεί].
      </li>  
    </ul>
  </p>
</div>

<!--Human Practices--> 
<div class="container">
  <h1><span style="color: #ffc973;">Human Practices & Science Communication</span></h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde molestias incidunt impedit possimus, sit laborum omnis doloribus sint, dolores, quis quos excepturi aperiam eum dolor saepe ratione adipisci non consectetur.</p>
</div>

<!--Special Thanks--> 
<div class="container">
  <h1><span style="color: #FF9933;">Special Thanks</span></h1>
  <p>
    <ul>
      <li><span style="color: #FF9933;">Vangelis Papaevangeliou</span>
      </li>  
    </ul>
  </p>
</div>

</body>

<!-- Footer -->
{% include 'footer.html' %}

</html>