<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4294/wiki/favicon-white.png"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>
    
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/attributions_style.css') }}" rel="stylesheet">

    <!-- Loader -->
    <script type= "text/javascript" src="../../athens/static/scripts/jquery.min.js"></script>

    <!--Custom menu CSS-->
    <link href="{{url_for('static',filename='css/menu_style_aspa.css')}}" rel="stylesheet">

    <!--Custom footer CSS-->
    <link href="{{url_for('static',filename='css/footer_style_aspa.css')}}" rel="stylesheet">

     <!--Custom to top button CSS-->
     <link href="{{url_for('static',filename='css/to_top_button.css')}}" rel="stylesheet">
    <title>PERspectives | Attributions</title>
</head>

<body>
<!-- Navigation -->
{% include 'menu_custom.html' %}

<!--To top button-->
{% include 'to_top_button.html'%}

<!--Loader-->   
{% include 'loader.html'%}

<div class="page_header">
    <img class="img_header" src="https://static.igem.wiki/teams/4294/wiki/team-page/project-reveal-1920-1080-px-4.gif" width="100%">
    <div class="heading">Attributions</div>    
</div>


<div class="cc" id="cc-attributions">
  <div class="left-side">
      <div class="index-bar">
          <ul class="lateral-index">
              <li class="lateral-content">
                  <a href="#members">Team Members</a>
              </li>
              <li class="lateral-content">
                  <a href="#project">Project Assistance</a>
              </li>
              <li class="lateral-content">
                  <a href="#wet">Wet Lab Support</a>
              </li>
              <li class="lateral-content">
                <a href="#dry">Dry Lab Support</a>
              </li>
              <li class="lateral-content">
                <a href="#fr">Fundraising</a>
              </li>
              <li class="lateral-content">
                <a href="#hp">Human Practices</a>
              </li>
              <li class="lateral-content">
                <a href="#thanks">Special Thanks</a>
              </li>
          </ul>
      </div>
  </div>
  
  <div class="right-side">

          <!--Team Members--> 
          <div class="container">
            <a id="members" class="anchorOffset"></a>
            <h1><span style="background: -webkit-linear-gradient(#ef4b4c, #61b872,  #3aa9c5, #ffc973); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Team Members</span></h1>
            <p>
              <ul>
                <li><span style="font-family: 'Glacial Indifference Bold'; background: -webkit-linear-gradient(#ffc973, #61b872); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Anny Mais</span><br>
                Biology Graduate of the National Kapodistrian University of Athens and she is a member of the Wet lab and the Fundraising team. Her contribution to the wet lab in organising experiments and analyzing results was crucial.She has also organised Education & Communication actions.  
                </li>
                <li><span style="font-family: 'Glacial Indifference Bold'; background: -webkit-linear-gradient(#ef4b4c, #61b872);background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Anthi Kapsali</span><br> 
                Biology Undergraduate student of the National and Kapodistrian University of Athens and she is a member of the Wet Lab and the Human Practices team. Her writing skills have helped the team with science communication.
                </li> 
                <li><span style="font-family: 'Glacial Indifference Bold'; background: -webkit-linear-gradient(#ef4b4c, #61b872); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Aristotelis Anastopoulos</span><br>
                Undergraduate student of Medical School of the National and Kapodistrian University of Athens and member of the Wet Lab and Human Practices Team. His contribution was vital for the project's design, wet lab experiments and the improvement of a part. 
                </li>  
                <li><span style="font-family: 'Glacial Indifference Bold'; background: -webkit-linear-gradient(#ef4b4c, #3aa9c5); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Aspasia Vozi</span><br>
                Master’s Student in Bioinformatics at the National and Kapodistrian University of Athens and member of the Dry Lab. She helped with the building of every aspect of the model and was the main wiki developer.
                </li>  
                <li><span style="font-family: 'Glacial Indifference Bold'; background: -webkit-linear-gradient(#ffc973, #3aa9c5); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Emmanouil-Anastasios Serlis</span><br>
                Electrical and Computer Engineering undergraduate student at the National Technical University of Athens and is a member of our Dry Lab and the Fundraising Team. He carried out the fitting of the model parameters, the creation of the software and the improvement of a part.
                </li>   
                <li><span style="font-family: 'Glacial Indifference Bold'; background: -webkit-linear-gradient(#ffc973, #61b872, #3aa9c5); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Marianna Mitsioni</span><br>
                Chemical engineering undergraduate student at the National Technical University of Athens and is a member of the Wet and Dry Lab and the Fundraising Team. She was involved in model development, graphics design and team funding.              
                </li> 
                <li><span style="font-family: 'Glacial Indifference Bold'; background: -webkit-linear-gradient(#ffc973, #61b872); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Nikoletta Drazinaki</span><br>
              Biology undergraduate student of the National Kapodistrian University of Athens. She is a member of the Wet lab and the Fundraising team. Apart from her work at the laboratory, she  also dealt with safety issues of our team and organised several events about it. She also contributed to  the Education & Communication actions.
                </li>  
                <li><span style="font-family: 'Glacial Indifference Bold'; background: -webkit-linear-gradient(#ffc973, #61b872); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Pantelis Stragalis</span><br>
                Undergraduate student of the Department of Pharmacy at the National Kapodistrian University of Athens. He is a member of the Wet lab and the Fundraising team. In addition to the many experiments he carried out in the laboratory, Pantelis also dealt with a more philosophical extension of our project, which was illustrated with specific Education & Communication actions.               
                </li>
                <li><span style="font-family: 'Glacial Indifference Bold'; background: -webkit-linear-gradient(#ef4b4c, #61b872); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Sofia Oikonomou</span><br>
                Biology Graduate of the University of Patras, and she is a member of the Wet lab and the Human Practices team. Her contribution was crucial for the laboratory course of the team as well as for the organisation of activities aimed at the communication of science and education.                </li>
              </ul>
            </p>
          </div>

      <!--Project Assistance--> 
      <div class="container">
        <a id="project" class="anchorOffset"></a>
        <h1>Project Assistance</h1>
        <p><span style="color: #FF9933;">Prof. Evangelos Topakas</span>, Associate Professor at School of Chemical Engineering of National  Technical University of Athens and our Primary PI, provided general consultation and valuable help in dealing with bureaucracy all along the way. He has always been supportive to iGEM Teams from Athens. As his research interests are directed towards Industrial Biotechnology, he proposed a potential application of our system in a bioreactor. Our team wouldn’t have made it without his commitment and his advice.
          <br>
          <br>
          <span style="color: #FF9933;">Dr. Andreas Agathangelidis</span>, Assistant Professor of Genetics at the Biology Department of National and Kapodistrian University of Athens and our Secondary PI, granted us his lab space to execute all our experimental work. Apart from space, he provided us with the necessary equipment for a significant portion of our experiments. In addition, his role has been essential in financing, ordering and receiving our lab supplies, as he was the one who communicated with the companies to get the offers and delivery dates. We would like to thank him for his dedication and patience. </p>
      </div>

      <!--Wet Lab--> 
      <div class="container">
        <a id="wet" class="anchorOffset"></a>
        <h1><span style="color: #61b872;">Wet Lab Support</span></h1>
        <p>
          <ul>
            <li><span style="color: #61b872;">Elena Pappa</span>, Member of Specialised Technical Laboratory Staff at the Biology Department of National and Kapodistrian University of Athens and our Instructor, took over our lab training and supervised our laboratory space. She also offered us extra lab space, useful equipment and generally much help as long as the experimental part is concerned, providing us with many supplies and consumable reagents our team did not possess. 
            </li>
            <li><span style="color: #61b872;">Prof. Skarlatos Dedos</span>, Associate Professor of Zoology at the Biology Department of National and Kapodistrian University of Athens, gave us access to indispensable equipment for our experimental work and was always available for discussing the troubleshootings. During the finding project phase, he was willing to advise us in order to end up with a prototypical and genuine idea. Furthermore, he instructed us how to use necessary lab machinery, such as the microplate reader,FlexStation3® (Molecular Devices). We would also like to thank the members of his lab for technical and practical help while working on the experimental part.
            </li> 
            <li><span style="color: #61b872;">Dr. Vivi Miriagou</span>, Research Director at the Bacteriology Laboratory of Hellenic Pasteur Institute, offered fundamental advice concerning troubleshooting during the experimental process and helped us pick up the most suitable bacterial strains.She also helped with the statistical analysis of the results. Her constructive criticism guided us to switch our focus from what we have imagined doing to what we could realistically achieve, keeping us grounded when we needed it most. She was very enthusiastic with our project and her good vibes kept as going.  
            </li>  
            <li><span style="color: #61b872;">Dr. Georgios Skretas</span>, Research Director at Enzyme & Synthetic Biotechnology Laboratory of National Hellenic Research Foundation, advised us about our constructs and provided us with laboratory consumables. Whenever needed, we had access to the spectrophotometer of his lab, in order to measure different parameters of our samples. 
            </li>  
            <li><span style="color: #61b872;">Prof. Panagoula Kollia</span>, Professor of Genetics at the Biology Department of National and Kapodistrian University of Athens, allowed us to use the equipment (photometre, agarose gel imager, centrifuge) of the Genetics and Biotechnology Section in NKUA.
            </li>  
            <li><span style="color: #61b872;">Prof. Dimitrios Hatzinikolaou</span>, Associate Professor of Microbial Biotechnology at the Biology Department of National and Kapodistrian University of Athens, helped us better understand what Synthetic Biology actually is and encouraged us to pick up a local project. Except for that, he placed at our service his Nanodrop spectrophotometer in order to measure our different samples as well as the sonicator.
            </li>  
            <li><span style="color: #61b872;">Prof. Georgios Diallinas</span>, Professor of Molecular Microbiology at the Biology Department of National and Kapodistrian University of Athens, provided us with our bacterial strains, as well as with useful advice. Additionally, he brought us in communication with Christos Gournas, a pivotal Integrated HP contact, concerning major changes we made to our biological circuit.
            </li>  
            <li><span style="color: #61b872;">Dr. Eleftheria Kravariti</span>, Member of the Laboratory Teaching Personnel at the Biology Department of National and Kapodistrian University of Athens, has always been willing to supply us with consumables reagents. Her contribution was also great in the molecular design of the plasmids and generally in the experimental field.
            </li>
            <li><span style="color: #61b872;">Adamantia Varympopi</span>, PhD candidate at the Biology Department of the National and Kapodistrian University of Athens at Dr. D Hatzinikolaou lab, helped with conducting Nanodrop measurements of our samples. 
            </li>  
            <li><span style="color: #61b872;">George Broutzakis and Yiannis Pyrris</span>, PhD candidates at the Biology Department of the National and Kapodistrian University of Athens at Dr. G. Diallinas lab,  for helping with the troubleshooting of our experiments by conducting SDS-PAGE and in-gel fluorescence for our samples. 
            </li> 
            <li><span style="color: #61b872;">Dr. Dimitra Zarafeta</span>, PostDoc Researcher at the Enzyme & Synthetic Biotechnology Laboratory of National Hellenic Research Foundation, she helped us with strain selection and incompatibility issues in plasmids. 
            </li> 
          </ul>
        </p>
      </div>

      <!--Dry Lab--> 
      <div class="container">
        <a id="dry" class="anchorOffset"></a>
        <h1><span style="color: #3aa9c5;">Dry Lab Support</span></h1>
        <p><ul>
          <li><span style="color: #3aa9c5;">Prof. Howard Salis</span>, Associate Professor of Biological and Chemical Engineering Synthetic Biology at Penn State University. He offered valuable help to the creation of our RBS library and the prediction of their translation initiation rates, as well as the creation of new synthetic RBSs.
          </li>
          <li><span style="color: #3aa9c5;">Dr. Michail Kavousanakis</span>, Assistant professor at School of Chemical Engineering, NTUA. He advised the dry lab members on how to design the model and especially how to approach the diffusion. 
          </li>
          <li><span style="color: #3aa9c5;">Miltiadis Stouras</span>, Computer Science PhD Student at EPFL, provided advice on how to create the software quickly and effectively. 
          </li>
          <li><span style="color: #3aa9c5;">Chariton Charitonidis, Software Engineer</span>, who advised us on the design and development of our website. He was also the person who suggested to us many features of HTML and CSS that we weren’t aware of and helped us adjust many gifs and components of the interface of our website and our application.
          </li>
        </ul>
      </p>
      </div>

      <!--Fundraising--> 
      <div class="container">
        <a id="fr" class="anchorOffset"></a>
        <h1><span style="color: #ffc973;">Fundraising</span></h1>
        <p>
          <ul>
            <li><span style="color: #ffc973;">Apostolos Zambaras</span>, at the Special Account for Research Funding (E.L.K.E.) of National Technical University of Athens, offered his valuable help and advice during the fundraising process, in combination with necessary feedback for all the bureaucratic matters of our team. Without him, we wouldn’t have been able to make all the fundraising steps.
            </li>
            <li><span style="color: #ffc973;">Prof. Aristidis Parmakelis</span>, Associate Professor and Chairman at the Biology Department of National and Kapodistrian University of Athens, dealt with getting all our laboratory supplies financed. Not only proved to be essential for the lab consumables, but also facilitated the fiananciation of travel and accommodation expenses for some of our members.
            </li> 
            <li><span style="color: #ffc973;">Prof. Andreas Boudouvis</span>, Professor at School of Chemical Engineering and Rector of the National Technical University of Athens, brought us in contact with companies and mediated for some fundraising issues.  
            </li>  
            <li><span style="color: #ffc973;">Aikaterini Krithinaki</span>, offered voluntary assistance with PR and fundraising issues, greatly facilitating the finding, the accounting and the logistics of funds for the travel and accommodation expenses for some of our members.
            </li>  
            <li><span style="color: #ffc973;">Georgios Xenos</span>, at the Special Account for Research Funding (E.L.K.E.) of National Technical University of Athens.
            </li>  
          </ul>
        </p>
      </div>

      <!--Human Practices--> 
      <div class="container">
        <a id="hp" class="anchorOffset"></a>
        <h1><span style="color: #ef4b4c;">Human Practices & Science Communication</span></h1>
        <p><ul>
          <li>
            The <span style="color: #ef4b4c;">BEST (Board of European Students of Technology) Athens</span>, ESN (Erasmus Student Network)</span> of the National Technical University of Athens and Mindspace teams </span> who invited us to participate in the NGOs’ Fair Event.
          </li>
          <li>
            The <span style="color: #ef4b4c;">UNIque Minds</span> team contacted us to take part in UNIque Days event.
          </li>
          <li>
            The <span style="color: #ef4b4c;">Chemecon</span> team who gave us the opportunity to be part of the Biochem day.
          </li>
          <li>
            The <span style="color: #ef4b4c;">TEDxAthens</span> administrative team who chose us to present a workshop in this enormous organisation. 
          </li>
          <li>
            The <span style="color: #ef4b4c;">Scientific Society of Hellenic Medical Students</span> team who offered us the chance to communicate the main idea of our project, meet representatives of other iGEM teams of Greece and organise an educational workshop. 
          </li>
          <li>
            The <span style="color: #ef4b4c;">The Greek Pharmaceutical Students' Federation and the European Pharmaceutical Students' Association</span> which will give us the opportunity to participate in the 18th EPSA Autumn Assembly 2022, offered us the chance to communicate Synthetic Biology and to organise an educational workshop.
          </li>
          <li> 
            The <span style="color: #ef4b4c;">Medicine department</span> of NKUA which let us use the auditorium of the library of the school of health sciences of the NKUA to host our debate event.
          </li>
          <li>
            <span style="color: #ef4b4c;">Filippos Koutsodimitropoulos</span>, 
            <span style="color: #ef4b4c;">Georgios-Nikolaos Vlachos</span> and
            <span style="color: #ef4b4c;">Philippos Petropoulos</span>, 3 students who volunteered to compete in our debate as speakers. 
          </li>
          <li>
            <span style="color: #ef4b4c;">The Foititikos Cosmos</span> online newspaper which hosted our article. 
          </li>
          <li>
            <span style="color: #ef4b4c;">Yiannis Sarakatsanis </span> who hosted us in one of his YouTube online shows as well as <span style="color: #ef4b4c;"> Michalis Papazisis </span> for the technical support.
          </li>
          <li>
            <span style="color: #ef4b4c;">The Anavryta Μodel Lyceum </span>  for giving us the chance to present a workshop and introduce Synthetic biology to students.  
          </li>
          <li>
            <span style="color: #ef4b4c;">128th Kindergarten of Athens</span> which embraced our fairy tale and included it in one day’s kindergarten program. 
          </li>
          <li>
            <span style="color: #ef4b4c;"> Dr. Ally Huang </span> who donated two BioBits®: Protein Structure and Function kits and two P51™ Molecular Fluorescence Viewers to our team for our upcoming Education and Science Communication actions.
          </li>
          <li>
            <span style="color: #ef4b4c;"> Athina Oikonomou </span> who helped us design the 3D-printable gel combs we used at Researcher’s Night in Rhino.
          </li>
          <li>
            <span style="color: #ef4b4c;"> The Prometheus Eco Racing Team (NTUA), </span> who provided their 3D-printer to print our 3D-printed gel combs.

          </li>
          <li>
            <span style="color: #ef4b4c;"> Isidora Papakonstantinou, </span> who sewed the RNA-polymerase and ribosome props we utilized at Researcher’s Night.

          </li>
        </ul>
        </p>
      </div>

      <!--Special Thanks--> 
      <div class="container">
        <a id="thanks" class="anchorOffset"></a>
        <h1><span style="color: #8a72c1;">Special Thanks</span></h1>
        <p>
          <ul>
            <li><span style="color: #8a72c1;">Vangelis Papaevangeliou</span>, who edited our project’s promotional video and guided us during the generation of our project promotion video.
            </li>  
            <li>The members of <span style="color: #8a72c1;">previous iGEM Athens teams</span>, who supported us in both practical and psychological ways. We really appreciate their precious help and devotion to this year’s project.<br><br>
              We want to mention some of them by name:
              <br> - Maria Litsa, for advices on promoting our project and experimental procedures as well. 
              <br> - Anastasios Galanis, Nicolaos Kalavros, Marianna Ioannidou and Spyridon Kanellopoulos for advices regarding the design of our project and the experimental procedures.
              <br> - Ilias Toumpe, for helping us in the fundraising procedures.
              <br> - Orsalia Veloudiou, for helping as with human practices and inspiring us with her good mood.
              <br> - All the 2021 team for giving us the opportunity to live this experience.

            </li>  
          </ul>
        </p>
      </div>
  </div>

</div>
</body>

<!-- Footer -->
{% include 'footer.html' %}

</html>