<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4294/wiki/favicon-white.png"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>
    
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/description_style_aspa.css') }}" rel="stylesheet">

    <!--For loader JS script-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <script type= "text/javascript" src="../static/scripts/jquery.min.js"></script>

    <!--Custom menu CSS-->
    <link href="{{url_for('static',filename='css/menu_style_aspa.css')}}" rel="stylesheet">

    <!--Custom footer CSS-->
    <link href="{{url_for('static',filename='css/footer_style_aspa.css')}}" rel="stylesheet">

    <!--Custom loader CSS-->
    <link href="{{url_for('static',filename='css/loader_style.css')}}" rel="stylesheet">

     <!--Custom to top button CSS-->
     <link href="{{url_for('static',filename='css/to_top_button.css')}}" rel="stylesheet">
    <title>PERspectives | Project Description</title>
</head>

<body>
<!-- Navigation -->
{% include 'menu_custom.html' %}

<!--To top button-->
{% include 'to_top_button.html'%}

<!--Header-->

<!-- <div class="hero">
    <div class="inspiration">
        <h1>Inspiration</h1>
        <p>Networks have come to pervade the world we live in, from the Internet to networks of public transport, disease transmission, even brain neurons. By imitating those very neurons, computer scientists designed the first Artificial Neural Network (ANN), forever revolutionizing the data processing domain. With data processing being crucial to biological procedures as well, we thought that going backwards and designing a bacterial artificial intelligence system based on ANNs would provide new prospects in many fields. 
            It is true that cells can process information and proceed to a specific action based on their environment. In most applications of biological engineering, not only in biomedicine but also in ecology and industry, single cells or cellular systems are used for the detection of specific molecules that lead to a specific reaction. Therefore, all these applications are based on the ability of cells to process information. However, one of the current problems in synthetic biology is that single cell engineering, and thus information processing, is limited by two factors. First there is the necessary molecular complexity, and secondly this complexity is accompanied by the metabolic burden of synthetic circuits. 
            Our inspiration to create a biological system that implements the perceptron algorithm aims to tackle this problem and be able to process multiple complex information in order to proceed to a specific action.
        </p>
    </div>
</div> -->



<div class="section">
    <img class="section_img" src="https://static.igem.wiki/teams/4294/wiki/description/description-page.gif" width="100%">  
</div>

<div class="section">
    <img class="section_img" src="https://static.igem.wiki/teams/4294/wiki/description/description-page.gif" width="100%">  
</div>

<div class="section">
    <img class="section_img" src="https://static.igem.wiki/teams/4294/wiki/description/description-page.gif" width="100%">  
</div>

<div class="section">
    <img class="section_img" src="https://static.igem.wiki/teams/4294/wiki/description/description-page.gif" width="100%">  
</div>



<!--Loader-->   
{% include 'loader.html'%}

<!-- Footer -->
{% include 'footer.html' %}
