<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4294/wiki/favicon-white.png"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>
    
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/implementation_style.css') }}" rel="stylesheet">

    <!-- Loader -->
    <script type= "text/javascript" src="../../athens/static/scripts/jquery.min.js"></script>

    <!--Custom menu CSS-->
    <link href="{{url_for('static',filename='css/menu_style_aspa.css')}}" rel="stylesheet">

    <!--Custom footer CSS-->
    <link href="{{url_for('static',filename='css/footer_style_aspa.css')}}" rel="stylesheet">

     <!--Custom to top button CSS-->
     <link href="{{url_for('static',filename='css/to_top_button.css')}}" rel="stylesheet">
    <title>Perspectives | Implementation</title>
</head>

<body>
<!-- Navigation -->
{% include 'menu_custom.html' %}

<!--To top button-->
{% include 'to_top_button.html'%}

<div class="page_header">
    <img class="img_header" src="https://static.igem.wiki/teams/4294/wiki/contribution/project-bg.gif" width="100%">
    <div class="heading">Implementation</div>    
</div>


<div class="cc" id="cc-implementaion">
  <div class="left-side">
      <div class="index-bar">
          <h2><b>Index</b></h2>
          <ul class="lateral-index">
              <li class="lateral-content">
                  <a href="#intro">Introduction</a>
              </li>
              <li class="lateral-content">
                  <a href="#health">Health</a>
              </li>
              <li class="lateral-content">
                  <a href="#safety">Safety</a>
              </li>
              <li class="lateral-content">
                <a href="#environment">Environment</a>
              </li>
              <li class="lateral-content">
                <a href="#manufactoring">Manufactoring</a>
              </li>
              <li class="lateral-content">
                <a href="#space">Space</a>
              </li>
              <li class="lateral-content">
                <a href="#biocomputing">Biocomputing</a>
              </li>
              <li class="lateral-content">
                  <a href="#references">References</a>
              </li>
          </ul>
      </div>
  </div>
  
  <div class="right-side">
      <section class="introduction">
          <a id="intro" class="anchorOffset"></a>
          <br><br>
          <h1><b>Introduction</b></h1>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sequi nulla explicabo, in eum aut voluptates maiores? Qui, non cum ab fugiat perferendis impedit aperiam ad officia. Ab, magnam minima.</p>
          <br>
      </section>
      <section class="healh">
        <a id="health" class="anchorOffset"></a>
        <br><br>
        <h1><b>Health</b></h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sequi nulla explicabo, in eum aut voluptates maiores? Qui, non cum ab fugiat perferendis impedit aperiam ad officia. Ab, magnam minima.</p>
        <br>
      </section>
      <section class="safety">
          <a id="safety" class="anchorOffset"></a>
          <br><br>
          <h1><b>Safety</b></h1>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sequi nulla explicabo, in eum aut voluptates maiores? Qui, non cum ab fugiat perferendis impedit aperiam ad officia. Ab, magnam minima.</p>
          <br>
      </section>
      <section class="environment">
          <a id="environment" class="anchorOffset"></a>
          <br><br>
          <h1><b>Environment</b></h1>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sequi nulla explicabo, in eum aut voluptates maiores? Qui, non cum ab fugiat perferendis impedit aperiam ad officia. Ab, magnam minima.</p>
          <br>
      </section>
      <section class="manufactoring">
          <a id="manufactoring" class="anchorOffset"></a>
          <br><br>
          <h1><b>Manufactoring</b></h1>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sequi nulla explicabo, in eum aut voluptates maiores? Qui, non cum ab fugiat perferendis impedit aperiam ad officia. Ab, magnam minima.</p>
          <br>
      </section>
      <section class="space" >
          <a id="space" class="anchorOffset"></a>
          <br>
          <h2>Space</h2>
          <br>
          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, asperiores nihil pariatur esse quia accusamus necessitatibus officiis perspiciatis. Quas porro reiciendis quae labore, velit temporibus molestiae et nihil omnis non?.</p>
          <br>
      </section>
      <section class="biocomputing">
          <a id="biocomputing" class="anchorOffset"></a>
          <br>
          <h2>Biocomputing</h2>
          <br>
          <p> Senders future plans, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
              cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <br>
      </section> 
      <section class="collapsible">
          <a id="references" class="anchorOffset"></a>
          <input type="checkbox" id="collapsible-head">
              <label for ="collapsible-head">References</label>    
              <div class="collapsible-content">
              <cite>
                  <a href="https://www.nature.com/articles/s41467-021-23336-0">
                      1. Li, X., Rizik, L., Kravchik, V. et al. Synthetic neural-like computing in microbial consortia for pattern recognition. Nat Commun 12, 3139 (2021). https://doi.org/10.1038/s41467-021-23336-0
                  </a>
              </cite>
              <cite>
                  <a href="https://2014.igem.org/Team:ETH_Zurich">
                      2. Team Zurich 2014
                  </a>
              </cite>
          </div>
      </section>
  </div>
</div>


<script>
    function show(param_div_id) {
    document.getElementById('cc-senders').innerHTML = document.getElementById(param_div_id).innerHTML;
  }
</script>

</body>

<!-- Footer -->
{% include 'footer.html' %}

<!--Loader-->   
{% include 'loader.html'%}  

</html>
