<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4294/wiki/favicon-white.png"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>
    
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/index_page_style_aspa.css') }}" rel="stylesheet">

    <!-- Loader -->
    <script type= "text/javascript" src="../../athens/static/scripts/jquery.min.js"></script>

    <!--Custom menu CSS-->
    <link href="{{url_for('static',filename='css/menu_style_aspa.css')}}" rel="stylesheet">

    <!--Custom footer CSS-->
    <link href="{{url_for('static',filename='css/footer_style_aspa.css')}}" rel="stylesheet">
    
     <!--Custom to top button CSS-->
     <link href="{{url_for('static',filename='css/to_top_button.css')}}" rel="stylesheet">
    <title> Perspectives | Athens - iGEM 2022</title>
</head>

<body>
<!-- Navigation -->
{% include 'menu_custom.html' %}

<!--To top button-->
{% include 'to_top_button.html'%}

<!-- Super GIF -->

<div class="supergif">
    <img class="img_supergif" src="https://static.igem.wiki/teams/4294/wiki/home-page-staff/teaser-perspectives-final.gif" width="100%">
</div>

<!-- From biology to cs section -->
<div class="biology_to_cs">
    <img src="https://static.igem.wiki/teams/4294/wiki/home-page-staff/from-biology-to-computer-science.png" width="100%">
</div>

<!-- What is PERspectives? -->
<div class="what-section">
    <img class="what-img" src="https://static.igem.wiki/teams/4294/wiki/home-page-staff/home-page-staff-1080-1080-px.gif" width="100%">
    <div class="text-box-what">
        <p>
            Inspired by <span style="font-size: 48px; color: #3aa9c5; font-family: 'Glacial Indifference Bold';">computer science</span>, our goal is to implement 
            the <span style="font-size: 48px; color: #6f71ff; font-family: 'Glacial Indifference Bold';">Perceptron</span>, a computational algorithm 
            that is the basis of <span style="font-size: 48px; color: #ef4b4c; font-family: 'Glacial Indifference Bold';">Artificial Neural Networks </span> 
            in a <span style="font-size: 48px; color: #61b872; font-family: 'Glacial Indifference Bold';">biological circuit</span>. Two bacterial populations, the 
            senders and the receivers, will be engineered to chemically communicate with each other, creating a network. Senders will recognize external input 
            patterns in a weighted manner, by producing different amounts of a quorum sensing molecule. Then, receivers will respond to the final concentration of 
            this molecule if a specific threshold is surpassed, triggering the synthesis of 
            a <span style="font-size: 45px; color: #c9e265; font-family: 'Glacial Indifference Bold';">fluorescent protein</span>.
        </p>
    </div>
</div>

<!-- Where do we aim? -->
<div class="aim-section">
    <img class="aim-img" src="https://static.igem.wiki/teams/4294/wiki/home-page-staff/home-page-staff-1080-1080-px-1.gif" width="100%">
    <div class="text-box-aim">
        <p>
            Our proposing system aims to achieve complex sensing capabilities by separating simple sensing tasks in different subpopulations of a cell population. We are 
            offering a new perspective in the biosensing field and transfer this ideation from a bacterial population to the cooperation of multiple ones.
        </p>
    </div>
    <img class="blibli-img" src="https://static.igem.wiki/teams/4294/wiki/home-page-staff/bliblitsonia.gif" width="100%">
</div>




<!-- Triple Section ---->

<div class="backup_dark">
    <div class="container">
        <div class="box-wet">
            <div class="triple_logos_wet">
            <img class="non-hover-img-wet" src="https://static.igem.wiki/teams/4294/wiki/navbar-icons/updated-icons/navbar-wet-lab.png">
            <a href="#"><img class="hover-img-wet" src=" https://static.igem.wiki/teams/4294/wiki/home-page-staff/6-copy-of-navbar-wet-lab-1.png"></a>
            </div>
            <h1>Wet Lab</h1>
        </div>
        <div class="box-dry">
            <div class="triple_logos_dry">
            <img class="non-hover-img-dry" src="https://static.igem.wiki/teams/4294/wiki/navbar-icons/updated-icons/navbar-dry-lab.png">
            <a href="#"><img class="hover-img-dry" src="https://static.igem.wiki/teams/4294/wiki/navbar-icons/updated-icons/navbar-dry-lab.png"></a>
            </div>
            <h1>Dry Lab</h1>
        </div>
        <div class="box-hp">
            <div class="triple_logos_hp">
            <img class="non-hover-img-hp" src="https://static.igem.wiki/teams/4294/wiki/navbar-icons/updated-icons/navbar-hp.png">
            <a href="#"><img class="hover-img-hp" src="https://static.igem.wiki/teams/4294/wiki/home-page-staff/11-copy-of-navbarl-hp-1.png"></a>
            </div>
            <h1>Human Practices</h1>
        </div>
    </div>
</div>

</body>

<!-- Footer -->
{% include 'footer.html' %}


<!-- Loader --->  
{% include 'loader.html'%}

</html>