<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4294/wiki/favicon-white.png"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>
    
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/index_css.css') }}" rel="stylesheet">

    <!--Custom menu CSS-->
    <link href="{{url_for('static',filename='css/home_page_menu.css')}}" rel="stylesheet">

    <!--Custom footer CSS-->
    <link href="{{url_for('static',filename='css/footer_style.css')}}" rel="stylesheet">
    
    <link href="{{ url_for('static', filename = 'css/fonts.css') }}" rel="stylesheet">

    <title> Perspectives | Athens - iGEM 2022</title>
</head>

<body>
<!-- Navigation -->
{% include 'menu_custom.html' %}

<section class="supergif">
</section>



<section class="biology_to_cs">
    <img src="https://static.igem.wiki/teams/4294/wiki/home-page-staff/from-biology-to-computer-science.png" width="100%">
</section>

<section class="backup_dark"
<section class="our_project">
    <div text_box>
        Inspired by computer science, our goal is to implement the “Perceptron”, a computational algorithm that is the basis of ANNs, in a biological circuit. Taking into account the complexity of living systems and the emerging need to deal with biological noise and metabolic burden, we chose to build our cellular device on the population scale. Two bacterial populations, the senders and the receivers, will be engineered to chemically communicate with each other, creating a network. Senders will  recognize external input patterns in a weighted manner, by producing different amounts of a quorum sensing molecule. Then, receivers will respond to the final concentration of this molecule if a specific threshold is surpassed, triggering the synthesis of a fluorescent protein.
    </div>
</section>   
</section>

<section class="backup_light"
<section class="goals">
    <div class="row">
        <div class="image_box">
            <h1 style="font-size: 60px;">Where do we <span style="color: #ef4b4c">aim</span>?</h1>
            <img src="https://static.igem.wiki/teams/4294/wiki/home-page-staff/aim.png" width="100%">
        </div> 
        <div class="text_col">
            <p style="font-size: 30px; text-align: justify">Our proposing system aims to achieve complex sensing capabilities by separating simple sensing tasks in different subpopulations of a cell population. We are offering a new perspective in the biosensing field and transfer this ideation from a bacterial population to the cooperation of multiple ones. Due to its intrinsic capability of cellular decision making, our biocomputing circuit can have various biosensing applications in medicine, the environment, industry, and limitless other fields.</p>
        </div>      
    </div>     
</section>
</section>

<!-- Triple Section ----> 
<section class="backup_dark">
<section class="triple_section">
<div class="container">
    <div class="box">
        <div class="icon"><i class="img_icon"><img src="https://static.igem.wiki/teams/4294/wiki/navbar-icons/navbar-dry-lab.png"></i></div>
        <div class="content">
            
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci accusamus eum fugiat exercitationem asperiores in necessitatibus consequuntur architecto non aliquam a doloremque perspiciatis provident saepe optio sapiente aliquid, eius labore!</p> -->
        <a href="#"><h1 style="font-size: 60px;">Wet Lab</h1></a>
        </div>
    </div>

    <div class="box">
        <div class="icon">02</div>
        <div class="content">
            <h1 style="font-size: 60px;">Dry Lab</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci accusamus eum fugiat exercitationem asperiores in necessitatibus consequuntur architecto non aliquam a doloremque perspiciatis provident saepe optio sapiente aliquid, eius labore!</p> -->
        <a href="#">Read More</a>
        </div>
    </div>

    <div class="box">
        <div class="icon">03</div>
        <div class="content">
            <h1 style="font-size: 60px;">Human Practices</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci accusamus eum fugiat exercitationem asperiores in necessitatibus consequuntur architecto non aliquam a doloremque perspiciatis provident saepe optio sapiente aliquid, eius labore!</p> -->
        <a href="#">Read More</a>
        </div>
    </div>
</div>
</section>




<!-- <div class="sections_row">
    <div class="sections_col">
        <div class="layer_wet">
            <img src="https://static.igem.wiki/teams/4294/wiki/navbar-icons/navbar-dry-lab.png">
            Wet Lab
        </div>
        <div class="layer_dry">
            <img src="https://static.igem.wiki/teams/4294/wiki/navbar-icons/navbar-dry-lab.png">
            Dry Lab
        </div>
        <div class="layer_hp">
            <img src="https://static.igem.wiki/teams/4294/wiki/navbar-icons/navbar-dry-lab.png">
            Human Practices
        </div>
    </div>

</div> -->
</section>

<!-- Footer -->
{% include 'footer.html' %}


</body>
</html>