<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4294/wiki/favicon-white.png"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>
    
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/index_page_style_aspa.css') }}" rel="stylesheet">

    <!--Custom menu CSS-->
    <link href="{{url_for('static',filename='css/menu_style_aspa.css')}}" rel="stylesheet">

    <!--Custom footer CSS-->
    <link href="{{url_for('static',filename='css/footer_style_aspa.css')}}" rel="stylesheet">
    
     <!--Custom to top button CSS-->
     <link href="{{url_for('static',filename='css/to_top_button.css')}}" rel="stylesheet">
    <title> Perspectives | Athens - iGEM 2022</title>
</head>

<body>
<!-- Navigation -->
{% include 'menu_custom.html' %}

<!--To top button-->
{% include 'to_top_button.html'%}

<!-- Super GIF -->

<div class="supergif">
    <img class="img_supergif" src="https://static.igem.wiki/teams/4294/wiki/home-page-staff/teaser-perspectives-final.gif" width="100%">
</div>

<!-- From biology to cs section -->
<div class="biology_to_cs">
    <img src="https://static.igem.wiki/teams/4294/wiki/home-page-staff/from-biology-to-computer-science.png" width="100%">
</div>

<!-- What is PERspectives? -->
<div class="generic_sections">
    <img src="https://static.igem.wiki/teams/4294/wiki/home-page-staff/home-page-staff-1.gif" width="100%">
</div>


<div class="generic_sections">
    <img src="https://static.igem.wiki/teams/4294/wiki/home-page-staff/home-page-staff-2.gif" width="100%">
</div>

<!-- PERspectives-->
<!-- <section class="backup_dark">
<section class="our_project">
    <h1 style="font-size: 60px;">What is <span style="color: #3aa9c5 ; font-family:'Glacial Indifference Bold'">PER</span>spectives?</h1>
    <img src="https://static.igem.wiki/teams/4294/wiki/favicon-white.png" width="100%">
    <div text_box>
        
    </div>
</section>   
</section> -->


<!-- PERspectives
<section class="backup_light">
<section class="goals">
    <h1 style="font-size: 60px;">Where do we <span style="color: #ef4b4c ; font-family:'Glacial Indifference Bold'">aim</span>?</h1>
    <img src="https://static.igem.wiki/teams/4294/wiki/home-page-staff/aim.png" class="image-box">
    <div class="text-box">
        <p style="font-size: 30px; text-align: justify">Our proposing system aims to achieve complex sensing capabilities by separating simple sensing tasks in different subpopulations of a cell population. We are offering a new perspective in the biosensing field and transfer this ideation from a bacterial population to the cooperation of multiple ones. Due to its intrinsic capability of cellular decision making, our biocomputing circuit can have various biosensing applications in medicine, the environment, industry, and limitless other fields.</p>
    </div>         
</section>
</section> -->

<!-- Triple Section ----> 
<div class="backup_dark">
<div class="triple_section">
<div class="container">
    <div class="box">
        <div class="icon"><i class="img_icon"><img src="https://static.igem.wiki/teams/4294/wiki/navbar-icons/updated-icons/navbar-wet-lab.png" width="75px"></i></div>
        <div class="content">
            <br><br><br><br>
        <a href="#"><h1 style="font-size: 60px; font-family: 'Glacial Indifference Bold';">Wet Lab</h1></a>
        </div>
    </div>

    <div class="box">
        <div class="icon"><img src="https://static.igem.wiki/teams/4294/wiki/navbar-icons/updated-icons/navbar-dry-lab.png" width="75px"></div>
        <div class="content">
            <br><br><br><br>
        <a href="#"><h1 style="font-size: 60px; font-family: 'Glacial Indifference Bold';">Dry Lab</h1></a>
        </div>
    </div>

    <div class="box">
        <div class="icon"><img src="https://static.igem.wiki/teams/4294/wiki/navbar-icons/updated-icons/navbar-hp.png" width="75px"></div>
        <div class="content">
            <br><br><br>
        <a href="#"><h1 style="font-size: 60px; font-family: 'Glacial Indifference Bold';">Human Practices</h1></a>
        </div>
    </div>
</div>
</div>




<!-- <div class="sections_row">
    <div class="sections_col">
        <div class="layer_wet">
            <img src="https://static.igem.wiki/teams/4294/wiki/navbar-icons/navbar-dry-lab.png">
            Wet Lab
        </div>
        <div class="layer_dry">
            <img src="https://static.igem.wiki/teams/4294/wiki/navbar-icons/navbar-dry-lab.png">
            Dry Lab
        </div>
        <div class="layer_hp">
            <img src="https://static.igem.wiki/teams/4294/wiki/navbar-icons/navbar-dry-lab.png">
            Human Practices
        </div>
    </div>

</div> -->
</div>

{% include 'loader.html'%}

<!-- Footer -->
{% include 'footer.html' %}


</body>
</html>