<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4294/wiki/favicon-white.png"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <!--For loader JS script-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <!-- <script type= "text/javascript" src="../static/scripts/jquery.min.js"></script> -->

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/model_style.css') }}" rel="stylesheet">

    <!--Custom menu CSS-->
    <link href="{{url_for('static',filename='css/menu_style_aspa.css')}}" rel="stylesheet">

    <!--Custom footer CSS-->
    <link href="{{url_for('static',filename='css/footer_style_aspa.css')}}" rel="stylesheet">

    <!--CSS for Model Page-->
    <link href="{{url_for('static',filename='css/model_style.css')}}" rel="stylesheet">

    <!--Custom to top button CSS-->
    <link href="{{url_for('static',filename='css/to_top_button.css')}}" rel="stylesheet">

    <!--MathJax Import-->

    <script type= "text/javascript" src="../static/scripts/polyfill.min.js"></script>
    <script type= "text/javascript" src="../static/scripts/tex-chtml.js"></script>
    <!--<script type="text/javascript" src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>-->

    <title>Perspectives | Model</title>
</head>

<body>
<!-- Navigation -->
{% include 'menu_custom.html' %}

<!--To top button-->
{% include 'to_top_button.html'%}

<div class="page_header">
    <img class="img_header" src="https://static.igem.wiki/teams/4294/wiki/model-page-images/dry-notebook-header.gif" width="100%">
    <div class="heading">Model</div>    
</div>

<!-- <div class="header_one">
    <img src="https://static.igem.wiki/teams/4294/wiki/model-page-images/t-tjusls-china-face-model.jpg" width="100%">
</div> -->

<div class="overview-model">
    <h1>Overview</h1>
    <p>
        Alongside with our wet lab work, computational modelling of our PERspectives system has been proven to be crucial in order to establish a workflow for future 
        applications. Our model is divided into two separate parts, the modelling of the senders and the modelling of the receivers. 
        <br><br>
        The aim of the model is to predict the change in concentrations of key chemical substances, the rate of gene expression and to evaluate the regulatory capacity 
        of our system. Also, based on the experimental work carried out by the wet lab, we determined some kinetic constants to create a customised kinetic model for 
        our system. But we did not limit ourselves to just creating a kinetic model. For our system it is also important to observe the effect of lactone diffusion as 
        well as the stability analysis.
        <br><br>
        In the following sections, we describe an outline of the aforementioned models and, most importantly, the thinking process we followed during their development. 
        We hope they will serve as a helpful companion to anyone who wishes to use the PERspective system in the future, and, as everything else in iGEM, open to 
        recommendations and improvements from the SynBio community.
    </p>
</div>


<div class="buttons">
    <div class="button">
        <a onclick="show('cc-senders-2')">Senders</a>
    </div>
    <div class="button">
        <a onclick="show('cc-receivers')">Receivers</a>
    </div>
</div>



<div class="cc" id="cc-senders">
    <div class="left-side">
        <div class="index-bar">
            <h2><b>Index</b></h2>
            <ul class="lateral-index">
                <li class="lateral-content">
                    <a href="#intro">Introduction.S</a>
                </li>
                <li class="lateral-content">
                    <a href="#results">Results.S</a>
                </li>
                <li class="lateral-content">
                    <a href="#discussion">Discussion.S</a>
                </li>
                <li class="lateral-content">
                    <a href="#references">References.S</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="right-side">
        <section class="introduction">
            <a id="intro" class="anchorOffset"></a>
            <br><br>
            <h1><b>Senders System: Explained</b></h1>
            <br><br>
            <h2>aTc promoter</h2>
            <br>
            <p> aTc promoter:
                The purpose of our team is to create 3x1 patterns of E.coli ‘Senders’ subpopulations that express the LuxI gene at a different rate. <br>
                To achieve this, we designed a regulatory system based on the aTc promoter. If there is no aTc in the system, the promoter is repressed by the TetR 
                regulator. If aTc is present in the system, then it binds with the TetR, creating a complex that is pumped out of the cell, allowing the mRNA of the 
                following gene to be produced. A simple explanation of the operation of the aTc is presented in the picture below:
                </p>
            <br>
        </section>
        <section class="main" >
            <a id="results" class="anchorOffset"></a>
            <br>
            <h2>Senders Results</h2>
            <br>
            <p> Senders model results, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
            <img src="https://static.igem.wiki/teams/4294/wiki/model-page-images/senders-img.png">
            <br>
            <p> Senders model commentary, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. </p>
            <br>
            <div class="equations">
                <p>\(x = {-b \pm \sqrt{b^2-4ac} \over 2a}\)</p>
                <p>\( {d_{mNeonGreen} \over dt } = a_{max}*{[Dimer]^n \over {[Dimer]^n + K_{d}^n}}-d_{mng}*[mng]\)</p>
                <p>\(ax^2+bx+c=0\)</p>
            </div>
            <br>
        </section>
        <table class="content-table">
            <thead>
              <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>d1</td>
                <td>Degradation rate 1</td>
                <td>100(1/min)</td>
              </tr>
              <tr class="active-row">
                <td>d2</td>
                <td>Degradation rate 2</td>
                <td>10(1/min)</td>
              </tr>
              <tr>
                <td>d3</td>
                <td>Degradation rate 3</td>
                <td>11(1/min)</td>
              </tr>
            </tbody>
        </table>
        <section class="discussion">
            <a id="discussion" class="anchorOffset"></a>
            <br>
            <h2>Senders Future Plans</h2>
            <br>
            <p> Senders future plans, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
        </section> 
        <section class="collapsible">
            <input type="checkbox" id="collapsible-head">
                <label for ="collapsible-head">References</label>    
                <div class="collapsible-content">
                <cite>
                    <a href="https://www.nature.com/articles/s41467-021-23336-0">
                        1. Li, X., Rizik, L., Kravchik, V. et al. Synthetic neural-like computing in microbial consortia for pattern recognition. Nat Commun 12, 3139 (2021). https://doi.org/10.1038/s41467-021-23336-0
                    </a>
                </cite>
                <cite>
                    <a href="https://2014.igem.org/Team:ETH_Zurich">
                        2. Team Zurich 2014
                    </a>
                </cite>
            </div>
        </section>
    </div>
</div>

<div class="cc" id="cc-receivers">
    <div class="left-side">
        <div class="index-bar">
            <h2><b>Index</b></h2>
            <ul class="lateral-index">
                <li class="lateral-content">
                    <a class="inner-link" href="#intro">Introduction.R</a>
                </li>
                <li class="lateral-content">
                    <a class="inner-link" href="#results">Results.R</a>
                </li>
                <li class="lateral-content">
                    <a class="inner-link" href="#discussion">Discussion.R</a>
                </li>
                <li class="lateral-content">
                    <a class="inner-link" href="#references">References.R</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="right-side">
        <section class="introduction">
            <a id="intro" class="anchorOffset"></a>
            <br><br>
            <h1><b>Receivers Model</b></h1>
            <br><br>
            <h2>Receivers Prep</h2>
            <br>
            <p> Receivers model intro, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
        </section>
        <section class="main" >
            <a id="results" class="anchorOffset"></a>
            <br>
            <h2>Receivers Results</h2>
            <br>
            <p> Receivers model results, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
            <img src="https://static.igem.wiki/teams/4294/wiki/model-page-images/receivers-img.png">
            <br>
            <div class="equations">
                <p>\(x = {-b \pm \sqrt{b^2-4ac} \over 2a}\)</p>
                <p>\( {d_{mNeonGreen} \over dt } = a_{max}*{[Dimer]^n \over {[Dimer]^n + K_{d}^n}}-d_{mng}*[mng]\)</p>
                <p>\(ax^2+bx+c=0\)</p>
            </div>
            <br>
            <p> Receivers model commentary, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. </p>
            <br>
        </section>
        <section class="discussion">
            <a id="discussion" class="anchorOffset"></a>
            <br>
            <h2>Receivers Future Plans</h2>
            <br>
            <p> Receivers future plans, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
        </section>
        <section class="collapsible">
        <a id="references" class="anchorOffset"></a>
            <input type="checkbox" id="collapsible-head">
        <label for ="collapsible-head">References</label>
        <div class="collapsible-content">
            <cite>
                <a href="https://www.nature.com/articles/s41467-021-23336-0">
                    1. Li, X., Rizik, L., Kravchik, V. et al. Synthetic neural-like computing in microbial consortia for pattern recognition. Nat Commun 12, 3139 (2021). https://doi.org/10.1038/s41467-021-23336-0
                </a>
            </cite>
            <cite>
                <a href="https://2014.igem.org/Team:ETH_Zurich">
                    2. Team Zurich 2014
                </a>
            </cite>
        </div>
    </section> 
    </div>
</div>

<div class="cc" id="cc-senders-2" >
    <div class="left-side">
        <div class="index-bar">
            <h2><b>Index</b></h2>
            <ul class="lateral-index">
                <li class="lateral-content">
                    <a class="inner-link" href="#intro">Introduction.S</a>
                </li>
                <li class="lateral-content">
                    <a class="inner-link" href="#results">Results.S</a>
                </li>
                <li class="lateral-content">
                    <a class="inner-link" href="#discussion">Discussion.S</a>
                </li>
                <li class="lateral-content">
                    <a class="inner-link" href="#references">References.S</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="right-side">
        <section class="introduction">
            <a id="intro" class="anchorOffset"></a>
            <br><br>
            <h1><b>Senders Model</b></h1>
            <br><br>
            <h2>Senders Prep</h2>
            <br>
            <p> Senders model intro, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
        </section>
        <section class="main" >
            <a id="results" class="anchorOffset"></a>
            <br>
            <h2>Senders Results</h2>
            <br>
            <p> Senders model results, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
            <img src="https://static.igem.wiki/teams/4294/wiki/model-page-images/senders-img.png">
            <br>
            <p> Senders model commentary, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. </p>
            <br>
        </section>
        <section class="discussion">
            <a id="discussion" class="anchorOffset"></a>
            <br>
            <h2>Senders Future Plans</h2>
            <br>
            <p> Senders future plans, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
        </section> 
        <section class="collapsible">
        <a id="references" class="anchorOffset"></a>
            <input type="checkbox" id="collapsible-head">
        <label for ="collapsible-head">References</label>
        <div class="collapsible-content">
            <cite>
                <a href="https://www.nature.com/articles/s41467-021-23336-0">
                    1. Li, X., Rizik, L., Kravchik, V. et al. Synthetic neural-like computing in microbial consortia for pattern recognition. Nat Commun 12, 3139 (2021). https://doi.org/10.1038/s41467-021-23336-0
                </a>
            </cite>
            <cite>
                <a href="https://2014.igem.org/Team:ETH_Zurich">
                    2. Team Zurich 2014
                </a>
            </cite>
        </div>
    </section>
    
<script>
    function show(param_div_id) {
    document.getElementById('cc-senders').innerHTML = document.getElementById(param_div_id).innerHTML;
  }
</script>


        
</body>

<!-- Footer -->
{% include 'footer.html' %}

</html>
