<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4294/wiki/favicon-white.png"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>
    
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/parts_style.css') }}" rel="stylesheet">


    <!--Custom menu CSS-->
    <link href="{{url_for('static',filename='css/menu_style_aspa.css')}}" rel="stylesheet">

    <!--Custom footer CSS-->
    <link href="{{url_for('static',filename='css/footer_style_aspa.css')}}" rel="stylesheet">

     <!--Custom to top button CSS-->
     <link href="{{url_for('static',filename='css/to_top_button.css')}}" rel="stylesheet">
    <title>PERspectives | Parts</title>
</head>

<body>
<!-- Navigation -->
{% include 'menu_custom.html' %}

<!--To top button-->
{% include 'to_top_button.html'%}

<div class="page_header">
    <img class="img_header" src="https://static.igem.wiki/teams/4294/wiki/wet-lab/wet-bg-darker.gif" width="100%">
    <div class="heading">Parts</div>    
</div>

<div class="cc" id="cc-parts">
    <div class="left-side">
        <div class="index-bar">
            <ul class="lateral-index">
                <li class="lateral-content">
                    <a href="#overview">Overview</a>
                </li>
                <li class="lateral-content">
                    <a href="#basic">Basic Parts</a>
                </li>
                <li class="lateral-content">
                  <a href="#composite">Composite Parts</a>
                </li>
                <!-- <li class="lateral-content">
                    <a href="#existing">Existing Parts Used</a>
                </li> -->
                <li class="lateral-content">
                  <a href="#char-impove">Improvement</a>
                  </li>
                  <li class="lateral-content">
                    <a href="#plasmids">Plasmids</a>
                </li>
                <li class="lateral-content">
                  <a href="#golden">Golden Gate Overhangs</a>
              </li>
                <!-- <li class="lateral-content">
                    <a href="#references">References</a>
                </li> -->
            </ul>
        </div>
    </div>
    
    <div class="right-side">
  
  <!-- Overview -->
          <section class="overview">
              <a id="overview" class="anchorOffset"></a>
              <br><br>
              <h1>Overview</h1>
              <br>
              <p> 
                This year, our project involved the creation of a wide variety of genetic parts, which served a plethora of purposes. For both the senders' and the receivers' genetic circuits, our team designed new basic parts but also new composite parts. Furthermore, we created a collection of synthetic RBSs, since they were a big part of our project, which we hope can be an essential contribution to future teams.  Our collection also includes some pre-existing parts that can already be found in the registry as well as plasmids and primers necessary for our experiments. Finally, we have added the original part we improved, the improved part and all the other parts used in the process of the improvement.   
              </p>
              <br>
          </section>
  
  <!-- Basic Parts -->
          <section class="basic">
          <a id="basic" class="anchorOffset"></a>
          <br><br>
          <h1>Basic Parts</h1>
          <br>
          First, we would like to present the new basic parts that we created. Τhese are RBS sequences that were used to simulate the weights of a perceptron in the senders' population, the main genes that we used for the weighted sum but also regulatory elements.

          <table class="content-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Designer</th>
                <th>Length(bp)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="http://parts.igem.org/Part:BBa_K4294301"> BBa_K4294301</a></td>
                <td>Regulatory</td>
                <td>Promoter LuxR-Phlf hybrid </td>
                <td>Aristotelis Anastopoulos</td>
                <td>55</td>
              </tr>
              <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_K4294150"> BBa_K4294150</a></td>
                <td>Regulatory</td>
                <td>PlacI Promoter</td>
                <td>E.coli genome</td>
                <td>54</td>
              </tr>
               <tr>
                <td><a href="http://parts.igem.org/Part:BBa_K4294998"> BBa_K4294998</a></td>
                <td>Regulatory</td>
                <td>PlacI Promoter with tet1 RBS </td>
                <td>Meyer et. al</td>
                <td>82</td>
              </tr>
              <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_K4294190"> BBa_K4294190</a></td>
                <td>RBS</td>
                <td>tet1 RBS from Marionette Strains</td>
                <td>Meyer et. al</td>
                <td>28</td>
              </tr>
              </tr>
            
              
              
              <tr>
                <td><a href="http://parts.igem.org/Part:BBa_K4294004"> BBa_K4294004</a></td>
                <td>RBS</td>
                <td>Synthetic RBS Ath4: A synthetic ribosome binding site for prokaryotic protein expression, built with the guidance of the RBS calculator and characterized by our team.</td>
                <td>Manos Serlis</td>
                <td>29</td>
                </tr>
              <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_K4294005"> BBa_K4294005</a></td>
                <td>RBS</td>
                <td>Synthetic RBS Ath5: A synthetic ribosome binding site for prokaryotic protein expression, built with the guidance of the RBS calculator and characterized by our team.</td>
                <td>Manos Serlis</td>
                <td>29</td>
              </tr>
              <tr>
                <td><a href="http://parts.igem.org/Part:BBa_K4294010"> BBa_K4294010</a></td>
                <td>RBS</td>
                <td>Synthetic RBS Ath10: A synthetic ribosome binding site for prokaryotic protein expression, built with the guidance of the RBS calculator and characterized by our team.</td>
                <td>Manos Serlis</td>
                <td>29</td>
              </tr>
              <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_K4294011"> BBa_K4294011</a></td>
                <td>RBS</td>
                <td>Synthetic RBS Ath11: A synthetic ribosome binding site for prokaryotic protein expression, built with the guidance of the RBS calculator and characterized by our team.</td>
                <td>Manos Serlis</td>
                <td>29</td>
              </tr>
              <tr>
                <td><a href="http://parts.igem.org/Part:BBa_K4294012"> BBa_K4294012</a></td>
                <td>RBS</td>
                <td>Synthetic RBS Ath12: A synthetic ribosome binding site for prokaryotic protein expression, built with the guidance of the RBS calculator and characterized by our team.</td>
                <td>Manos Serlis</td>
                <td>28</td>
              </tr>
              <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_K4294013"> BBa_K4294013</a></td>
                <td>RBS</td>
                <td>Synthetic RBS Ath13: A synthetic ribosome binding site for prokaryotic protein expression, built with the guidance of the RBS calculator and characterized by our team.</td>
                <td>Manos Serlis</td>
                <td>29</td>
              </tr>
              <tr>
                <td><a href="http://parts.igem.org/Part:BBa_K4294102"> BBa_K4294102</a></td>
                <td>RBS</td>
                <td>BCD2</td>
                <td>Mutalik et. al</td>
                <td>88</td>
              </tr>
              <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_K4294114"> BBa_K4294114</a></td>
                <td>RBS</td>
                <td>BCD14</td>
                <td>Mutalik et. al</td>
                <td>88</td>
              </tr>
              <tr>
                <td><a href=""> BBa_K4294189</a></td>
                <td>RBS</td>
                <td>BCD2</td>
                <td>Mutalik et. al</td>
                <td></td>
              </tr>
              
            
              
              <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_K4294210"> BBa_K4294210</a></td>
                <td>Coding</td>
                <td>LuxI codon optimised for E Coli (+6His Tag)</td>
                <td>Annie Mais, Marianna Mitsioni</td>
                <td>615</td>
              </tr>
              <tr>
                <td><a href="http://parts.igem.org/Part:BBa_K4294211"> BBa_K4294211</a></td>
                <td>Coding</td>
                <td>LuxI and mNeonGreen coding sequences seperated by the stop-start pentanucleotide "TAATG"</td>
                <td>Sofia Oikonomou</td>
                <td>1325</td>
              </tr>
            
              <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_K4294215"> BBa_K4294215</a></td>
                <td>Coding</td>
                <td>TetR Repressor, Codon Optimized for E.coli</td>
                <td>Sofia Oikonomou, Marianna Mitsioni</td>
                <td>627</td>
              </tr>
              
              
              
               <tr>
                <td><a href="http://parts.igem.org/Part:BBa_K4294220"> BBa_K4294220</a></td>
                <td>Coding</td>
                <td>TetX enzyme</td>
                <td>Annie Mais</td>
                <td>1167</td>
              </tr>
               </tr>
               <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_K4294401"> BBa_K4294401</a></td>
                <td>Coding</td>
                <td>LuxR Activator/Repressor Codon Optimised for E Coli</td>
                <td>Sofia Oikonomou</td>
                <td>756</td>
              </tr>
              <tr>
                <td><a href="http://parts.igem.org/Part:BBa_K4294410"> BBa_K4294410</a></td>
                <td>Coding</td>
                <td>mNeonGreen Codon Optimised for E Coli</td>
                <td>Sofia Oikonomou</td>
                <td>714</td>
              </tr>
              <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_K4294420"> BBa_K4294420</a></td>
                <td>Coding</td>
                <td>PhlF repressor with a NDENYALAA degradation tag</td>
                <td>Aristotelis Anastopoulos</td>
                <td>633</td>
              </tr>
              <tr>
                <td><a href="http://parts.igem.org/Part:BBa_K4294999"> BBa_K4294999</a></td>
                <td>Other</td>
                <td>Spacer for separating TUs</td>
                <td>Aristotelis Anastopoulos</td>
                <td>68</td>
              </tr>
              
              <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_K4294207"> BBa_K4294207</a></td>
                <td>Coding</td>
                <td>36nt LuxI - sfGFP fusion reporter</td>
                <td>Aristotelis Anastopoulos</td>
                <td>753</td>
              </tr>
              
            </tbody>
        </table>



          </section>

            <!-- Exisiting Parts -->
        <section class="basic">
          <a id="existing" class="anchorOffset"></a>
          <br><br>
          <h1>Existing Parts Used</h1>
          <br>
          Moreover, we collected and listed the parts that already existed in the iGEM registry and were used by our team.
          <br>
          <table class="content-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Short Description</th>
                <th>Length(bp)</th>
                <th>Group</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="http://parts.igem.org/Part:BBa_J23105"> BBa_J23105</a></td>
                <td>Regulatory</td>
                <td>Anderson Promoter (constitutive promoter family member)</td>
                <td>35</td>
                <td>iGEM2006_Berkeley</td>
              </tr>
              <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_J23106"> BBa_J23106</a></td>
                <td>Regulatory</td>
                <td>Anderson Promoter (constitutive promoter family member)</td>
                <td>35</td>
                <td>iGEM2006_Berkeley</td>
              </tr>
              <tr>
                <td><a href="http://parts.igem.org/Part:BBa_K3424010"> BBa_K3424010</a></td>
                <td>Regulatory</td>
                <td>TetR promoter</td>
                <td>76</td>
                <td>iGEM20_UFlorida</td>
              </tr>
              <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_R0062"> BBa_R0062</a></td>
                <td>Regulatory</td>
                <td>Promoter (luxR & HSL regulated -- lux pR)</td>
                <td>55</td>
                <td>Antiquity</td>
              </tr>
              <tr>
                <td><a href="http://parts.igem.org/Part:BBa_J107103"> BBa_J107103</a></td>
                <td>Regulatory</td>
                <td>LuxR-repressible promoter library member</td>
                <td>36</td>
                <td>Magni_UNIPV_Lab</td>
              </tr>
              <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_J428046"> BBa_J428046</a></td>
                <td>Regulatory</td>
                <td>ptac</td>
                <td>56</td>
                <td>2021_Engineering_Committee</td>
              </tr>
              <tr>
                <td><a href="http://parts.igem.org/Part:BBa_J428034"> BBa_J428034</a></td>
                <td>RBS</td>
                <td>BCD1</td>
                <td>84</td>
                <td>2021_Engineering_Committee</td>
              </tr>
              <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_K2680561"> BBa_K2680561</a></td>
                <td>RBS</td>
                <td>BCD8</td>
                <td>84</td>
                <td>iGEM18_William_and_Mary</td>
              </tr>
               <tr>
                 <td><a href="http://parts.igem.org/Part:BBa_K2680529"> BBa_K2680529</a></td>
                <td>RBS</td>
                <td>BCD12</td>
                <td>84</td>
                <td>iGEM18_William_and_Mary</td>
              </tr>
              <tr class="active-row">
                <td><a href="http://parts.igem.org/Part:BBa_B0034"> BBa_B0034</a></td>
                <td>RBS</td>
                <td>RBS (Elowitz 1999)</td>
                <td>12</td>
                <td>Antiquity</td>
              </tr>
              <tr>
                <td><a href="http://parts.igem.org/Part:BBa_B0015"> BBa_B0015</a></td>
                <td>Terminator</td>
                <td>Double Terminator</td>
                <td>129</td>
                <td>Antiquity</td>
              </tr>
              
            </tbody>
        </table>

      </section>
  
  <!-- Composite Parts -->
        <section class="composite">
            <a id="composite" class="anchorOffset"></a>
            <br><br>
            <h1>Composite Parts</h1>
            <br>
            We continue with the presentation of the composite parts. Here the new parts have been divided according to the population in which they were used, i.e. those concerning the population of senders and the population of receivers.
            <br><br>
            <h2>Senders</h2>
            <table class="content-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Description</th>
                  <th>Designer</th>
                  <th>Length(bp)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="http://parts.igem.org/Part:BBa_K4294704"> BBa_K4294704</a></td>
                  <td>Composite</td>
                  <td>LuxI Transcriptional unit with the Ath4 Synthetic RBS (TetR Regulated)</td>
                  <td>Annie Mais, Panteleimon Marios Stragalis</td>
                  <td>831</td>
                </tr>
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294705"> BBa_K4294705</a></td>
                  <td>Composite</td>
                  <td>LuxI Transcriptional unit with the Ath5 Synthetic RBS (TetR Regulated)</td>
                  <td>Annie Mais, Panteleimon Marios Stragalis</td>
                  <td>831</td>
                </tr>
                <tr>
                  <td><a href="http://parts.igem.org/Part:BBa_K4294710"> BBa_K4294710</a></td>
                  <td>Composite</td>
                  <td>LuxI Transcriptional unit with the Ath10 Synthetic RBS (TetR Regulated)</td>
                  <td>Annie Mais, Panteleimon Marios Stragalis</td>
                  <td>831</td>
                </tr>
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294711"> BBa_K4294711</a></td>
                  <td>Composite</td>
                  <td>LuxI Transcriptional unit with the Ath11 Synthetic RBS (TetR Regulated)</td>
                  <td>Annie Mais, Panteleimon Marios Stragalis</td>
                  <td>831</td>
                </tr>
                <tr>
                  <td><a href="http://parts.igem.org/Part:BBa_K4294712"> BBa_K4294712</a></td>
                  <td>Composite</td>
                  <td>LuxI Transcriptional unit with the Ath12 Synthetic RBS (TetR Regulated)</td>
                  <td>Annie Mais, Panteleimon Marios Stragalis</td>
                  <td>830</td>
                </tr>
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294713"> BBa_K4294713</a></td>
                  <td>Composite</td>
                  <td>LuxI Transcriptional unit with the Ath13 Synthetic RBS (TetR Regulated)</td>
                  <td>Annie Mais, Panteleimon Marios Stragalis</td>
                  <td>831</td>
                </tr>
                <tr>
                  <td><a href="http://parts.igem.org/Part:BBa_K4294721"> BBa_K4294721</a></td>
                  <td>Composite</td>
                  <td>LuxI Transcriptional unit with BCD1 RBS (TetR Regulated)</td>
                  <td>Annie Mais, Panteleimon Marios Stragalis</td>
                  <td>886</td>
                </tr>
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294722"> BBa_K4294722</a></td>
                  <td>Composite</td>
                  <td>LuxI Transcriptional unit with BCD2 RBS (TetR Regulated)</td>
                  <td>Annie Mais, Panteleimon Marios Stragalis</td>
                  <td>890</td>
                </tr>
                 <tr>
                   <td><a href="http://parts.igem.org/Part:BBa_K4294723"> BBa_K4294723</a></td>
                  <td>Composite</td>
                  <td>LuxI Transcriptional unit with BCD8 RBS (TetR Regulated)</td>
                  <td>Annie Mais, Panteleimon Marios Stragalis</td>
                  <td>886</td>
                </tr>
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294724"> BBa_K4294724</a></td>
                  <td>Composite</td>
                  <td>LuxI Transcriptional unit with BCD12 RBS (TetR Regulated)</td>
                  <td>Annie Mais, Panteleimon Marios Stragalis</td>
                  <td>886</td>
                </tr>
                <tr>
                  <td><a href="http://parts.igem.org/Part:BBa_K4294725"> BBa_K4294725</a></td>
                  <td>Composite</td>
                  <td>LuxI Transcriptional unit with BCD14 RBS (TetR Regulated)</td>
                  <td>Annie Mais, Panteleimon Marios Stragalis</td>
                  <td>890</td>
                  <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294981"> BBa_K4294981</a></td>
                  <td>Composite</td>
                  <td>LuxI_mNeonGreen TU for Ath4 RBS characterization</td>
                  <td>Annie Mais, Sofia Oikonomou</td>
                  <td>1563</td>
                </tr>
                <tr>
                <td><a href="http://parts.igem.org/Part:BBa_K4294982"> BBa_K4294982</a></td>
                  <td>Composite</td>
                  <td>LuxI_mNeonGreen TU for Ath5 RBS characterization</td>
                  <td>Annie Mais, Sofia Oikonomou</td>
                  <td>1563</td>
                </tr>
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294983"> BBa_K4294983</a></td>
                  <td>Composite</td>
                  <td>LuxI_mNeonGreen TU for Ath10 RBS characterization</td>
                  <td>Annie Mais, Sofia Oikonomou</td>
                  <td>1563</td>
                </tr>
                <tr>
                <td><a href="http://parts.igem.org/Part:BBa_K4294984"> BBa_K4294984</a></td>
                  <td>Composite</td>
                  <td>LuxI_mNeonGreen TU for Ath11 RBS characterization</td>
                  <td>Annie Mais, Sofia Oikonomou</td>
                  <td>1563</td>
                </tr>  
                <tr class="active-row">  
                 <td><a href="http://parts.igem.org/Part:BBa_K4294985"> BBa_K4294985</a></td>
                  <td>Composite</td>
                  <td>LuxI_mNeonGreen TU for Ath12 RBS characterization</td>
                  <td>Annie Mais, Sofia Oikonomou</td>
                  <td>1563</td>
                </tr>  
                <tr>  
                <td><a href="http://parts.igem.org/Part:BBa_K4294986"> BBa_K4294986</a></td>
                  <td>Composite</td>
                  <td>LuxI_mNeonGreen TU for Ath13 RBS characterization</td>
                  <td>Annie Mais, Sofia Oikonomou</td>
                  <td>1563</td>
                </tr>    
                <tr class="active-row">  
                 <td><a href="http://parts.igem.org/Part:BBa_K4294987"> BBa_K4294987</a></td>
                  <td>Composite</td>
                  <td>LuxI_mNeonGreen TU for BCD1 RBS characterization</td>
                  <td>Annie Mais, Sofia Oikonomou</td>
                  <td>1563</td>
                </tr>  
                <tr>  
                <td><a href="http://parts.igem.org/Part:BBa_K4294988"> BBa_K4294988</a></td>
                  <td>Composite</td>
                  <td>LuxI_mNeonGreen TU for BCD2 RBS characterization</td>
                  <td>Annie Mais, Sofia Oikonomou</td>
                  <td>1563</td>
                </tr> 
                <tr class="active-row">  
                 <td><a href="http://parts.igem.org/Part:BBa_K4294989"> BBa_K4294989</a></td>
                  <td>Composite</td>
                  <td>LuxI_mNeonGreen TU for BCD8 RBS characterization</td>
                  <td>Annie Mais, Sofia Oikonomou</td>
                  <td>1563</td>
                </tr> 
                <tr>  
                <td><a href="http://parts.igem.org/Part:BBa_K4294990"> BBa_K4294990</a></td>
                  <td>Composite</td>
                  <td>LuxI_mNeonGreen TU for BCD12 RBS characterization</td>
                  <td>Annie Mais, Sofia Oikonomou</td>
                  <td>1563</td>
                </tr>
                </tr> 
                <tr class="active-row">  
                 <td><a href="http://parts.igem.org/Part:BBa_K4294991"> BBa_K4294991</a></td>
                  <td>Composite</td>
                  <td>LuxI_mNeonGreen TU for BCD14 RBS characterization</td>
                  <td>Annie Mais, Sofia Oikonomou</td>
                  <td>1563</td>
                </tr> 
                
                  
                </tr>
                <tr >
                  <td><a href="http://parts.igem.org/Part:BBa_K4294754"> BBa_K4294754</a></td>
                  <td>Composite</td>
                  <td>36ntLuxI - sfGFP Transcriptional unit with the Ath4 Synthetic RBS (TetR Regulated)</td>
                  <td>Aristotelis Anastopoulos</td>
                  <td>969</td>
                </tr>
                 <tr  class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294755"> BBa_K4294755</a></td>
                  <td>Composite</td>
                  <td>36ntLuxI -sfGFP Transcriptional unit with the Ath5 Synthetic RBS (TetR Regulated)</td>
                  <td>Aristotelis Anastopoulos</td>
                  <td>969</td>
                </tr>
                 <tr>
                  <td><a href="http://parts.igem.org/Part:BBa_K4294760"> BBa_K4294760</a></td>
                  <td>Composite</td>
                  <td>36ntLuxI-sfGFP Transcriptional unit with the Ath10 Synthetic RBS (TetR Regulated)</td>
                  <td>Aristotelis Anastopoulos</td>
                  <td>969</td>
                </tr>
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294761"> BBa_K4294761</a></td>
                  <td>Composite</td>
                  <td>36ntLuxI-sfGFP Transcriptional unit with the Ath11 Synthetic RBS (TetR Regulated)</td>
                  <td>Aristotelis Anastopoulos</td>
                  <td>969</td>
                </tr>
                 <tr >
                  <td><a href="http://parts.igem.org/Part:BBa_K4294762"> BBa_K4294762</a></td>
                  <td>Composite</td>
                  <td>36ntLuxI-sfGFP Transcriptional unit with the Ath12 Synthetic RBS (TetR Regulated)</td>
                  <td>Aristotelis Anastopoulos</td>
                  <td>968</td>
                </tr>
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294763"> BBa_K4294763</a></td>
                  <td>Composite</td>
                  <td>36ntLuxI-sfGFP Transcriptional unit with Ath13 Synthetic RBS (TetR Regulated)</td>
                  <td>Aristotelis Anastopoulos</td>
                  <td>969</td>
                </tr>
                <tr >
                  <td><a href="http://parts.igem.org/Part:BBa_K4294771"> BBa_K4294771</a></td>
                  <td>Composite</td>
                  <td>36ntLuxI-sfGFP Transcriptional unit with the BCD1 RBS (TetR Regulated)</td>
                  <td>Aristotelis Anastopoulos</td>
                  <td>1024</td>
                </tr>
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294772"> BBa_K4294772</a></td>
                  <td>Composite</td>
                  <td>36ntLuxI-sfGFP Transcriptional unit with BCD2 RBS (TetR Regulated)</td>
                  <td>Aristotelis Anastopoulos</td>
                  <td>1028</td>
                </tr>
                <tr >
                  <td><a href="http://parts.igem.org/Part:BBa_K4294773"> BBa_K4294773</a></td>
                  <td>Composite</td>
                  <td>36ntLuxI-sfGFP Transcriptional unit with the BCD8 RBS (TetR Regulated)</td>
                  <td>Aristotelis Anastopoulos</td>
                  <td>1024</td>
                </tr>
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294774"> BBa_K4294774</a></td>
                  <td>Composite</td>
                  <td>36ntLuxI-sfGFP Transcriptional unit with BCD12 RBS (TetR Regulated)</td>
                  <td>Aristotelis Anastopoulos</td>
                  <td>1024</td>
                </tr>
                <tr >
                  <td><a href="http://parts.igem.org/Part:BBa_K4294775"> BBa_K4294775</a></td>
                  <td>Composite</td>
                  <td>36ntLuxI-sfGFP Transcriptional unit with BCD14 RBS (TetR Regulated)</td>
                  <td>Aristotelis Anastopoulos</td>
                  <td>1028</td>
                </tr>
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294790"> BBa_K4294790</a></td>
                  <td>Composite</td>
                  <td>TetX TU</td>
                  <td>Annie Mais</td>
                  <td>1364</td>
                </tr>
                <tr >
                  <td><a href="http://parts.igem.org/Part:BBa_K4294780"> BBa_K4294780</a></td>
                  <td>Composite</td>
                  <td>TetR TU</td>
                  <td>Sofia Oikonomou</td>
                  <td>803</td>
                </tr>
                
              </tbody>
          </table>
  
  

            <h2>Receivers</h2>
            <table class="content-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Description</th>
                  <th>Designer</th>
                  <th>Length(bp)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="http://parts.igem.org/Part:BBa_K4294801"> BBa_K4294801</a></td>
                  <td>Composite</td>
                  <td>OpenLoop</td>
                  <td>Sofia Oikonomou</td>
                  <td>1910</td>
                </tr>
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294802"> BBa_K4294802</a></td>
                  <td>Composite</td>
                  <td>PF</td>
                  <td>Sofia Oikonomou</td>
                  <td>1930</td>
                </tr>
                <tr>
                  <td><a href="http://parts.igem.org/Part:BBa_K4294803"> BBa_K4294803</a></td>
                  <td>Composite</td>
                  <td>PFc</td>
                  <td>Sofia Oikonomou</td>
                  <td>2843</td>
                </tr>
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294804"> BBa_K4294804</a></td>
                  <td>Composite</td>
                  <td>PFR</td>
                  <td>Aristotelis Anastopoulos</td>
                  <td>2808</td>
                </tr>
                <tr>
                  <td><a href="http://parts.igem.org/Part:BBa_K4294805"> BBa_K4294805</a></td>
                  <td>Composite</td>
                  <td>PFc+R</td>
                  <td>Aristotelis Anastopoulos</td>
                  <td>3864</td>
                </tr>
                
                 <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294806"> BBa_K4294806</a></td>
                  <td>Composite</td>
                  <td>TU pLux Output for OL, PF, PFc</td>
                  <td>Aristotelis Anastopoulos, Sofia Oikonomou</td>
                  <td>965</td>
                </tr>
                
                <tr>
                  <td><a href="http://parts.igem.org/Part:BBa_K4294812"> BBa_K4294812</a></td>
                  <td>Composite</td>
                  <td>TU Output for PF+ R, PFc+ R</td>
                  <td>Aristotelis Anastopoulos</td>
                  <td>932</td>
                </tr>
                
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294807"> BBa_K4294807</a></td>
                  <td>Composite</td>
                  <td>TU pLuxr PhlF</td>
                  <td>Aristotelis Anastopoulos</td>
                  <td>824</td>
                </tr>
                
                 <tr>
                  <td><a href="http://parts.igem.org/Part:BBa_K4294808"> BBa_K4294808</a></td>
                  <td>Composite</td>
                  <td>TU constitutive LuxR for OL</td>
                  <td>Aristotelis Anastopoulos, Sofia Oikonomou</td>
                  <td>954</td>
                </tr>
                
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294811"> BBa_K4294811</a></td>
                  <td>Composite</td>
                  <td>TU constitutive LuxR for PFc, PFc+R</td>
                  <td>Aristotelis Anastopoulos, Sofia Oikonomou</td>
                  <td>954</td>
                </tr>
                
                <tr>
                  <td><a href="http://parts.igem.org/Part:BBa_K4294809"> BBa_K4294809</a></td>
                  <td>Composite</td>
                  <td>TU pLux LuxR PF, PF+ R</td>
                  <td>Aristotelis Anastopoulos, Sofia Oikonomou</td>
                  <td>973</td>
                </tr>
                
                <tr class="active-row">
                  <td><a href="http://parts.igem.org/Part:BBa_K4294810"> BBa_K4294810</a></td>
                  <td>Composite</td>
                  <td>TU constitutive LuxR for PFc, PFc+R</td>
                  <td>Aristotelis Anastopoulos, Sofia Oikonomou</td>
                  <td>973</td>
                </tr>
                
              </tbody>
          </table>
  
          <br><br>

  
    
        </section>
  


        <!-- Characterisation and improvement -->

         <section class="basic">
          <a id="char-impove" class="anchorOffset"></a>
          <br><br>
          <h1>Improvement</h1>
          <br>
          Here are also listed the parts considering the “improvement of a part” but you can always find more information about them in the corresponding section of our wiki.
          <br><br>
          The improved part is: 
          <table class="content-table">
            <thead>
              <tr>
                <th>BioBrick</th>
                <th>Type</th>
                <th>Short Description</th>
                <th>Designer</th>
                <th>Length</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="http://parts.igem.org/Part:BBa_K4294559"> BBa_K4294559</a></td>
                <td>RBS</td>
                <td>Elowitz RBS Version 59 with modified spacer region</td>
                <td>Manos Serlis</td>
                <td>27</td>
              </tr>
            </tbody>
            </table>

            The improvement is upon the part:
            <table class="content-table">
              <thead>
                <tr>
                  <th>BioBrick</th>
                  <th>Type</th>
                  <th>Short Description</th>
                  <th>Designer</th>
                  <th>Length</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="http://parts.igem.org/Part:BBa_B0034"> BBa_B0034</a></td>
                  <td>RBS</td>
                  <td>RBS (Elowitz 1999)</td>
                  <td>Antiquity</td>
                  <td>12</td>
                </tr>  
              </tbody>
              </table>

              <br><br>
              The parts that our wet lab team used, for the improvement experiments, are the: 
              <br><br>

              <table class="content-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Designer</th>
                    <th>Length(bp)</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr>
                    <td><a href="http://parts.igem.org/Part:BBa_K4294201"> BBa_K4294201</a></td>
                    <td>CDS</td>
                    <td>sfGFP</td>
                    <td>Aristotelis Anastopoulos, Manos Serlis</td>
                    <td>717</td>
                  </tr>
                   <tr class="active-row">
                    <td><a href="http://parts.igem.org/Part:BBa_K4294203"> BBa_K4294203</a></td>
                    <td>CDS</td>
                    <td>36nt PA - sfGFP</td>
                    <td>Aristotelis Anastopoulos, Manos Serlis</td>
                    <td>753</td>
                  </tr>
                  <tr>
                    <td><a href="http://parts.igem.org/Part:BBa_K4294204"> BBa_K4294204</a></td>
                    <td>CDS</td>
                    <td>36nt PMK - sfGFP</td>
                    <td>Aristotelis Anastopoulos, Manos Serlis</td>
                    <td>753</td>
                  </tr>
                  <tr class="active-row">
                    <td><a href="http://parts.igem.org/Part:BBa_K4294205"> BBa_K4294205</a></td>
                    <td>CDS</td>
                    <td>36nt AraC - sfGFP</td>
                    <td>Aristotelis Anastopoulos, Manos Serlis</td>
                    <td>753</td>
                  </tr>
                  <tr>
                    <td><a href="http://parts.igem.org/Part:BBa_K4294910"> BBa_K4294910</a></td>
                    <td>RBS</td>
                    <td>RBS (Elowitz 1999)</td>
                    <td>sfGFP TU (Ptet Promoter, B0034 RBS)</td></td>
                    <td>942</td>
                  </tr>
                  <tr class="active-row">
                    <td><a href="http://parts.igem.org/Part:BBa_K4294911"> BBa_K4294911</a></td>
                    <td>Composite</td>
                    <td>36nt PA-sfGFP TU (Ptet Promoter, B0034 RBS)</td>
                    <td>Aristotelis Anastopoulos, Manos Serlis</td>
                    <td>978</td>
                  </tr>
                  <tr>
                    <td><a href="http://parts.igem.org/Part:BBa_K4294912"> BBa_K4294912</a></td>
                    <td>Composite</td>
                    <td>36ntPMK-sfGFP TU(Ptet Promoter, B0034 RBS)</td>
                    <td>Aristotelis Anastopoulos, Manos Serlis</td>
                    <td>978</td>
                  </tr>
                  <tr class="active-row">
                    <td><a href="http://parts.igem.org/Part:BBa_K4294913"> BBa_K4294913</a></td>
                    <td>Composite</td>
                    <td>36nt AraC - sfGFP TU(Ptet Promoter, B0034 RBS)</td>
                    <td>Aristotelis Anastopoulos, Manos Serlis</td>
                    <td>978</td>
                  </tr>
                  <tr>
                    <td><a href="http://parts.igem.org/Part:BBa_K4294920"> BBa_K4294920</a></td>
                    <td>Composite</td>
                    <td>sfGFP TU (Ptet - v59)</td>
                    <td>Aristotelis Anastopoulos, Manos Serlis</td>
                    <td>957</td>
                  </tr>
                  <tr class="active-row">
                    <td><a href="http://parts.igem.org/Part:BBa_K4294921"> BBa_K4294921</a></td>
                    <td>Composite</td>
                    <td>36nt PA-sfGFP TU(Ptet Promoter, v59 RBS)</td>
                    <td>Aristotelis Anastopoulos, Manos Serlis</td>
                    <td>993</td>
                  </tr>
                  <tr>
                    <td><a href="http://parts.igem.org/Part:BBa_K4294922"> BBa_K4294922</a></td>
                    <td>Composite</td>
                    <td>36nt PMK - sfGFP (Ptet Promoter, v59 RBS)</td>
                    <td>Aristotelis Anastopoulos, Manos Serlis</td>
                    <td>993</td>
                  </tr>
                  <tr class="active-row">
                    <td><a href="http://parts.igem.org/Part:BBa_K4294923"> BBa_K4294923</a></td>
                    <td>Composite</td>
                    <td>36nt AraC - sfGFP TU(Ptet Promoter, v59 RBS)</td>
                    <td>Aristotelis Anastopoulos, Manos Serlis</td>
                    <td>993</td>
                  </tr>
                  <tr>
                    <td><a href="http://parts.igem.org/Part:BBa_K4294910"> BBa_K4294910</a></td>
                    <td>Composite</td>
                    <td>sfGFP TU (Ptet Promoter, B0034 RBS)</td>
                    <td>Aristotelis Anastopoulos, Manos Serlis</td>
                    <td>942</td>
                  </tr>
    
                  
                </tbody>
            </table>
    

         </section>

     <!-- Plasmids -->

     <section class="basic">
      <a id="plasmids" class="anchorOffset"></a>
      <br><br>
      <h1>Plasmid Destination Vectors 
      </h1>
      <br>
      These are the plasmids we used as vectors to form all of our constructs and are suitable for Golden Gate assembly. For more information about the decision of the plasmid vectors, please refer to the <a href="https://2022.igem.wiki/athens/design">Design</a> tab.<br>
      <br>
      <table class="content-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Origin</th>
            <th>DBackbone size (bp)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <a href="http://parts.igem.org/Part:BBa_K4294091"> BBa_K4294091</a></td>
            <td>BBa_K4294091</td>
            <td>Paul Freemont Lab, EcoFlex MoClo Kit, Addgene</td>
            <td>2532</td>
          </tr>
          <tr class="active-row">
            <td><a href="http://parts.igem.org/Part:BBa_K4294092"> BBa_K4294092</a></td>
            <td>BBa_K4294092</td>
            <td>Paul Freemont Lab, EcoFlex MoClo Kit, Addgene</td>
            <td>3140</td>
          </tr>
           <tr>
            <td><a href="http://parts.igem.org/Part:BBa_K4294093"> BBa_K4294093</a></td>
            <td>BBa_K4294093</td>
            <td>Paul Freemont Lab, EcoFlex MoClo Kit, Addgene</td>
            <td>2024</td>
          </tr>
          <tr class="active-row">
            <td><a href="http://parts.igem.org/Part:BBa_K4294094"> BBa_K4294094</a></td>
            <td>BBa_K4294094</td>
            <td>David Savage Lab, Addgene</td>
            <td>3712</td>
          </tr>
          </tr>
          
        </tbody>
    </table>

     </section>

     <!-- Primers -->
     <section class="basic">
      <a id="primers" class="anchorOffset"></a>
      <br><br>
      <h1>Primers 
      </h1>
      <br>
      In order to build some of our parts, amplify some of the regions of our constructs for verification purposes or even amplify some of our BioBricks to increase their quantity for our experiments we had to design some primers.<br>
      <br>
      <h2>Senders and Receivers</h2>
    <br><br>
    <table class="content-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Short description</th>
          <th>Designer</th>
          <th>Length (bp)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="http://parts.igem.org/Part:BBa_K4294021"> BBa_K4294021</td>
          <td>Biobrick Prefix Forward</td>
          <td>-</td>
          <td>20</td>
        </tr>
        <tr class="active-row">
          <td><a href="http://parts.igem.org/Part:BBa_K4294022"> BBa_K4294022</td>
          <td>Biobrick Suffix Reverse</td>
          <td>-</td>
          <td>21</td>
        </tr>
         <tr>
          <td><a href="http://parts.igem.org/Part:BBa_K4294031"> BBa_K4294031</td>
          <td>pTU1 Reverse for Colony PCR</td>
          <td>Annie Mais, Sofia Oikonomou</td>
          <td>20</td>
        </tr>
        <tr class="active-row">
          <td><a href="http://parts.igem.org/Part:BBa_K4294032"> BBa_K4294032</td>
          <td>pTU2 Reverse for Colony PCR</td>
          <td>Annie Mais, Sofia Oikonomou</td>
          <td>20</td>
        </tr>
        
        <tr>
          <td><a href="http://parts.igem.org/Part:BBa_K4294041"> BBa_K4294041</td>
          <td>PlacI-tet1 1st primer</td>
          <td>Aristotelis Anastopoulos</td>
          <td>41</td>
        </tr>
        
        <tr class="active-row">
          <td><a href="http://parts.igem.org/Part:BBa_K4294042"> BBa_K4294042</td>
          <td>PlacI-tet1 2nd primer</td>
          <td>Aristotelis Anastopoulos</td>
          <td>34</td>
        </tr>
        
        <tr>
          <td><a href="http://parts.igem.org/Part:BBa_K4294043"> BBa_K4294043</td>
          <td>PlacI-tet1 3rd primer</td>
          <td>Aristotelis Anastopoulos</td>
          <td>37</td>
        </tr>
        
        <tr class="active-row">
          <td><a href="http://parts.igem.org/Part:BBa_K4294044"> BBa_K4294044</td>
          <td>PlacI-tet1 4th primer</td>
          <td>Aristotelis Anastopoulos</td>
          <td>49</td>
        </tr>
        
        <tr>
          <td><a href="http://parts.igem.org/Part:BBa_K4294051"> BBa_K4294051</td>
          <td>TetR-B0015 isolation from plasmid Forward</td>
          <td>Sofia Oikonomou</td>
          <td>35</td>
        </tr>
        
        <tr class="active-row">
          <td><a href="http://parts.igem.org/Part:BBa_K4294052"> BBa_K4294052</td>
          <td>TetR-B0015 isolation from plasmid Reverse</td>
          <td>Aristotelis Anastopoulos</td>
          <td>38</td>
        </tr>
        
        <tr>
          <td><a href="http://parts.igem.org/Part:BBa_K4294061"> BBa_K4294061</td>
          <td>36nt LuxI oligo Forward primer</td>
          <td>Aristotelis Anastopoulos</td>
          <td>49</td>
        </tr>
        
         <tr class="active-row">
          <td><a href="http://parts.igem.org/Part:BBa_K4294062"> BBa_K4294062</td>
          <td>36nt LuxI oligo Reverse primer</td>
          <td>Aristotelis Anastopoulos</td>
          <td>49</td>
        </tr>

<tr>
          <td><a href="http://parts.igem.org/Part:BBa_K4294033"> BBa_K4294033</td>
          <td>pTKEI F for colony PCR</td>
          <td>Sofia Oikonomou</td>
          <td>20</td>
        </tr>
        
        <tr class="active-row">
          <td><a href="http://parts.igem.org/Part:BBa_K4294034"> BBa_K4294034</td>
          <td>pTKEI R for colony PCR</td>
          <td>Sofia Oikonomou</td>
          <td>20</td>
        </tr>

        
        
      </tbody>
  </table>

    <br><br>

    <h2>Improvement of A Part</h2>
    <br><br>
    <table class="content-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Short description</th>
          <th>Designer</th>
          <th>Length (bp)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="http://parts.igem.org/Part:BBa_K4294071"> BBa_K4294071</td>
          <td>36nt PA oligo Forward primer</td>
          <td>Aristotelis Anastopoulos</td>
          <td>53</td>
        </tr>
        <tr class="active-row">
          <td><a href="http://parts.igem.org/Part:BBa_K4294072"> BBa_K4294072</td>
          <td>36nt PA oligo Reverse primer</td>
          <td>Aristotelis Anastopoulos</td>
          <td>49</td>
        </tr>
         <tr>
          <td><a href="http://parts.igem.org/Part:BBa_K4294073"> BBa_K4294073</td>
          <td>36nt PMK oligo Forward primer</td>
          <td>Aristotelis Anastopoulos</td>
          <td>25</td>
        </tr>
        <tr class="active-row">
          <td><a href="http://parts.igem.org/Part:BBa_K4294074"> BBa_K4294074</td>
          <td>36nt PMK oligo Reverse primer</td>
          <td>Aristotelis Anastopoulos</td>
          <td>54</td>
        </tr>
        
        <tr>
          <td><a href="http://parts.igem.org/Part:BBa_K4294075"> BBa_K4294075</td>
          <td>36nt AraC oligo Forward primer</td>
          <td>Aristotelis Anastopoulos</td>
          <td>28</td>
        </tr>
        
        <tr class="active-row">
          <td><a href="http://parts.igem.org/Part:BBa_K4294076"> BBa_K4294076</td>
          <td>36nt AraC oligo Reverse primer</td>
          <td>Aristotelis Anastopoulos</td>
          <td>54</td>
        </tr>
        
        <tr>
          <td><a href="http://parts.igem.org/Part:BBa_K4294077"> BBa_K4294077</td>
          <td>vv59 RBS oligo Forward primer</td>
          <td>Aristotelis Anastopoulos</td>
          <td>59</td>
        </tr>
        
        <tr class="active-row">
          <td><a href="http://parts.igem.org/Part:BBa_K4294078"> BBa_K4294078</td>
          <td>v59 RBS oligo Reverse primer</td>
          <td>Aristotelis Anastopoulos</td>
          <td>28</td>
        </tr>
        
        <tr>
          <td><a href="http://parts.igem.org/Part:BBa_K4294081"> BBa_K4294081</td>
          <td>Forward primer for sfGFP</td>
          <td>Aristotelis Anastopoulos</td>
          <td>37</td>
        </tr>
        
        <tr class="active-row">
          <td><a href="http://parts.igem.org/Part:BBa_K4294082"> BBa_K4294082</td>
          <td>Forward primer for sfGFP fusions</td>
          <td>Aristotelis Anastopoulos</td>
          <td>36</td>
        </tr>
        
        <tr>
          <td><a href="http://parts.igem.org/Part:BBa_K4294083"> BBa_K4294083</td>
          <td>Reverse primer for sfGFP</td>
          <td>Aristotelis Anastopoulos</td>
          <td>-</td>
        </tr>
                     
        
      </tbody>
  </table>

     </section>


     <section class="basic">
      <a id="golden" class="anchorOffset"></a>
      <br><br>
      <h1>Golden Gate Overhangs 
      </h1>
<br>
      <h2>Receivers’ Circuits
      </h2>
      <br>
      For the construction of the Receivers’ Circuits Golden Gate Assembly with BsmBI was performed. The overhangs and the parts are summated in the following table.
      <br>
      <table class="content-table">
        <thead>
          <tr>
            <th>Overhang Code And Sequence</th>
            <th>TUs</th>
            <th>Part Code</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>A: ATCT</td>
            <td>A-TU_pLux_Output_(OL,PF,PFc)-C</td>
            <td>BBa_K4294806</td>
          </tr>
          <tr class="active-row">
            <td>B: TTAG</td>
            <td>A-TU_pLuxr_PhlF_(PF+R,PFc+R)-E</td>
            <td>BBa_K4294807</td>
          </tr>
           <tr>
            <td>C: GTCA</td>
            <td>C-TU_const_LuxR_(OL)-B</td>
            <td>BBa_K4294808</td>
          </tr>
          <tr class="active-row">
            <td>D: GCAA</td>
            <td>C-TU_pLux_LuxR_(PF,PF+R)-B</td>
            <td>BBa_K4294809</td>
          </tr>
          
          <tr>
            <td>E: CGTA</td>
            <td>C-TU_pLux_LuxR_(PFc,PFc+R)-D</td>
            <td>BBa_K4294810</td>
          </tr>
          
          <tr class="active-row">
            <td></td>
            <td>D-TU_const_LuxR_(PFc,PFc+R)-B</td>
            <td>54BBa_K4294811</td>
          </tr>
          
          <tr>
            <td></td>
            <td>E-TU_Output_(PF+R,PFc+R)-C</td>
            <td>BBa_K4294812</td>
          </tr>
          
        
          
        </tbody>
    </table>

    <br>
    <h2>Senders’ Circuits</h2>
    <br>
    Senders’ Level 1 TUs were assembled using Golden Gate Assembly with BsaI.
    <br>

    <table class="content-table">
      <thead>
        <tr>
          <th>Overhang </th>
          <th>Junction</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>CTAT</td>
          <td>pTU1 vector - Promoter</td>
        </tr>
        <tr class="active-row">
          <td>TACT</td>
          <td>Promoter - RBS</td>
        </tr>
        <tr>
          <td>AATG</td>
          <td>RBS - CDS</td>
        </tr>
        
        <tr class="active-row">
          <td>GCTT</td>
          <td>CDS - Terminator</td>
        </tr>
        
        <tr>
          <td>TGTT</td>
          <td>Terminator - pTU1 vector</td>
        </tr>
        
        <tr class="active-row">
          <td>CAAA</td>
          <td>36nt LuxI oligo - CDS (sfGFP)</td>
        </tr>
        
        <tr>
          <td>AATG</td>
          <td>RBS - 36nt LuxI oligo </td>
        </tr>

    
       
      </tbody>
  </table>

  <br>

    Senders’ Level 2 TUs were assembled using Golden Gate Assembly with BsmBI.
    <br>

    <table class="content-table">
      <thead>
        <tr>
          <th>Overhang</th>
          <th>Junction</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ATCT</td>
          <td>pTU2 vector - TU from pTU1</td>
        </tr>
        <tr class="active-row">
          <td>TGCC</td>
          <td>TU from pTU1 - TetR TU</td>
        </tr>
         <tr>
          <td>TTAG</td>
          <td>TetR TU - pTU2 vector</td>
        </tr>
        <tr class="active-row">
          <td>TGCC</td>
          <td>TU from pTU1 - [PlacI-tet1]</td>
        </tr>
        
        <tr>
          <td>TATG</td>
          <td>[PlacI-tet1] - TetR+Terminator from plasmid</td>
        </tr>   
      </tbody>
  </table>


  


     </section>
    


    


        <!-- <section class="collapsible">
            <a id="references" class="anchorOffset"></a>
            <input type="checkbox" id="collapsible-head">
                <label for ="collapsible-head">References</label>    
                <div class="collapsible-content">
                <cite>
                    <a href="https://www.nature.com/articles/s41467-021-23336-0">
                        1. Li, X., Rizik, L., Kravchik, V. et al. Synthetic neural-like computing in microbial consortia for pattern recognition. Nat Commun 12, 3139 (2021). https://doi.org/10.1038/s41467-021-23336-0
                    </a>
                </cite>
                <cite>
                    <a href="https://2014.igem.org/Team:ETH_Zurich">
                        2. Team Zurich 2014
                    </a>
                </cite>
            </div>
        </section> -->
    </div>
  </div>
  
  
  </body>
  
  <!--Loader-->   
  {% include 'loader.html'%}
  
  <!-- Footer -->
  {% include 'footer.html' %}
  
  </html>