<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4294/wiki/favicon-white.png"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>
    
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/proof_style.css') }}" rel="stylesheet">

    <!-- Loader -->
    <script type= "text/javascript" src="../../athens/static/scripts/jquery.min.js"></script>

    <!--Custom menu CSS-->
    <link href="{{url_for('static',filename='css/menu_style_aspa.css')}}" rel="stylesheet">

    <!--Custom footer CSS-->
    <link href="{{url_for('static',filename='css/footer_style_aspa.css')}}" rel="stylesheet">

     <!--Custom to top button CSS-->
     <link href="{{url_for('static',filename='css/to_top_button.css')}}" rel="stylesheet">
    <title>PERspectives | Proof of Concept</title>
</head>

<body>
<!-- Navigation -->
{% include 'menu_custom.html' %}

<!--To top button-->
{% include 'to_top_button.html'%}

<!--Loader-->   
{% include 'loader.html'%}
/index
<div class="page_header">
    <img class="img_header" src="https://static.igem.wiki/teams/4294/wiki/contribution/project-bg.gif" width="100%">
    <div class="heading">Proof of Concept</div>    
</div>

<div class="cc" id="cc-implementaion">
  <div class="left-side">
      <div class="index-bar">
          <ul class="lateral-index">
              <li class="lateral-content">
                  <a href="#intro">Overview</a>
              </li>
              <li class="lateral-content">
                  <a href="#dry-lab">Dry Lab</a>
              </li>
              <li class="lateral-content">
                  <a href="#wet-lab">Wet Lab</a>
              </li>
              <li class="lateral-content">
                <a href="#conclusion">Conclusions</a>
            </li>
              <li class="lateral-content">
                  <a href="#references">References</a>
              </li>
          </ul>
      </div>
  </div>
  
  <div class="right-side">

<!-- Overview -->
        <section class="introduction">
            <a id="intro" class="anchorOffset"></a>
            <div class="overview">
                <h1>Overview</h1>
                <p>
                The goal of our project was to create functional communication between the two populations, the senders and the receivers. By the term 
                functional, we mean that when the receivers are activated by different combinations of senders (induced and uninduced) 
                (populations with different RBS variants) produce different activation patterns. In this way, when our project is
                 <a href="https://2022.igem.wiki/athens/implementation">implemented</a> on 
                real-world problems, it will be able to detect different inputs, assign different weights to them and only activate the
                 receivers' population when a specific threshold is surpassed by a specific combination of receivers. 
                <br><br>
                In order to prove that our system is functional and meets the goal set by our team in the beginning of our project ideation, we 
                performed simulations using python programming Language, Simulink and Comsol as well as wet lab experiments.
                </p>
            </div>
        </section>

<!-- Dry Lab -->
        <section class="dry-lab">
        <a id="dry-lab" class="anchorOffset"></a>
        <h1><b>Dry Lab</b></h1>
        <br><br>
        <h2>Building and Performing Simulations</h2>
        <br>
        <p>
        As shown in the <a href="https://2022.igem.wiki/athens/model">Model</a> page, we were able to characterise our senders accurately and receivers models and also prove via a test dataset that the preferred Transfer Function to be used is the PFR construct.        <br><br>
        <br><br>
        However, in our efforts to assist the wet lab with valuable data, we had to also take into consideration one  significant parameter for our 
        model; the volume and cell ratios of the two populations. In particular, via wet-lab data, we received that the receivers population offers a 
        mean OD of 0.24 at 0hrs and 0.47 at 4hrs and senders to receivers ratio of 1/10.  Using that as well as the estimate that an OD_600 value of 
        1 corresponds to approximately 8*10**(8) cells/mL [1] we calculated the following model parameters:
        </p>
        <br><br>

        <center>
        <table class="content-table" id="tb1">
            <thead>
              <tr>
                <th>Symbol</th>
                <th>Meaning</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nmin_receivers</td>
                <td>Minimum Receivers Population(0hrs)</td>
                <td>3.2*10^(7)</td>
              </tr>
              <tr class="active-row">
                <td>Nmax_receivers</td>
                <td>Maximum Receivers Population(4hrs)</td>
                <td>10.4*10^(7)</td>
              </tr>
              <tr>
                <td>V_bead</td>
                <td>Volume of Population</td>
                <td>200μL</td>
             
            </tbody>
        </table>
        <figcaption>Table 1. Estimated parameters regarding minimum and maximum cell populations</figcaption>
        </center>

        <br>
        <p>
        Due to a lack of experimental ODs for the senders' population, we assumed that the sender’s population cells at 0hrs and 4hrs would follow the ratio 
        of the senders and the receivers population volumes. For instance, for a ratio of 1/10, the sender’s population parameters were set to be 
        Nmin=0.32*10^(7) cells and Nmax=10.4*10^(7) cells.
        <br><br>
        Via the modelling approach described above as well as in the model section, we simulated our test dataset for different ratios of senders/receivers:
        </p>
        <br><br>

        <center>
        <img class="img1a" id="img1" src="https://static.igem.wiki/teams/4294/wiki/proof-of-consept/pasted-image-0.png">
        <img class="img1b" id="img1" src="https://static.igem.wiki/teams/4294/wiki/proof-of-consept/311251954-1690780304627538-1532327254272859516-n.png">
        <img class="img1c" id="img1" src="https://static.igem.wiki/teams/4294/wiki/proof-of-consept/pasted-image-0-1.png">
        <img class="img1d" id="img1" src="https://static.igem.wiki/teams/4294/wiki/proof-of-consept/310122047-834286480899436-1427354096670232968-n.png">
        <figcaption>Figure 1. Model simulation results for different ratios of senders and receivers populations for the PRF Construct a, b, c, d.
        </figcaption>
        </center>
        <br>

        <center>
        <img class="img1a" id="img2" src="https://static.igem.wiki/teams/4294/wiki/proof-of-consept/pasted-image-0-2.png">
        <img class="img1b" id="img2" src="https://static.igem.wiki/teams/4294/wiki/proof-of-consept/pasted-image-0-3.png">
        <img class="img1c" id="img2" src="https://static.igem.wiki/teams/4294/wiki/proof-of-consept/pasted-image-0-4.png">
        <img class="img1d" id="img2" src="https://static.igem.wiki/teams/4294/wiki/proof-of-consept/pasted-image-0-5.png">
        <figcaption>Figure 2. Model simulation results for different ratios of senders and receivers populations for the OpLo Construct a, b, c, d.
        </figcaption>
        </center>
        <br>

        <p>
        From the results above both for the OpLo and the PFR systems, it is assumed that a decrease from the 1/1 populations ratio is needed, due to the 
        suboptimal tuning of the senders and the receivers constructs, which leads to almost maximum output fluorescence even in the case when one 
        medium RBS is activated. However, a decrease in the rate of 1/10 could potentially lead to a hit in the patterns labelled as one, since the 
        amount of AHL produced by the senders populations would not be enough to effectively induce the increased receivers population. In conclusion, 
        the optimal ratio would be that of 1/7 for our experimental setup. 
        </p>

        </section>

<!-- Wet Lab -->
    <section class="wet-lab">
        <a id="wet-lab" class="anchorOffset"></a>
        <h1><b>Wet Lab</b></h1>
        <br><br>
        <h2>Experiments</h2>
        <br>
        <p>
        We tested 24 different combinations of one, two or three senders in the induced or uninduced state, see the visual representation below. 
        The combinations tested are presented in <a href="tb1">Table 1</a>. For the final experiments we used the DH5a-z1 cells luxI only constructs, that were proven 
        the most suitable for our system according to our results.
        </p>  
        <br><br>

        <center>
        <img class="img3" id="img3" src="https://static.igem.wiki/teams/4294/wiki/proof-of-consept/figure-1-visual-representation.png">
        <figcaption>Figure 3: Visual Representation of Proof of concept.
        </figcaption>
        </center>
        <br>

        <center>
        <img class="imgtb" id="tb2" src="https://static.igem.wiki/teams/4294/wiki/proof-of-consept/table-1.png">
        <figcaption>Table 2: Combinations tested in the wet lab experiment for communication between the two populations. The letter “i” 
            represents the induced populations, RBS variants without the letter “i” e.g. BCD2, represent the populations that have not been induced.
        </figcaption>
        </center>
        <br>

        <p>
        For this experiment, we induced the senders populations separately in 15ml tubes for 3 hours with the optimal aTc concentration as indicated 
        by our <a href="https://2022.igem.wiki/athens/results">results</a> (0,4μΜ). After completing the induction the samples were centrifuged for 14 minutes at 3820 rcf and the supernatant was 
        stored in the freezer.
        <br><br>
        As indicated by our model the best ratio to mix the senders and the receivers is 1 to 10 respectively in order for our system to have the desired output for its function.
        <br><br>
        For this reason, the volumes of supernatant (representing the senders) and the receivers culture were mixed in that ratio in 200μl that 
        were incubated in a black 96 well plate with clear bottom as mentioned in the section protocols, for up to 4 hours. We took three measurements 
        of fluorescence and OD600nm of the receivers to detect the different patterns formed from the activation of different senders as presented 
        in <a href="tb1">Table 1</a>. The results are presented in <a href="img4">Figure 4</a>.
        <br><br>
        </p>

        <center>
        <img class="img4" id="img4" src="https://static.igem.wiki/teams/4294/wiki/proof-of-consept/figure-3-1.png">
        <figcaption>Figure 4: Activation of the Receiver construct OL-ColE1 for different combinations of induced and uninduced senders. 
            The letter “i” stands for induced senders. The senders were induced separately. The color coding (different tones of the same color) 
            is used to indicate that the same RBS are used in different combinations of induced and uninduced. With black color we represent the
             “LB” which means that instead of supernatant we mixed the receiver with just LB to exclude fluorescence from leakiness. Paired t-test (
                 two-tailed) between induced and uninduced samples, indicates a significant difference (P < 0.05).(Statistical analysis was 
                 performed using GraphPad Prism 9.4.0 Software)
        </figcaption>
        </center>
        <br>

        <center>
        <img class="img5" id="img5" src="https://static.igem.wiki/teams/4294/wiki/proof-of-consept/figure-4-a.jpg">
        <img class="img5" id="img5" src="https://static.igem.wiki/teams/4294/wiki/proof-of-consept/figure-4-b.jpg">
        <figcaption>Figure 5: Visual Results of mNeonGreen Production in Receivers when our plates were viewed in UV light.
        </figcaption>
        </center>
        <br>

        <a href="img4">Figure 4</a> and <a href="img5">Figure 5</a> show that there are differences between the alternative patterns of activation. 
        Some combinations may have an outcome different from our predictions, but our hypothesis seems to be proven true by this experiment. 
        Due to lack of time, we did not manage to repeat this experiment twice.
        <br><br>
        Also after interpretation of the results, we can set the thresholds below for whether our “senders mix” can activate the receivers' 
        populations or not. 
        We can set three categories:
        <br>
        <ul>
            <li>
                The uninduced senders  → no activation of receivers
            </li>
            <li>
                The induced senders → AHL production is marginal → no activation of receivers (leaky production of mNeonGreen)
            </li>
            <li>
                The induced senders → AHL production exceeds the set threshold → activation of receivers (production of mNeonGreen)
            </li>
        </ul>
        <br>

        These categories are presented in terms of numbers (RFU) in <a href="tb3">Table 3</a>.
        <br><br>

        <center>
        <img class="imgtb-2" id="tb3" src="https://static.igem.wiki/teams/4294/wiki/proof-of-consept/table2.png">
        <figcaption>Table 3: Interpretation of proof of concept results. Some combinations seem to activate the receivers more than others.
        </figcaption>
        </center>
        <br>

       
        At this point, it is important to note that this protocol is not ideal for the proof of concept, as mentioned in the protocols section our initial 
        goal was to use special 6-well plates that have two compartments that communicate via a membrane with pores of 0.4μm. These pores allow for 
        small molecules, like the AHL, to be exchanged between the two populations (senders and receivers) that are situated in the
         different compartments. This way we would be able to examine the receiver response without the sender cells interfering with our measurements. 
         We were able to test this experiment only once, with a receiver: sender ratio of 5:1, which was the initial prediction by our modelling which 
         was proven not ideal and that is why we performed the alternative protocol presented above, where we used the 1:10 ratio. The use of membranes 
         did not produce the expected results because due to time constraints we were not able to transform the bacterial populations with the pTKEI-Dest 
         plasmid that contains the TetX enzyme that degrades aTc and was designed to reduce the cross-talk between populations 
         (<a href="https://2022.igem.wiki/athens/design">Design</a>). This means 
         that although we performed washes before mixing the different senders populations, to remove the circulating aTc, our results indicate that 
         indeed there was cross-talk between the induced and uninduced populations after the mixture. By using the supernatants we were able to 
         eliminate this phenomenon for the purposes of the proof of concept because there are no senders cells to be activated.
        <br><br>  
        Another important aspect is to note that the receiver construct that we used is the simplest and does not manifest a steep activation function. 
        According to our modelling data (<a href="img2">Figure 2</a>) as fitted after using the results of this experiment if we had used the PFR construct instead of the OL 
        ColE1, we would have had better results closer to the pattern formation we expected. Also, the ratio 1:7  should be tested to validate the 
        model run by our dry lab members, in case that some receivers do not get activated not based on the RBS strength but based on the not 
        appropriate ratio between 2 populations. Due to lack of time, we were not able to perform this experiment.
        </p>
    </section>
 <!-- Conclusion  -->
            <section class="introduction">
                <a id="coclusion" class="anchorOffset"></a>
                <div class="overview">
                    <h1>Conclusions</h1>
                    <p>
                    In concluding remarks “Perspectives' 'seems very promising with proven function. Additional experiments that were not conducted due 
                    to lack of time are needed to optimize the experimental conditions for our bacterial artificial intelligence biosensor to have the 
                    ideal output. Although the conditions are not perfect, the above experiments in combination with our model and simulation data 
                    prove that our system is functional and can be used for future applications after further testing. We have achieved to prove that 
                    actually working with bacterial consortia sensors instead of just a single bacterial population has indeed several advantages and 
                    that our populations successfully communicate and adjust their response according to the input they detect in their environment.
                    </p>
                </div>
            </section>




        <!-- References  --> 
            <section class="collapsible">
                <a id="references" class="anchorOffset"></a>
                <input type="checkbox" id="collapsible-head">
                    <label for ="collapsible-head">References</label>    
                    <div class="collapsible-content">
                        <cite>
                            <a href="https://www.researchgate.net/post/How_to_calculate_bacterial_cells_ml_from_OD600_in_Rosetta_cells">
                                1. https://www.researchgate.net/post/How_to_calculate_bacterial_cells_ml_from_OD600_in_Rosetta_cells [Accessed 1/10/22]
        
                            </a>
                        </cite>            
                </div>
            </section>

        </div>
    </div>

</body>

<!--Loader-->   
{% include 'loader.html'%}

<!-- Footer -->
{% include 'footer.html' %}

</html>