<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4294/wiki/favicon-white.png"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>
    
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/protocols_style.css') }}" rel="stylesheet">


    <!--Custom menu CSS-->
    <link href="{{url_for('static',filename='css/menu_style_aspa.css')}}" rel="stylesheet">

    <!--Custom footer CSS-->
    <link href="{{url_for('static',filename='css/footer_style_aspa.css')}}" rel="stylesheet">

     <!--Custom to top button CSS-->
     <link href="{{url_for('static',filename='css/to_top_button.css')}}" rel="stylesheet">
    <title>PERspectives | Protocols</title>
</head>

<body>
<!-- Navigation -->
{% include 'menu_custom.html' %}

<!--To top button-->
{% include 'to_top_button.html'%}

<div class="page_header">
    <img class="img_header" src="https://static.igem.wiki/teams/4294/wiki/wet-lab/wet-bg-darker.gif" width="100%">
    <div class="heading">Protocols</div>    
</div>

<div class="cc" id="cc-parts">
    <div class="text-box">
        <p>
        During our working days in the laboratory, we performed different procedures and experiments. From how to prepare simple solutions to more complex 
        experiments, such as the inductions of the Senders and Receivers, we followed certain protocols. All these protocols, that our experiments were based 
        on, can be found below in the Protocols book below (pdf form). 
        <br><br>
        We would also like to mention that we worked with different E.coli strains. Professor Georgios Diallinas provided us with the DH5a and BL21 strains.
            Dr. Vivi Miriagou provided us with the DH5a-z1 strains. Finally, the BL21 and DH5a 10-beta were provided by New England Biolabs.
        <br><br>
        The protocols that we used in our project can be found below and can be downloaded 
        <a href="https://static.igem.wiki/teams/4294/wiki/protocols/protocols-igem-athens-2022.pdf">here</a> in pdf format. 
        </p>
    </div>

    <div class="pdf-holder">
         
    <object data="https://static.igem.wiki/teams/4294/wiki/protocols/protocols-igem-athens-2022.pdf" 
                width="50%" 
                height="800px"> 
        </object>
    </div>
</div>


</body>

<!--Loader-->   
{% include 'loader.html'%}

<!-- Footer -->
{% include 'footer.html' %}

</html>