<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4294/wiki/favicon-white.png"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>
    
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/team_page_style_aspa.css') }}" rel="stylesheet">

    <!-- Loader -->
    <script type= "text/javascript" src="../../athens/static/scripts/jquery.min.js"></script>

    <!--Custom menu CSS-->
    <link href="{{url_for('static',filename='css/menu_style_aspa.css')}}" rel="stylesheet">

    <!--Custom footer CSS-->
    <link href="{{url_for('static',filename='css/footer_style_aspa.css')}}" rel="stylesheet">

    <!--Custom to top button CSS-->
    <link href="{{url_for('static',filename='css/to_top_button.css')}}" rel="stylesheet">
    
    <title>Perspectives | Members</title>
</head>

<body>
<!-- Navigation -->
{% include 'menu_custom.html' %}

<!--To top button-->
{% include 'to_top_button.html'%}

<div class="page_header">
    <img class="img_header" src="https://static.igem.wiki/teams/4294/wiki/team-page/project-reveal-1920-1080-px-3.gif" width="100%">
    <div class="heading"> Meet iGEM Athens 2022 </div>    
</div>

<div class="container">
    <div class="profiles">
    <!---  Annie -->    
        <div class="profile">
            <img src="https://static.igem.wiki/teams/4294/wiki/team-page/anny-retus.jpg" class="profile-img">
            <h3 class="user-name">        
            <span class="old">Annie</span>
            <span class="new">Annie 🔥☕️</span> 
            </h3>
            <h5>
            <span class="old">Wet Lab Member</span>
            <span class="new"><span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span> member</span></h5>
            <p class="old"> 
            Biology Department, National and Kapodistrian University of Athens<br><br>
            Worked in: Wet Lab, Genetic Circuit Design, Fundraising, Human Practices<br>
            </p>
            <p class="new"> 
            Biology Department, National and Kapodistrian University of Athens<br><br>
            <span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span>, 
            <span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Genetic Circuit Design</span>, 
            <span style="color: #ffc973; font-style: 'Glacial Indifference Bold';">Fundraising</span>, 
            <span style="color: #ef4b4c; font-style: 'Glacial Indifference Bold';">Human Practices</span><br><br>
            <span style="background: -webkit-linear-gradient(#8a72c1, #61b872,  #3aa9c5, #ffc973); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Fun fact</span> 
            <br>Rumor has it she finds a coffee buddie in every place she goes, she is the first to join fun staff.<br>
            </p>
        </div>

    <!---  Anthi -->
    <div class="profile">
        <img src="https://static.igem.wiki/teams/4294/wiki/team-page/anthi-retus.jpg" class="profile-img">
        <h3 class="user-name">        
        <span class="old">Anthi</span>
        <span class="new">Anthi ✨📰</span> 
        </h3>
        <h5>
        <span class="old">Wet Lab Member</span>
        <span class="new"><span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span> member</span></h5>
        <p class="old">
        Biology Department,National and Kapodistrian University of Athens<br><br>
        Worked in: Wet Lab, Graphics design and Human Practices
        <br>
        </p>
        <p class="new">
        Biology Department,National and Kapodistrian University of Athens<br><br>
        <span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span>,
        <span style="color: #8a72c1; font-style: 'Glacial Indifference Bold';">Graphics design</span>,
        <span style="color: #ef4b4c; font-style: 'Glacial Indifference Bold';">Human Practices</span><br><br>
        <span style="background: -webkit-linear-gradient(#8a72c1, #61b872,  #3aa9c5, #ffc973); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Fun fact</span>
        <br>Rumours saying that she would have been the team’s influencer if she had an Instagram account and that she has the best “trashy” Spotify playlists.<br>
        </p>
    </div>

    <!---  Aristotelis -->
        <div class="profile">
            <img src="https://static.igem.wiki/teams/4294/wiki/team-page/aris-retus.jpg" class="profile-img">
            <h3 class="user-name">
            <span class="old">Aristotelis</span>
            <span class="new">Aristotelis ⚡️🤫</span> 
            </h3>
            <h5>
            <span class="old">Wet Lab Member</span>
            <span class="new"><span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span> member</span></h5>
            <p class="old"> 
            Medical School, National and Kapodistrian University of Athens <br><br>
            Worked in: Wet Lab, Genetic Circuit and Parts Design, Improve a Part, Human Practises, Social Media<br>
            </p>
            <p class="new"> 
            Medical School, National and Kapodistrian University of Athens <br><br>
            <span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span>, 
            <span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Genetic Circuit and Parts Design</span>, 
            <span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Improve a Part</span>,
            <span style="color: #ef4b4c; font-style: 'Glacial Indifference Bold';">Human Practices</span>,
            <span style="color: #8a72c1; font-style: 'Glacial Indifference Bold';">Social Media</span><br><br>
            <span style="background: -webkit-linear-gradient(#8a72c1, #61b872,  #3aa9c5, #ffc973); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Fun fact</span> 
            <br>Swimming pool underwater lights make him feel uncomfortable for some reason.<br>
            </p>
        </div>

</div>

<div class="container">
    <div class="profiles">
    <!---  Aspa -->
        <div class="profile">
            <img src="https://static.igem.wiki/teams/4294/wiki/team-page/aspa-retus.jpg" class="profile-img">
            <h3 class="user-name">
                <span class="old">Aspa</span>
                <span class="new">Aspa 🍉🦄</span> 
                </h3>
                <h5>
                <span class="old">Dry Lab Member</span>
                <span class="new"><span style="color: #3aa9c5; font-style: 'Glacial Indifference Bold';">Dry Lab</span> member</span></h5>
                <p class="old"> 
                    Medical School, National and Kapodistrian University of Athens <br>
                    Department of Informatics, National and Kapodistrian University of Athens <br><br>
                    Worked in: Dry Lab, Human Practices, Social Media<br>
                    </p>
                    <p class="new"> 
                    Medical School, National and Kapodistrian University of Athens <br>
                    Department of Informatics, National and Kapodistrian University of Athens <br><br>
                    <span style="color: #3aa9c5; font-style: 'Glacial Indifference Bold';">Dry Lab</span>, 
                    <span style="color: #ef4b4c; font-style: 'Glacial Indifference Bold';">Human Practices</span>,
                    <span style="color: #8a72c1; font-style: 'Glacial Indifference Bold';">Graphics design</span><br><br>
                    <span style="background: -webkit-linear-gradient(#8a72c1, #61b872,  #3aa9c5, #ffc973); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Fun fact</span> 
                    <br>She can't resist making funny faces in a photo.<br>
                </p>            
                </div>


    <!---  Manos -->
        <div class="profile">
            <img src="https://static.igem.wiki/teams/4294/wiki/team-page/manos-retus.jpg" class="profile-img">
            <h3 class="user-name">
                <span class="old">Manos</span>
                <span class="new">Manos 🎉💻</span> 
                </h3>
                <h5>
                <span class="old">Dry Lab Member</span>
                <span class="new"><span style="color: #3aa9c5; font-style: 'Glacial Indifference Bold';">Dry Lab</span> member</span></h5>
                <p class="old">
                School of Electrical and computer engineering, National Technical University of Athens<br><br>
                Worked in:Dry Lab, Fundraising, Improve a part<br>
                </p>
                <p class="new">
                School of Electrical and computer engineering, National Technical University of Athens<br><br>
                <span style="color: #3aa9c5; font-style: 'Glacial Indifference Bold';">Dry Lab</span>,
                <span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Improve a part</span>,
                <span style="color: #ffc973; font-style: 'Glacial Indifference Bold';">Fundraising</span><br><br>
                <span style="background: -webkit-linear-gradient(#8a72c1, #61b872,  #3aa9c5, #ffc973); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Fun fact</span>
                <br>Rumor has it that he brings his laptop to parties.<br>
                </p>
            </div>

    <!---  Marianna -->    
        <div class="profile">
            <img src="https://static.igem.wiki/teams/4294/wiki/team-page/marianna-retus.jpg" class="profile-img">
            <h3 class="user-name">
                <span class="old">Marianna</span>
                <span class="new">Marianna 💎🧪</span> 
                </h3>
                <h5>
                <span class="old">Wet & Dry Lab Member</span>
                <span class="new"><span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet</span> & <span style="color: #3aa9c5; font-style: 'Glacial Indifference Bold';">Dry Lab</span> member</span></h5>
                <p class="old">
                School of Chemical engineering, National Technical University of Athens<br><br>
                Worked in: Dry Lab, Wet Lab, Genetic Circuit Design, Fundraising,, Social Media, Graphics design.
                <br>
                </p>
                <p class="new">
                School of Chemical engineering, National Technical University of Athens<br><br>
                <span style="color: #3aa9c5; font-style: 'Glacial Indifference Bold';">Dry Lab</span>,
                <span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span>,
                <span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Genetic Circuit Design</span>,
                <span style="color: #ffc973; font-style: 'Glacial Indifference Bold';">Fundraising</span>,
                <span style="color: #8a72c1; font-style: 'Glacial Indifference Bold';">Social Media</span>,
                <span style="color: #8a72c1; font-style: 'Glacial Indifference Bold';">Graphics design</span><br><br>
                <span style="background: -webkit-linear-gradient(#8a72c1, #61b872,  #3aa9c5, #ffc973); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Fun fact</span>
                <br>She can't go a day without eating something sweet.
                <br>
                </p>
                </div>
            </div>
</div>

<div class="container">
    <div class="profiles">
    <!---  Nikol -->    
        <div class="profile">
            <img src="https://static.igem.wiki/teams/4294/wiki/team-page/nikol-retus.jpg" class="profile-img">
            <h3 class="user-name">
                <span class="old">Nicole</span>
                <span class="new">Nicole 🌸🐱 </span> 
                </h3>
                <h5>
                <span class="old">Wet Lab Member</span>
                <span class="new"><span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span> member</span></h5>
                <p class="old">
                    Biology Department,National and Kapodistrian University of Athens<br><br>
                    Worked in:  Wet lab,Fundraising, and Human Practices<br>
                    </p>
                    <p class="new">
                    Biology Department, National and Kapodistrian University of Athens<br><br>
                    <span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span>,
                    <span style="color: #ffc973; font-style: 'Glacial Indifference Bold';">Fundraising</span>,
                    <span style="color: #ef4b4c; font-style: 'Glacial Indifference Bold';">Human Practices</span><br><br>
                    <span style="background: -webkit-linear-gradient(#8a72c1, #61b872,  #3aa9c5, #ffc973); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Fun fact</span>
                    <br>She has a thing for everything cute and kawaii.<br>
                    </p>
        </div>

    <!---  Pantelis -->
        <div class="profile">
            <img src="https://static.igem.wiki/teams/4294/wiki/team-page/pantelis-retus.jpg" class="profile-img">
            <h3 class="user-name">
                <span class="old">Pantelis</span>
                <span class="new">Pantelis 🪐🏕️🦠 </span> 
                </h3>
                <h5>
                <span class="old">Wet Lab Member</span>
                <span class="new"><span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span> member</span></h5>
                <p class="old"> 
                Department of Pharmacy, National and Kapodistrian University of Athens<br><br>
                Worked in:  Wet lab,Genetic Circuit Design, Fundraising, and Human Practices<br>
                </p>
                <p class="new"> 
                Department of Pharmacy, National and Kapodistrian University of Athens<br><br>
                <span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span>, 
                <span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Genetic Circuit Design</span>,
                <span style="color: #ffc973; font-style: 'Glacial Indifference Bold';">Fundraising</span>,
                <span style="color: #ef4b4c; font-style: 'Glacial Indifference Bold';">Human Practices</span>,
                <span style="color: #8a72c1; font-style: 'Glacial Indifference Bold';">Social Media</span><br><br>
                <span style="background: -webkit-linear-gradient(#8a72c1, #61b872,  #3aa9c5, #ffc973); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Fun fact</span> 
                <br>Rumor has it that Pantelis has his own factory of hand fans.<br>
                </p> 
            </div>


    <!---  Sofia -->
    <div class="profile">
        <img src="https://static.igem.wiki/teams/4294/wiki/team-page/sofia-retus.jpg" class="profile-img">
        <h3 class="user-name">
            <span class="old">Sofia</span>
            <span class="new">Sofia 🧬🎲💍 </span> 
            </h3>
            <h5>
            <span class="old">Wet Lab Member</span>
            <span class="new"><span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span> member</span></h5>
            <p class="old">
            University of Patras, Enzyme and Synthetic Biotechnology Laboratory, National Hellenic Research Foundation<br><br>
            Worked in: Wet Lab, Genetic Circuit and Parts Design, Human Practices<br>
            </p>
            <p class="new">
            University of Patras, Enzyme and Synthetic Biotechnology Laboratory, National Hellenic Research Foundation<br><br>
            <span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span>,
            <span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Genetic Circuit and Parts Design</span>,
            <span style="color: #ef4b4c; font-style: 'Glacial Indifference Bold';">Human Practices</span><br><br>
            <span style="background: -webkit-linear-gradient(#8a72c1, #61b872,  #3aa9c5, #ffc973); background-clip: content-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Fun fact</span>
            <br>She is most probably currently rebinging ‘Avatar: The last airbender’ for the 127th time.<br>
            </p>
        </div>
</div>

</body>

<!-- Footer -->
{% include 'footer.html' %}

</html>
