<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4294/wiki/favicon-white.png"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>
    
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/team_page_style_aspa.css') }}" rel="stylesheet">

    <!--Custom menu CSS-->
    <link href="{{url_for('static',filename='css/menu_style_aspa.css')}}" rel="stylesheet">

    <!--Custom footer CSS-->
    <link href="{{url_for('static',filename='css/footer_style_aspa.css')}}" rel="stylesheet">

    <title> Perspectives | Athens - iGEM 2022</title>
</head>

<body>
<!-- Navigation -->
{% include 'menu_custom.html' %}

<div class="page_header">
    <img class="img_header" src="https://static.igem.wiki/teams/4294/wiki/team-page/project-reveal-1920-1080-px-1.gif" width="100%">
    <div class="heading"> Meet iGEM Athens 2022</div>    
</div>

<div class="container">
    <div class="profiles">
    <!---  Annie -->    
        <div class="profile">
            <img src="https://static.igem.wiki/teams/4294/wiki/team-page/anny-retus.jpg" class="profile-img">
            <h3 class="user-name">        
            <span class="old">Annie</span>
            <span class="new">Annie 🔥☕️ </span> 
            </h3>
            <h5>
            <span class="old">Wet Lab Member</span>
            <span class="new"><span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span> member</span></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laborum dolorum dicta ipsa repellat numquam necessitatibus distinctio excepturi alias debitis reprehenderit ullam nam officia molestiae, provident quas sed minus. Quae.</p>
        </div>

    <!---  Anthi -->
    <div class="profile">
        <img src="https://static.igem.wiki/teams/4294/wiki/team-page/anthi-retus.jpg" class="profile-img">
        <h3 class="user-name">        
        <span class="old">Anthi</span>
        <span class="new">Anthi ✨📰 </span> 
        </h3>
        <h5>
        <span class="old">Wet Lab Member</span>
        <span class="new"><span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span> member</span></h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laborum dolorum dicta ipsa repellat numquam necessitatibus distinctio excepturi alias debitis reprehenderit ullam nam officia molestiae, provident quas sed minus. Quae.</p>
    </div>

    <!---  Aristotelis -->
        <div class="profile">
            <img src="https://static.igem.wiki/teams/4294/wiki/team-page/aris-retus.jpg" class="profile-img">
            <h3 class="user-name">
            <span class="old">Aristotelis</span>
            <span class="new">Aristotelis ⚡️🤫 </span> 
            </h3>
            <h5>
            <span class="old">Wet Lab Member</span>
            <span class="new"><span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span> member</span></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laborum dolorum dicta ipsa repellat numquam necessitatibus distinctio excepturi alias debitis reprehenderit ullam nam officia molestiae, provident quas sed minus. Quae.</p>
        </div>

</div>

<div class="container">
    <div class="profiles">
    <!---  Aspa -->
        <div class="profile">
            <img src="https://static.igem.wiki/teams/4294/wiki/team-page/aspa-retus.jpg" class="profile-img">
            <h3 class="user-name">
                <span class="old">Aspa</span>
                <span class="new">Aspa 🍉🦄 </span> 
                </h3>
                <h5>
                <span class="old">Dry Lab Member</span>
                <span class="new"><span style="color: #3aa9c5; font-style: 'Glacial Indifference Bold';">Dry Lab</span> member</span></h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laborum dolorum dicta ipsa repellat numquam necessitatibus distinctio excepturi alias debitis reprehenderit ullam nam officia molestiae, provident quas sed minus. Quae.</p>
            </div>


    <!---  Manos -->
        <div class="profile">
            <img src="https://static.igem.wiki/teams/4294/wiki/team-page/manos-retus.jpg" class="profile-img">
            <h3 class="user-name">
                <span class="old">Manos</span>
                <span class="new">Manos 🎉💻 </span> 
                </h3>
                <h5>
                <span class="old">Dry Lab Member</span>
                <span class="new"><span style="color: #3aa9c5; font-style: 'Glacial Indifference Bold';">Dry Lab</span> member</span></h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laborum dolorum dicta ipsa repellat numquam necessitatibus distinctio excepturi alias debitis reprehenderit ullam nam officia molestiae, provident quas sed minus. Quae.</p>
            </div>

    <!---  Marianna -->    
        <div class="profile">
            <img src="https://static.igem.wiki/teams/4294/wiki/team-page/marianna-retus.jpg" class="profile-img">
            <h3 class="user-name">
                <span class="old">Marianna</span>
                <span class="new">Marianna 💎🧪💻 </span> 
                </h3>
                <h5>
                <span class="old">Dry Lab Member</span>
                <span class="new"><span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet</span> & <span style="color: #3aa9c5; font-style: 'Glacial Indifference Bold';">Dry Lab</span> member</span></h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laborum dolorum dicta ipsa repellat numquam necessitatibus distinctio excepturi alias debitis reprehenderit ullam nam officia molestiae, provident quas sed minus. Quae.</p>
            </div>
</div>

<div class="container">
    <div class="profiles">
    <!---  Nikol -->    
        <div class="profile">
            <img src="https://static.igem.wiki/teams/4294/wiki/team-page/nikol-retus.jpg" class="profile-img">
            <h3 class="user-name">
                <span class="old">Nicole</span>
                <span class="new">Nicole 🌸🐱 </span> 
                </h3>
                <h5>
                <span class="old">Dry Lab Member</span>
                <span class="new"><span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span> member</span></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laborum dolorum dicta ipsa repellat numquam necessitatibus distinctio excepturi alias debitis reprehenderit ullam nam officia molestiae, provident quas sed minus. Quae.</p>
        </div>

    <!---  Pantelis -->
        <div class="profile">
            <img src="https://static.igem.wiki/teams/4294/wiki/team-page/pantelis-retus.jpg" class="profile-img">
            <h3 class="user-name">
                <span class="old">Pantelis</span>
                <span class="new">Paantelis 🪐🏕️🦠 </span> 
                </h3>
                <h5>
                <span class="old">Dry Lab Member</span>
                <span class="new"><span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span> member</span></h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laborum dolorum dicta ipsa repellat numquam necessitatibus distinctio excepturi alias debitis reprehenderit ullam nam officia molestiae, provident quas sed minus. Quae.</p>
            </div>


    <!---  Sofia -->
    <div class="profile">
        <img src="https://static.igem.wiki/teams/4294/wiki/team-page/sofia-retus.jpg" class="profile-img">
        <h3 class="user-name">
            <span class="old">Sofia</span>
            <span class="new">Sofia 🧬🎲💍 </span> 
            </h3>
            <h5>
            <span class="old">Dry Lab Member</span>
            <span class="new"><span style="color: #61b872; font-style: 'Glacial Indifference Bold';">Wet Lab</span> member</span></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laborum dolorum dicta ipsa repellat numquam necessitatibus distinctio excepturi alias debitis reprehenderit ullam nam officia molestiae, provident quas sed minus. Quae.</p>
        </div>
</div>

<!-- Footer -->
{% include 'footer.html' %}


</body>
</html>