@import url(fonts.css);

:root {
    --dark-blue: #050a30;
    --light-blue: #3aa9c5;
    --color-white: #e9e9eb;
    --yellow: #ffc973;
    --red: #ef4b4c;
  }
  
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #050a30;
    color: #e9e9eb;
    font-family: 'Glacial Indifference';
}

.page_header{
    padding-top: 70px;
    position: relative;
    text-align: center;
    color: #050a30;
}

.img_header{
    filter: blur(4px);
}

.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 100px;
    color: #050a30;
    background-color:rgba(97, 184, 114, 0.7);
    width: 100%;
    height: 130px;
    font-family: 'Glacial Indifference Bold';
}

.container{
    padding-top: 50px;
    color: #e9e9eb;
    background-color: #102a4e;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.container h1{
    font-size: 50pt;
    color: #ef4b4c;
    padding-bottom: 20px;
}

.container p{
    font-size: 24pt;
    text-align: justify;
}

.container ul li{
    font-size: 24pt;
    text-align: justify;
    padding-bottom: 20px;
}