@import url(fonts.css);

:root {
    --dark-blue: #050a30;
    --light-dark-blue: #102a4e;
    --light-blue: #3aa9c5;
    --color-white: #e9e9eb;
    --yellow: #ffc973;
    --red: #ef4b4c;
    --green: #61b872;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #050a30;
    color: #e9e9eb;
    font-family: 'Glacial Indifference';
}

.page_header{
    padding-top: 70px;
    position: relative;
    text-align: center;
    color: #050a30;
}

.img_header{
    filter: blur(4px);
}

.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 100px;
    color: #050a30;
    background-color:rgba(97, 184, 114, 0.7);
    width: 100%;
    height: 130px;
    font-family: 'Glacial Indifference Bold';
}

.timeline-section{
	background-color: #102a4e;
	padding: 50px 70px 50px 50px;
}

.timeline-section h1{
    font-size: 50px; 
    padding-left: 100px;
}

.timeline-items{
	max-width: 1600px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 10px;
	height: 100%;
	background-color: #050a30;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot-athens{
	height: 25px;
	width: 25px;
	background-color: #3aa9c5;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date-athens{
	font-size: 30px;
	color: #3aa9c5;
	margin:6px 0 15px;
}

.timeline-dot{
	height: 25px;
	width: 25px;
	background-color: #61b872;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 30px;
	color: #61b872;
	margin:6px 0 15px;
}

.timeline-content{
    background-color: #050a30;
	padding: 15px;
	border-radius: 15px;
}

.biosafety-video-img{
    width: 50%;
    padding-top: 5px;
    padding-left: 20px;
    border-radius: 30px;
}

.dna-collab-img{
    width: 80%;
    padding-top: 5px;
    padding: 3%;
    border-radius: 30px;
    translate: 10%;
}

.story-1-img{
    width: 30%;
    padding: 2%;
    translate: 13%;
}

.story-2-img{
    width: 30%;
    padding: 2%;
    translate: 13%;
}

.story-3-img{
    width: 30%;
    padding: 2%;
    translate: 13%;
}

.fav-1-img{
    width: 45%;
    padding: 2%;
    translate: 13%;
    border-radius: 30px;
}

.fav-2-img{
    width: 45%;
    padding: 2%;
    translate: 13%;
    border-radius: 30px;
}

.tech-1-img{
    width: 60%;
    padding-top: 3%;
    padding-left: 3%;
    border-radius: 20px;
    float: right;
}

.tech-2-img{
    width: 60%;
    padding-right: 3%;
    padding-bottom: 2%;
    float: left;
    border-radius: 30px;
}

.tech-3-img{
    width: 45%;
    padding-left: 3%;
    border-radius: 20px;
    float: right;
}

.mistakes-img{
    width: 80%;
    float: left;
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    border-radius: 30px;
}

.collapsible{
    max-width: 800px;
    overflow: hidden;
    font-weight: 500;
}

.collapsible input{
    display: none;
}

.collapsible label{
    font-size: 30px;
    font-family: 'Glacial Indifference Bold';
	color: #e9e9eb;
	text-transform: capitalize;
	font-weight: 500;
    position: relative;
    font-weight: 600;
    background: #050a30;
    color: #e9e9eb;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}

.collapsible label:after{
    content: '';
    position: absolute;
    right: 15px;
    left: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    transition: all 0.3s ease;
}

.collapsible input:checked + label:after{
    transform: rotate(90deg);
}

.collapsible-text{
    max-height: 1px;
    overflow: hidden;
    border-radius: 15px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3 ease;
}

.collapsible input:checked ~ .collapsible-text{
    max-height: 40000px;
    padding: 15px;
    background: #050a30;
    opacity: 1;
    top: 0;
}

.collapsible-text p{
    color: #e9e9eb;
	font-size: 25px;
	font-weight: 300;
	line-height: 22px;
    text-align: justify;

}

.collapsible-text ul li{
    color: #e9e9eb;
	font-size: 25px;
	font-weight: 300;
	line-height: 22px;
    text-align: justify;

}

.container_tedx{
    translate: 10%;
    position: relative;
    width: 580px;
    height: 720px;
    border-radius: 80px;
    border: 10px solid #3aa9c5;
    background: #e9e9e9;
    position: relative;
}

.container_tedx .wrapper_tedx{
    width: 500px;
    height:620px;
    translate: 0% -8%;
    border-radius: 50px;   
    margin: 5rem auto;
    overflow: hidden;
}

.container_tedx .wrapper-holder-tedx{
    display: grid;
    grid-template-columns: repeat(15, 100%);
    height: 100%;
    width: 100%;
}
.container_tedx #tedx1{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/collaborations/noise/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx2{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/collaborations/noise/2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx3{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/collaborations/noise/3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx4{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/collaborations/noise/4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx5{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/collaborations/noise/5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx6{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/collaborations/noise/6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx7{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/collaborations/noise/7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx8{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/collaborations/noise/8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx9{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/collaborations/noise/9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx10{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/collaborations/noise/10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx11{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/collaborations/noise/11.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx12{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/collaborations/noise/12.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx13{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/collaborations/noise/13.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx14{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/collaborations/noise/14.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx15{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/collaborations/noise/15.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container_tedx .button-holder-tedx .button_tedx{
    background-color: #61b872;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container_tedx .button-holder-tedx{
    position: absolute;
    justify-content: center;
    left: 12%;
    bottom: 1%;
}
.button_tedx:hover{
    background-color: #61b872;
}

/* responsive */
@media(max-width: 1300px){
    .timeline-items-athens::before{
		left: 7px;
	}
	.timeline-item-athens:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item-athens:nth-child(odd),
	.timeline-item-athens:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot-athens{
		left:0;
	}

	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}

    .heading{
        transform: translate(-50%, 0%);
        font-size: 40px;
        height: 60px;
    }

    .timeline-section h1{
        font-size: 30px; 
        padding-left: 0px;
    }

    .collapsible label{
        font-size: 25px;
    }

    .collapsible-text p{
        font-size: 20px;
    }

    .dna-collab-img{
        width: 100%;
        padding-top: 5px;
        padding-left: 3%;
        border-radius: 30px;
        translate: 0%;
    }

    .container_tedx{
        translate: 0%;
    }

    /* .container_tedx{
        translate: 0%;
        width: 50%;
        height: fit-content;
    }
    
    .container_tedx .wrapper_tedx{
        width: 90%;
        height: 200px;
        translate: 0% 0%;
    }

    .container_tedx .button-holder-tedx{
        left: 10%;
        bottom: 10%;
    } */
}