@import url(fonts.css);

:root {
    --dark-blue: #050a30;
    --light-blue: #3aa9c5;
    --color-white: #e9e9eb;
    --yellow: #ffc973;
    --red: #ef4b4c;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

iframe{
    display:none;
}

html{
    scroll-behavior: smooth;
}

/*Aspa*/

.page_header{
    padding-top: 70px;
    position: relative;
    text-align: center;
    background-color: #050a30;

}

.img_header{
    filter: blur(4px);
}

.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 100px;
    color: #e9e9eb;
    background-color:rgba(239, 75, 76, 0.8);
    width: 100%;
    height: 130px;
    font-family: 'Glacial Indifference Bold';
}


.cc{
    width: 100%;
    height:100%;
    outline:none;
    padding-right: 0em;
    padding-left: 2em;
    display:flex;
    flex-wrap: wrap;
    padding-top:3em;
    padding-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    background-color:#102a4e;
}

.left-side{
    color:var(--color-white);
    margin-left: 0em;
    padding-right: 20px;
    padding-left: 0em;
    width: 20%;
    font-size:25px;
    justify-items: center;
}

.left-side h2{
    text-align: center;
}

.right-side{
    color:var(--color-white);
    margin-left: 0em;
    padding-right: 60px;
    padding-left: 1em;
    width:80%;
    align-content: center;
    font-size: 25px;
}

.index-bar{
    position: -webkit-sticky;
    position: sticky;
    padding-bottom: 50px;
    padding-left: 1em;
    margin-top: 1em;
    top:150px;
    bottom:200px;
}

.lateral-index{
    background-color: var(--dark-blue);
    transition: all 0.2s ease;
    list-style-type: none;
    display:inline-block;
    border-radius: 0.4em !important;
    margin-left: 0;
    padding: 1em 1em 1em 2.6em !important;
    margin-top:2em;
}

.index-bar ul li {
    padding-bottom: 1em;
    padding-top:0em;
    position: relative;
  }


/* navigation bar text decoration */    
.index-bar ul li a {
    /*display: flex; */ 
    font-size: 25px;
    color: var(--color-white);
    text-decoration: none;
    padding-bottom: 10px;
    transition: all 0.3s;  
  }
  
.index-bar ul li a:hover {
    color: var(--yellow);
  }

/* this the after effect with the yellow line */

.index-bar ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #ffc973;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
    
.index-bar ul li a:hover::after {
    width: 0%;
    }


.anchorOffset {
    display: block !important;
    position: relative !important;
    top: -100px !important;
    visibility: hidden !important;
  }

.buttons{
    align-items:flex-end;
    margin-left: 0px;
    margin-right: 0em;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    background-color:#102a4e;
}

.button {
    width: 20%;
    text-align: center;
    cursor: pointer;
    background-color: #050a30;
    border-radius: 10px;
  }

.button a {
    color: #e9e9eb;
    font-size: 1.375em;
    cursor: pointer;
    display: block;
    padding: 1em 0;
    transition: all 0.3s;  
}

.button a:hover{
    color:var(--yellow)
}


#cc-receivers{
    display:none;
}

#cc-senders-2{
    display:none;
}

.collapsible{
    padding-top:30px;
}


.coll-up{
    display:flex;
}


.collapsible label {
    padding:20px 20px;
    position:relative;
    z-index:1;
    font-weight:600;
    padding:20px 20px;
    text-align: left;
    transition: all 0.5s linear;
    background-color:#050a30;
    border-radius:20px;
    display:flex;
    position:relative;
    color:#e9e9eb;
    cursor:pointer;
    font-size: 30px;
}

.collapsible img{
    position:relative;
    
}


.collapsible label:hover{
    color:var(--yellow)
}

/*
.collapsible label a::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: #ffc973;
    display: block;
    margin: auto; 
    transition: all 0.5s;
  }
    
.collapsible label a:hover::after {
    width: 30%;
}
*/
.collapsible-content{
    overflow:hidden;
    max-height:0px;
    padding-bottom:25px;
    overflow:hidden;
    top:-100%;
    opacity:0;
    transition: max-height 0.5s ease-out;
    transition: all 0.5s ease;
    font-size:20px;
}

.collapsible input{
    display:none;
}

.collapsible input:checked ~ .collapsible-content{
    max-height:300px;
    padding-bottom:5px;
    background-color:#102a4e;
    opacity:1;
    top:0;
}

.collapsible-content cite a {
     padding: 10px 10px;
     color:#e9e9eb;
     display:block;
}

.equations{
    font-size: 20px;
}

.aim_box{
    margin: 3px;
    background-color: #050a30;
    border-radius: 50px;
    padding: 50px;
    transition: .6s;
    text-align: justify;
    height: 350px;
}  

.aim_box:hover{
    transform: translate(0, -10px);
    box-shadow: 3px 3px #ef4b4c;
}  

.aim_img{
    width: 25%;
    float: left;
}

.introduction{
    text-align: justify;
} 

.ngos{
    text-align: justify;
}

.ngos h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
} 

.unique{
    text-align: justify;
}


.unique h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
} 

.biochem_day{
    text-align: justify;
}

.biochem_day h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
} 

.social_media{
    text-align: justify;
}

.social_media h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
} 

.tedx{
    text-align: justify;
}

.tedx h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
} 

.schms{
    text-align: justify;
}

.schms h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
} 

.debate{
    text-align: justify;
}

.debate h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
} 

.journal{
    text-align: justify;
}

.journal h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
} 

.school_visit{
    text-align: justify;
}

.school_visit h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
}

.fairytale{
    text-align: justify;
}

.fairytale h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
}