@import url(fonts.css);

:root {
    --dark-blue: #050a30;
    --light-blue: #3aa9c5;
    --color-white: #e9e9eb;
    --yellow: #ffc973;
    --red: #ef4b4c;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

iframe{
    display:none;
}

html{
    scroll-behavior: smooth;
}

/*Aspa*/

.page_header{
    padding-top: 70px;
    position: relative;
    text-align: center;
    background-color: #050a30;

}

.img_header{
    filter: blur(4px);
}

.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 100px;
    color: #e9e9eb;
    background-color:rgba(239, 75, 76, 0.8);
    width: 100%;
    height: 130px;
    font-family: 'Glacial Indifference Bold';
}


.cc{
    width: 100%;
    height:100%;
    outline:none;
    padding-right: 0em;
    padding-left: 2em;
    display:flex;
    flex-wrap: wrap;
    padding-top:3em;
    padding-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    background-color:#102a4e;
}

.left-side{
    color:var(--color-white);
    margin-left: 0em;
    padding-right: 20px;
    padding-left: 0em;
    width: 20%;
    font-size:25px;
    justify-items: center;
}

.left-side h2{
    text-align: center;
}

.right-side{
    color:var(--color-white);
    margin-left: 0em;
    padding-right: 60px;
    padding-left: 1em;
    width:80%;
    align-content: center;
    font-size: 25px;
}

.index-bar{
    position: -webkit-sticky;
    position: sticky;
    padding-bottom: 50px;
    padding-left: 1em;
    margin-top: 1em;
    top:150px;
    bottom:200px;
}

.lateral-index{
    background-color: var(--dark-blue);
    transition: all 0.2s ease;
    list-style-type: none;
    display:inline-block;
    border-radius: 0.4em !important;
    margin-left: 0;
    padding: 1em 1em 1em 2.6em !important;
    margin-top:2em;
}

.index-bar ul li {
    padding-bottom: 1em;
    padding-top:0em;
    position: relative;
  }


/* navigation bar text decoration */    
.index-bar ul li a {
    /*display: flex; */ 
    font-size: 25px;
    color: var(--color-white);
    text-decoration: none;
    padding-bottom: 10px;
    transition: all 0.3s;  
  }
  
.index-bar ul li a:hover {
    color: var(--yellow);
  }

/* this the after effect with the yellow line */

.index-bar ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #ffc973;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
    
.index-bar ul li a:hover::after {
    width: 0%;
    }


.anchorOffset {
    display: block !important;
    position: relative !important;
    top: -100px !important;
    visibility: hidden !important;
  }

.buttons{
    align-items:flex-end;
    margin-left: 0px;
    margin-right: 0em;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    background-color:#102a4e;
}

.button {
    width: 20%;
    text-align: center;
    cursor: pointer;
    background-color: #050a30;
    border-radius: 10px;
  }

.button a {
    color: #e9e9eb;
    font-size: 1.375em;
    cursor: pointer;
    display: block;
    padding: 1em 0;
    transition: all 0.3s;  
}

.button a:hover{
    color:var(--yellow)
}


#cc-receivers{
    display:none;
}

#cc-senders-2{
    display:none;
}

.collapsible{
    padding-top:30px;
}


.coll-up{
    display:flex;
}


.collapsible label {
    padding:20px 20px;
    position:relative;
    z-index:1;
    font-weight:600;
    padding:20px 20px;
    text-align: left;
    transition: all 0.5s linear;
    background-color:#050a30;
    border-radius:20px;
    display:flex;
    position:relative;
    color:#e9e9eb;
    cursor:pointer;
    font-size: 30px;
}

.collapsible img{
    position:relative;
    
}


.collapsible label:hover{
    color:var(--yellow)
}

/*
.collapsible label a::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: #ffc973;
    display: block;
    margin: auto; 
    transition: all 0.5s;
  }
    
.collapsible label a:hover::after {
    width: 30%;
}
*/
.collapsible-content{
    overflow:hidden;
    max-height:0px;
    padding-bottom:25px;
    overflow:hidden;
    top:-100%;
    opacity:0;
    transition: max-height 0.5s ease-out;
    transition: all 0.5s ease;
    font-size:20px;
}

.collapsible input{
    display:none;
}

.collapsible input:checked ~ .collapsible-content{
    max-height:300px;
    padding-bottom:5px;
    background-color:#102a4e;
    opacity:1;
    top:0;
}

.collapsible-content cite a {
     padding: 10px 10px;
     color:#e9e9eb;
     display:block;
}

.equations{
    font-size: 20px;
}

.aim_box{
    margin: 3px;
    background-color: #050a30;
    border-radius: 50px;
    padding: 50px;
    transition: .6s;
    text-align: justify;
    height: 350px;
}  

.aim_box:hover{
    transform: translate(0, -10px);
    box-shadow: 3px 3px #ef4b4c;
}  

.aim_img{
    width: 25%;
    float: left;
}

.introduction{
    text-align: justify;
} 

.ngos{
    text-align: justify;
}

.ngos h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
} 

.container_ngos{
    translate: 40%;
    position: relative;
    width: 800px;
    height: 650px;
    border-radius: 80px;
    border: 10px solid #050a30;
    background: #e9e9e9;
    position: relative;
    z-index: 1;
}

.container_ngos .wrapper_ngos{
    width: 700px;
    height: 520px;
    translate: 0% -5%;
    border-radius: 50px;   
    margin: 5rem auto;
    overflow: hidden;
}

.container_ngos .wrapper-holder-ngos{
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
}
.container_ngos #slider-img-1{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/ngos/ngos-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_ngos #slider-img-2{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/ngos/ngos-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}
.container_ngos #slider-img-3{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/ngos/ngos-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}
.container_ngos #slider-img-4{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/ngos/ngos-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}
.container_ngos .button-holder-ngos .button_ngos{
    background-color: #61b872;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container_ngos .button-holder-ngos{
    position: absolute;
    left: 45%;
    bottom: 0%;
}
.button_ngos:hover{
    background-color: #61b872;
}

.unique{
    text-align: justify;
}


.unique h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
} 

.container_unique{
    translate: 40%;
    position: relative;
    width: 800px;
    height: 650px;
    border-radius: 80px;
    border: 10px solid #050a30;
    background: #e9e9e9;
    position: relative;
    z-index: 1;
}

.container_unique .wrapper_unique{
    width: 700px;
    height: 520px;
    translate: 0% -5%;
    border-radius: 50px;   
    margin: 5rem auto;
    overflow: hidden;
}

.container_unique .wrapper-holder-unique{
    display: grid;
    grid-template-columns: repeat(2 100%);
    height: 100%;
    width: 100%;
}
.container_unique #slider-img-5{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/unique-days/unique-days-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_unique #slider-img-6{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/unique-days/unique-days-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.container_unique .button-holder-unique .button_unique{
    background-color: #61b872;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container_unique .button-holder-unique{
    position: absolute;
    left: 47%;
    bottom: 0%;
}
.button_unique:hover{
    background-color: #61b872;
}


.biochem_day{
    text-align: justify;
}

.biochem_day h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
} 

.social_media{
    text-align: justify;
}

.social_media h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
}

.container_socials{
    translate: 52%;
    position: relative;
    width: 650px;
    height: 1000px;
    border-radius: 80px;
    border: 10px solid #050a30;
    background: #e9e9e9;
    position: relative;
    z-index: 1;
}

.container_socials .wrapper_socials{
    width: 520px;
    height: 900px;
    translate: 0% -5%;
    border-radius: 50px;   
    margin: 5rem auto;
    overflow: hidden;
}

.container_socials .wrapper-holder-socials{
    display: grid;
    grid-template-columns: repeat(10, 100%);
    height: 100%;
    width: 100%;
}
.container_socials #socials1{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/social-media/social-media1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_socials #socials2{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/social-media/social-media2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_socials #socials3{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/social-media/social-media3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_socials #socials4{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/social-media/social-media4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_socials #socials5{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/social-media/social-media5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_socials #socials6{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/social-media/social-media6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_socials #socials7{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/social-media/social-media7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container_socials .button-holder-socials .button_socials{
    background-color: #61b872;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container_socials .button-holder-socials{
    position: absolute;
    left: 35%;
    bottom: 0%;
}
.button_socials:hover{
    background-color: #61b872;
}

.tedx{
    text-align: justify;
}

.tedx h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
}

.container_tedx{
    translate: 40%;
    position: relative;
    width: 800px;
    height: 650px;
    border-radius: 80px;
    border: 10px solid #050a30;
    background: #e9e9e9;
    position: relative;
    z-index: 1;
}

.container_tedx .wrapper_tedx{
    width: 700px;
    height: 520px;
    translate: 0% -5%;
    border-radius: 50px;   
    margin: 5rem auto;
    overflow: hidden;
}

.container_tedx .wrapper-holder-tedx{
    display: grid;
    grid-template-columns: repeat(10, 100%);
    height: 100%;
    width: 100%;
}
.container_tedx #tedx1{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/tedx/proti-tdex.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx2{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/tedx/tdex-a.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx3{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/tedx/tdex-b.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx4{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/tedx/tdex-c.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx5{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/tedx/tdex-d.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx6{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/tedx/tdex-e.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx7{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/tedx/tdex-f.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx8{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/tedx/tdex-g.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx9{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/tedx/tdex-s.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_tedx #tedx10{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/tedx/photo-tdex-site.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container_tedx .button-holder-tedx .button_tedx{
    background-color: #61b872;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container_tedx .button-holder-tedx{
    position: absolute;
    left: 30%;
    bottom: 0%;
}
.button_tedx:hover{
    background-color: #61b872;
}

.schms{
    text-align: justify;
}

.schms h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
} 

.container_schms{
    translate: 40%;
    position: relative;
    width: 800px;
    height: 650px;
    border-radius: 80px;
    border: 10px solid #050a30;
    background: #e9e9e9;
    position: relative;
    z-index: 1;
}

.container_schms .wrapper_schms{
    width: 700px;
    height: 520px;
    translate: 0% -5%;
    border-radius: 50px;   
    margin: 5rem auto;
    overflow: hidden;
}

.container_schms .wrapper-holder-schms{
    display: grid;
    grid-template-columns: repeat(10, 100%);
    height: 100%;
    width: 100%;
}
.container_schms #schms1{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/esfie/esfie-a.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_schms #schms2{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/esfie/esfie-b.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_schms #schms3{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/esfie/esfie-d.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_schms #schms4{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/esfie/esfie-e.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_schms #schms5{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/esfie/esfie-k.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_schms #schms6{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/esfie/esfie-n.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container_schms .button-holder-schms .button_schms{
    background-color: #61b872;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container_schms .button-holder-schms{
    position: absolute;
    left: 40%;
    bottom: 0%;
}
.button_schms:hover{
    background-color: #61b872;
}

.debate{
    text-align: justify;
}

.debate h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
} 

.container_debate{
    translate: 40%;
    position: relative;
    width: 800px;
    height: 650px;
    border-radius: 80px;
    border: 10px solid #050a30;
    background: #e9e9e9;
    position: relative;
    z-index: 1;
}

.container_debate .wrapper_debate{
    width: 700px;
    height: 520px;
    translate: 0% -5%;
    border-radius: 50px;   
    margin: 5rem auto;
    overflow: hidden;
}

.container_debate .wrapper-holder-debate{
    display: grid;
    grid-template-columns: repeat(10, 100%);
    height: 100%;
    width: 100%;
}
.container_debate #debate1{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/debate/debate-bio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_debate #debate2{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/debate/bios.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_debate #debate3{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/debate/biosafety.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_debate #debate4{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/debate/biosaff.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_debate #debate5{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/debate/biosaf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_debate #debate6{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/education-communication/debate/biodebate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container_debate .button-holder-debate .button_debate{
    background-color: #61b872;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container_debate .button-holder-debate{
    position: absolute;
    left: 40%;
    bottom: 0%;
}
.button_debate:hover{
    background-color: #61b872;
}


.journal{
    text-align: justify;
}

.journal h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
} 

.school_visit{
    text-align: justify;
}

.school_visit h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
}

.sarakas{
    text-align: justify;
}

.sarakas h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
}

.researchers_night{
    text-align: justify;
}

.researchers_night h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
}

.fairytale{
    text-align: justify;
}

.fairytale h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
}

.from_us{
    text-align: justify;
}

.from_us h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
}

.on_us{
    text-align: justify;
}

.on_us h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
}