@import url(fonts.css);

:root {
    --dark-blue: #050a30;
    --light-blue: #3aa9c5;
    --color-white: #e9e9eb;
    --yellow: #ffc973;
    --red: #ef4b4c;
  }
  
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #050a30;
    color: #e9e9eb;
    font-family: 'Glacial Indifference';
}

.page_header{
    padding-top: 70px;
    position: relative;
    text-align: center;
    color: #050a30;
}

.img_header{
    filter: blur(4px);
}

.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 100px;
    color: #e9e9eb;
    background-color:rgba(16, 42, 78, 0.7);
    width: 100%;
    height: 130px;
    font-family: 'Glacial Indifference Bold';
}

.container{
    padding-top: 50px;
    color: #e9e9eb;
    background-color: #102a4e;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.container h1{
    font-size: 50pt;
    color: #ef4b4c;
}

.container{
    padding-top: 50px;
    color: #e9e9eb;
    background-color: #102a4e;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}


.cc{
    width: 100%;
    height:100%;
    outline:none;
    padding-right: 0em;
    padding-left: 2em;
    display:flex;
    flex-wrap: wrap;
    padding-top:3em;
    padding-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    background-color:#102a4e;
}

.left-side{
    color:var(--color-white);
    margin-left: 0em;
    padding-right: 1em;
    padding-left: 0em;
    width: 20%;
    font-size:25px;
    justify-items: center;
}

.left-side h2{
    text-align: center;
}

.right-side{
    color:var(--color-white);
    margin-left: 0em;
    padding-right: 1em;
    padding-left: 1em;
    width:80%;
    align-content: center;
    font-size: 25px;
}

.index-bar{
    position: -webkit-sticky;
    position: sticky;
    padding-bottom: 20px;
    margin-top: 1em;
    top:150px;
    bottom:200px;
    width: 70%;
}

.lateral-index{
    background-color: var(--dark-blue);
    transition: all 0.2s ease;
    list-style-type: none;
    display:inline-block;
    border-radius: 0.4em !important;
    margin-left: 0;
    padding: 1em 1em 1em 2.6em !important;
    margin-top:2em;
}

.index-bar ul li {
    padding-bottom: 1em;
    padding-top:0em;
    position: relative;
  }


/* navigation bar text decoration */    
.index-bar ul li a {
    /*display: flex; */ 
    font-size: 25px;
    color: var(--color-white);
    text-decoration: none;
    padding-bottom: 10px;
    transition: all 0.3s;  
  }
  
.index-bar ul li a:hover {
    color: var(--yellow);
  }


.anchorOffset {
    display: block !important;
    position: relative !important;
    top: -100px !important;
    visibility: hidden !important;
  }


.introduction{
    text-align: justify;
}  
    
.introduction h1{
    font-family: 'Glacial Indifference Bold';
    color: #969696;
    font-size: 50px;
}

.safety_intro{
    width: 40%;
    float: right;
    padding-left: 1em;
    padding-top: 10px;
    border-radius: 50px;
}

.lab_safety{
    text-align: justify;
}

.lab_safety h1{
    font-family: 'Glacial Indifference Bold';
    color: #3aa9c5;
    font-size: 50px;
}

.lab_safety h2{
    color: #3aa9c5;
    font-size: 35px;
}

.pasteur_img{
    width: 30%;
    float: left;
    padding-right: 1em;
    padding-top: 10px;
    border-radius: 50px;
}

.generic_img{
    width: 40%;
    float: right;
    padding-left: 50px;
    padding-top: 10px; 
    border-radius: 50px;   
}

.project_safety{
    text-align: justify;
}

.project_safety h1{
    font-family: 'Glacial Indifference Bold';
    color: #ffc973;
    font-size: 50px;    
}

.project_safety h2{
    color: #ffc973;
    font-size: 35px;
}

.senders_receivers{
    float: left;
    width: 50%;
    border-radius: 50px;
    padding-top: 0px;
    padding-right: 50px;
}

.iGEM_deliverables{
    text-align: justify;
}

.iGEM_deliverables h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 50px;    
}

.zoom_img{
    width: 50%;
    border-radius: 50px;
}

.science_comm_actions{
    text-align: justify;
}

.science_comm_actions h1{
    font-family: 'Glacial Indifference Bold';
    color: #ef4b4c;
    font-size: 50px;    
}

.science_comm_actions h2{
    color: #ef4b4c;
    font-size: 35px;
}

.ren_biosafety{
    width: 30%;
    float: left;
    padding-right: 2em;
    border-radius: 50px;
}

.public_awareness{
    text-align: justify;
}

.public_awareness h1{
    font-family: 'Glacial Indifference';
    color: #8a72c1;
    font-size: 50px;    
}

.public_awareness h2{
    color: #8a72c1;
    font-size: 35px;
}

.debate_img_1{
    width: 35%;
    float: right;
    padding-left: 2em;
    border-radius: 50px;
}

.debate_img_2{
    width: 35%;
    float: left;
    padding-right: 2em;
    border-radius: 50px;
}

.gmos_img{
    width: 70%;
    border-radius: 50px;
}

.what_img{
    width: 30%;
    float: left;
    padding-right: 2em;
    border-radius: 50px;
}


@media screen and (max-width: 1200px){
    .heading{
        transform: translate(-50%, -20%);
        font-size: 35px;
        height: 60px;
    }

    .left-side{
        display: none; 
    }
    
    .right-side{
        width: 100%;
        font-size: 22px;
    }

}