@import url(fonts.css);

:root {
    --dark-blue: #050a30;
    --light-blue: #3aa9c5;
    --color-white: #e9e9eb;
    --yellow: #ffc973;
    --red: #ef4b4c;
    --green: #;
  }
  
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #050a30;
    color: #e9e9eb;
    font-family: 'Glacial Indifference';
}

.page_header{
    padding-top: 70px;
    position: relative;
    text-align: center;
    color: #050a30;
}

.img_header{
    filter: blur(4px);
}

.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 100px;
    color: #e9e9eb;
    background-color:rgba(16, 42, 78, 0.7);
    width: 100%;
    height: 130px;
    font-family: 'Glacial Indifference Bold';
}

.container{
    padding-top: 50px;
    color: #e9e9eb;
    background-color: #102a4e;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.container h1{
    font-size: 50pt;
    color: #ef4b4c;
}

.container{
    padding-top: 50px;
    color: #e9e9eb;
    background-color: #102a4e;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}


.cc{
    width: 100%;
    height:100%;
    outline:none;
    padding-right: 0em;
    padding-left: 2em;
    display:flex;
    flex-wrap: wrap;
    padding-top:3em;
    padding-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    background-color:#102a4e;
}



.left-side{
    color:var(--color-white);
    margin-left: 0em;
    padding-right: 20px;
    padding-left: 0em;
    width: 20%;
    font-size:25px;
    justify-items: center;
}

.left-side h2{
    text-align: center;
}

.right-side{
    color:var(--color-white);
    margin-left: 0em;
    padding-right: 60px;
    padding-left: 1em;
    width:80%;
    align-content: center;
    font-size: 25px;
}

.index-bar{
    position: -webkit-sticky;
    position: sticky;
    padding-bottom: 50px;
    padding-left: 1em;
    margin-top: 1em;
    top:150px;
}

.lateral-index{
    background-color: var(--dark-blue);
    transition: all 0.2s ease;
    list-style-type: none;
    display:inline-block;
    border-radius: 0.4em !important;
    margin-left: 0;
    padding: 1em 1em 1em 2.6em !important;
    margin-top:2em;
}

.index-bar ul li {
    padding-bottom: 1em;
    padding-top:0em;
    position: relative;
  }


/* navigation bar text decoration */    
.index-bar ul li a {
    /*display: flex; */ 
    font-size: 25px;
    color: var(--color-white);
    text-decoration: none;
    padding-bottom: 10px;
    transition: all 0.3s;  
  }
  
.index-bar ul li a:hover {
    color: #ffc973;
  }

    
.collapsible_menu {
background-color: #050a30;
color: #e9e9e9;
font-family: 'Glacial Indifference Bold';
cursor: pointer;
padding: 0px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 25px;
}

.active, .collapsible_menu:hover {
    color: #ffc973;
}

.content_menu{
padding-top: 7%;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: #050a30;
border-radius: 15px;
}  

.content_menu ul{
    list-style: none;
}



.anchorOffset {
    display: block !important;
    position: relative !important;
    top: -200px !important;
    visibility: hidden !important;
  }


.introduction{
    text-align: justify;
}  
    
.introduction h1{
    font-family: 'Glacial Indifference Bold';
    color: #969696;
    font-size: 50px;
}

.overview{
    background-color: #050a30;
    color: #e9e9eb;
    font-size: 25px;
    padding: 3%;
    border-radius: 50px;
}

.overview h1{
    color: #ffc973;
    text-align: left;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 40px;
    font-family: 'Glacial Indifference Bold';
}

.overview p{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 1%;
    text-align: justify;
    font-size: 25px;
}

.img1{
    width: 60%;
}

.general_info{
    text-align: justify;
    padding-right: 4%;
}  
    
.general_info h1{
    font-family: 'Glacial Indifference Bold';
    color: #8a72c1;
    font-size: 50px;
    font-weight: 200;
}

.general_info h2{
    font-family: 'Glacial Indifference Bold';
    color: #8a72c1;
    font-size: 40px;
    font-weight: 200;
}

.general_info h2{
    color: #8a72c1;
    font-size: 35px;
}

.general_info i{
    color: #e9e9eb;
    font-size: 25px;
    font-family: 'Glacial Indifference Italics';
}

.general_info b{
    color: #e9e9eb;
    font-size: 25px;
    font-family: 'Glacial Indifference Bold';
}

.img1{
    width: 50%;
    border-radius: 20px;
}

.img2{
    width: 50%;
    border-radius: 20px;
}

.img3{
    width: 50%;
    border-radius: 20px;
}

.img4{
    width: 50%;
    border-radius: 20px;
}


.senders{
    text-align: justify;
    padding-right: 4%;
}  
    
.senders h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 50px;
    font-weight: 200;
}

.senders h2{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
    font-weight: 200;
}

.senders h3{
    color: #61b872;
    font-size: 35px;
}

.senders i{
    color: #e9e9eb;
    font-size: 25px;
    font-family: 'Glacial Indifference Italics';
}

.senders b{
    color: #e9e9eb;
    font-size: 25px;
    font-family: 'Glacial Indifference Bold';
}

.s-2a{
    width: 50%;
    border-radius: 20px;
}
.s-2b{
    width: 50%;
    border-radius: 20px;
}
.s-2c{
    width: 50%;
    border-radius: 20px;
}

.s-f3{
    width: 50%;
    border-radius: 20px;
}

.s-f4{
    width: 50%;
    border-radius: 20px;
}

.s-f5{
    width: 50%;
    border-radius: 20px;
}

.s-f6{
    width: 65%;
    border-radius: 20px;
}

.s-f71{
    width: 50%;
    border-radius: 20px; 
}

.s-f72{
    width: 50%;
    border-radius: 20px; 
}
.s-f73{
    width: 50%;
    border-radius: 20px; 
}

.s-f8{
    width: 50%;
    border-radius: 20px; 
}

.s-f9{
    width: 50%;
    border-radius: 20px; 
}

.s-f101{
    width: 50%;
    border-radius: 20px; 
}

.s-f102{
    width: 50%;
    border-radius: 20px; 
}
.s-f103{
    width: 50%;
    border-radius: 20px; 
}
.s-f11{
    width: 50%;
    border-radius: 20px; 
}
.s-f12{
    width: 50%;
    border-radius: 20px; 
}

.s-f13{
    width: 50%;
    border-radius: 20px; 
}

.s-f14{
    width: 50%;
    border-radius: 20px; 
}


.receivers{
    text-align: justify;
    padding-right: 4%;
}  
    
.receivers h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 50px;
    font-weight: 200;
}

.receivers h2{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 40px;
    font-weight: 200;
}

.receivers h3{
    color: #61b872;
    font-size: 35px;
}

.receivers i{
    color: #e9e9eb;
    font-size: 25px;
    font-family: 'Glacial Indifference Italics';
}

.receivers b{
    color: #e9e9eb;
    font-size: 25px;
    font-family: 'Glacial Indifference Bold';
}

.s-f15{
    width: 100%;
}

.r-2a{
    width: 48%;
    border-radius: 20px;
}
.r-2b{
    width: 48%;
    border-radius: 20px;
}
.r-2c{
    width: 48%;
    border-radius: 20px;
}
.r-2d{
    width: 48%;
    border-radius: 20px;
}


.r-3a{
    width: 48%;
    border-radius: 20px;
}
.r-3b{
    width: 48%;
    border-radius: 20px;
}

.r-4{
    width: 35%;
    border-radius: 20px;
}

.r-5{
    width: 45%;
    border-radius: 20px;
}

.r-7{
    width: 25%;
    border-radius: 20px;
}

.r-8a{
    width: 39%;
    border-radius: 20px;
}

.r-8b{
    width: 45%;
    border-radius: 20px;
}

/* Table */

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 20px !important;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 1px var(--light-blue);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #102a4e;
  }




/* Refs */
.collapsible label {
    padding:20px 20px;
    position:relative;
    z-index:1;
    font-weight:600;
    padding:20px 20px;
    text-align: left;
    transition: all 0.5s linear;
    background-color:#050a30;
    border-radius:20px;
    display:flex;
    position:relative;
    color:#e9e9eb;
    cursor:pointer;
    font-size: 30px;
}

.collapsible img{
    position:relative;
    
}


.collapsible label:hover{
    color:var(--yellow)
}

/*
.collapsible label a::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: #ffc973;
    display: block;
    margin: auto; 
    transition: all 0.5s;
  }
    
.collapsible label a:hover::after {
    width: 30%;
}
*/
.collapsible-content{
    overflow:hidden;
    max-height:0px;
    padding-bottom:25px;
    overflow:hidden;
    top:-100%;
    opacity:0;
    transition: max-height 0.5s ease-out;
    transition: all 0.5s ease;
    font-size:20px;
}

.collapsible input{
    display:none;
}

.collapsible input:checked ~ .collapsible-content{
    max-height:30000px;
    padding-bottom:5px;
    background-color:#102a4e;
    opacity:1;
    top:0;
}

.collapsible-content cite a {
     padding: 10px 10px;
     color:#e9e9eb;
     display:block;
}


@media screen and (max-width: 1200px){
    .heading{
        transform: translate(-50%, -20%);
        font-size: 35px;
        height: 60px;
    }

    .left-side{
        display: none; 
    }
    
    .right-side{
        width: 100%;
        font-size: 22px;
    }

}