@import url(fonts.css);

:root {
    --dark-blue: #050a30;
    --light-blue: #3aa9c5;
    --color-white: #e9e9eb;
    --yellow: #ffc973;
    --red: #ef4b4c;
  }
  
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #050a30;
    color: #e9e9eb;
    font-family: 'Glacial Indifference';
}

.page_header{
    padding-top: 70px;
    position: relative;
    text-align: center;
    color: #050a30;
}

.img_header{
    filter: blur(5px);
}

.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 100px;
    color: #e9e9eb;
    background-color:rgba(239, 75, 76, 0.8);
    width: 100%;
    height: 130px;
    font-family: 'Glacial Indifference Bold';
}

.overview-hp{
    background-color: #050a30;
    color: #e9e9eb;
    font-size: 25px;
    padding: 4%;
}

.overview-hp h1{
    color: rgba(239, 75, 76, 0.8);
    text-align: center;
    font-size: 65px;
    padding-top: 10px;
    font-family: 'Glacial Indifference Bold';
}

.overview-hp p{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 1%;
    text-align: justify;
    font-size: 27px;
}


.cc{
    width: 100%;
    height:100%;
    outline:none;
    padding-right: 0em;
    padding-left: 2em;
    display:flex;
    flex-wrap: wrap;
    padding-top:3em;
    padding-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    background-color:#102a4e;
}

.anchorOffset {
    display: block !important;
    position: relative !important;
    top: -100px !important;
    visibility: hidden !important;
  }

.buttons{
    align-items:flex-end;
    margin-left: 0px;
    margin-right: 0em;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    background-color:#102a4e;
}

.button {
    width: 25%;
    text-align: center;
    cursor: pointer;
    background-color: #050a30;
    border-radius: 100px;
    font-size: 25px;
    font-family: 'Glacial Indifference Bold';
    transition: .3s;
  }

.button a {
    font-size: 35px;
    color: #e9e9eb;
    font-size: 1.375em;
    cursor: pointer;
    display: block;
    padding: 1em 0;
    transition: all 0.3s;  
}

.button a:hover{
    font-family: 'Glacial Indifference Bold';
    font-size: 45px;
    color:var(--dark-blue);
}

.button:hover{
    background: url(https://static.igem.wiki/teams/4294/wiki/human-practices/hp-bg.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: translate(0, -10px);
    box-shadow: 5px 5px  #ef4b4c;
}

.left-side{
    color:var(--color-white);
    margin-left: 0em;
    padding-right: 1em;
    padding-left: 0em;
    width: 20%;
    font-size:25px;
    justify-items: center;
}

.left-side h2{
    text-align: center;
}

.right-side{
    color:var(--color-white);
    margin-left: 0em;
    padding-right: 1em;
    padding-left: 1em;
    width:80%;
    align-content: center;
    font-size: 25px;
}

.index-bar{
    position: -webkit-sticky;
    position: sticky;
    padding-bottom: 20px;
    margin-top: 1em;
    top:150px;
    bottom:200px;
    width: 70%;
}

.lateral-index{
    background-color: var(--dark-blue);
    transition: all 0.2s ease;
    list-style-type: none;
    display:inline-block;
    border-radius: 0.4em !important;
    margin-left: 0;
    padding: 1em 1em 1em 2.6em !important;
    margin-top:2em;
}

.index-bar ul li {
    padding-bottom: 1em;
    padding-top:0em;
    position: relative;
  }


/* navigation bar text decoration */    
.index-bar ul li a {
    /*display: flex; */ 
    font-size: 25px;
    color: var(--color-white);
    text-decoration: none;
    padding-bottom: 10px;
    transition: all 0.3s;  
  }
  
.index-bar ul li a:hover {
    color: var(--yellow);
  }


.anchorOffset {
    display: block !important;
    position: relative !important;
    top: -100px !important;
    visibility: hidden !important;
  }


.awareness{
    text-align: justify;
    padding-right: 4%;
}  
    
.awareness h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 50px;
}

.awareness h2{
    color: #61b872;
    font-size: 45px;
}

.journey{
    text-align: justify;
    padding-right: 4%;
}  
    
.journey h1{
    font-family: 'Glacial Indifference Bold';
    color: #ffc973;
    font-size: 50px;
}

.journey h2{
    color: #ffc973;
    font-size: 45px;
}

.values{
    text-align: justify;
    padding-right: 4%;
}  
    
.values h1{
    font-family: 'Glacial Indifference Bold';
    color: #3aa9c5;
    font-size: 50px;
}

.values h2{
    color: #3aa9c5;
    font-size: 45px;
}


@media screen and (max-width: 1200px){
    .heading{
        transform: translate(-50%, -20%);
        font-size: 35px;
        height: 60px;
    }

    .left-side{
        display: none; 
    }
    
    .right-side{
        width: 100%;
        font-size: 22px;
    }

}