@import url(fonts.css);

:root {
    --dark-blue: #050a30;
    --light-blue: #3aa9c5;
    --color-white: #e9e9eb;
    --yellow: #ffc973;
    --red: #ef4b4c;
  }
  
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #050a30;
    color: #e9e9eb;
    font-family: 'Glacial Indifference';
}

.page_header{
    padding-top: 70px;
    position: relative;
    text-align: center;
    color: #050a30;
}

.img_header{
    filter: blur(5px);
}

.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 100px;
    color: #e9e9eb;
    background-color:rgba(239, 75, 76, 0.8);
    width: 100%;
    height: 130px;
    font-family: 'Glacial Indifference Bold';
}

.buttons{
    align-items:flex-end;
    margin-left: 0px;
    margin-right: 0em;
    padding: 7%;
    /* padding-top: 30px;
    padding-bottom: 30px; */
    display: flex;
    justify-content: space-around;
    background-color:#102a4e;
}

.button {
    width: 25%;
    text-align: center;
    cursor: pointer;
    background-color: #050a30;
    border-radius: 100px;
    font-size: 25px;
    font-family: 'Glacial Indifference Bold';
    transition: .3s;
  }

.button a {
    font-size: 35px;
    color: #e9e9eb;
    font-size: 1.375em;
    cursor: pointer;
    display: block;
    padding: 1em 0;
    transition: all 0.3s;  
}

.button a:hover{
    font-family: 'Glacial Indifference Bold';
    font-size: 45px;
    color:var(--dark-blue);
}

.button:hover{
    background: url(https://static.igem.wiki/teams/4294/wiki/human-practices/hp-bg.gif);
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(0, -10px);
    box-shadow: 5px 5px  #ef4b4c;
}

.overview-section-hp{
    background-color: #050a30;
    color: #ef4b4c;
    font-size: 35px;
    font-family: 'Glacial Indifference Bold';
    padding: 5%;
    width: 100%;
}

.overview-hp{
    background-color: #050a30;
    color: #e9e9eb;
    font-size: 25px;
    padding: 3%;
    border-radius: 50px;
}

.overview-hp h1{
    color: rgba(239, 75, 76, 0.8);
    text-align: left;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 40px;
    font-family: 'Glacial Indifference Bold';
}

.overview-hp p{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 1%;
    text-align: justify;
    font-size: 25px;
}


.cc{
    width: 100%;
    height:100%;
    outline:none;
    padding-right: 0em;
    padding-left: 2em;
    display:flex;
    flex-wrap: wrap;
    padding-top:3em;
    padding-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    background-color:#102a4e;
}

.left-side{
    color:var(--color-white);
    margin-left: 0em;
    padding-right: 20px;
    padding-left: 0em;
    width: 20%;
    font-size:25px;
    justify-items: center;
}

.left-side h2{
    text-align: center;
}

.right-side{
    color:var(--color-white);
    margin-left: 0em;
    padding-right: 60px;
    padding-left: 1em;
    width:80%;
    align-content: center;
    font-size: 25px;
}

.index-bar{
    position: -webkit-sticky;
    position: sticky;
    padding-bottom: 50px;
    padding-left: 1em;
    margin-top: 1em;
    top:150px;
}

.lateral-index{
    background-color: var(--dark-blue);
    transition: all 0.2s ease;
    list-style-type: none;
    display:inline-block;
    border-radius: 0.4em !important;
    margin-left: 0;
    padding: 1em 1em 1em 2.6em !important;
    margin-top:2em;
}

.index-bar ul li {
    padding-bottom: 1em;
    padding-top:0em;
    position: relative;
  }


/* navigation bar text decoration */    
.index-bar ul li a {
    /*display: flex; */ 
    font-size: 25px;
    color: var(--color-white);
    text-decoration: none;
    padding-bottom: 10px;
    transition: all 0.3s;  
  }
  
.index-bar ul li a:hover {
    color: var(--red);
  }

    
.collapsible_menu {
background-color: #050a30;
color: #e9e9eb;
font-family: 'Glacial Indifference Bold';
cursor: pointer;
padding: 0px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 25px;
}

.active, .collapsible_menu:hover {
    color: #e9e9eb;
}

.content_menu{
padding-top: 7%;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: #050a30;
border-radius: 15px;
}  

.content_menu ul{
    list-style: none;
}

.anchorOffset {
    display: block !important;
    position: relative !important;
    top: -100px !important;
    visibility: hidden !important;
  }

.roadmap-hp{
    width: 97%;
    border-radius: 50px;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

.awareness{
    text-align: justify;
    padding-right: 0%;
}  
    
.awareness h1{
    font-family: 'Glacial Indifference Bold';
    color: #61b872;
    font-size: 50px;
}

.awareness h2{
    color: #61b872;
    font-size: 45px;
}

.journey{
    text-align: justify;
    padding-right: 0%;
}  
    
.journey h1{
    font-family: 'Glacial Indifference Bold';
    color: #ffc973;
    font-size: 50px;
}

.journey h2{
    color: #ffc973;
    font-size: 45px;
}

.values{
    text-align: justify;
    padding-right: 0%;
}  
    
.values h1{
    font-family: 'Glacial Indifference Bold';
    color: #3aa9c5;
    font-size: 50px;
}

.values h2{
    color: #3aa9c5;
    font-size: 45px;
}

.values-hp{
    width: 45%;
    border-radius: 50px;
    float: right;
    padding-left: 50px;
    padding-bottom: 50px;
}

.overview-section-integrated{
    background-color: #050a30;
    color: #ef4b4c;
    font-size: 35px;
    font-family: 'Glacial Indifference Bold';
    padding: 5%;
    width: 100%;
}

.overview-integrated{
    background-color: #050a30;
    color: #e9e9eb;
    font-size: 25px;
    padding: 3%;
    border-radius: 50px;
}

.overview-integrated h1{
    color: rgba(239, 75, 76, 0.8);
    text-align: left;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 40px;
    font-family: 'Glacial Indifference Bold';
}

.overview-integrated p{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 1%;
    text-align: justify;
    font-size: 25px;
}


.cc-integrated{
    width: 100%;
    height:100%;
    outline:none;
    padding-right: 0em;
    padding-left: 2em;
    display:flex;
    flex-wrap: wrap;
    padding-top:3em;
    padding-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    background-color:#102a4e;
}

.meeting-div{
    width: 80%;
    height: max-content;
    background: #102a4e;
}

.papaloi-img{
    width: 50%;
    padding: 1%;
    border-radius: 30px;
}

.asteris-img{
    width: 40%;
    padding: 1%;
    border-radius: 30px;
}

.charis-1-img{
    width: 40%;
    padding: 1%;
    border-radius: 30px;

}

.ximing-img{
    width: 50%;
    padding: 1%;
    border-radius: 30px;

}

.skretas-img{
    width: 50%;
    padding: 1%;
    border-radius: 30px;

}

.kylilis-img{
    width: 50%;
    padding: 1%;
    border-radius: 30px;

}

.barbara-img{
    width: 50%;
    padding: 1%;
    border-radius: 30px;

}

.gournas-img{
    width: 50%;
    padding: 1%;
    border-radius: 30px;

}


.char-des-1-img{
    width: 40%;
    padding: 1%;
    border-radius: 30px;

}

.char-des-2-img{
    width: 40%;
    padding: 1%;
    border-radius: 30px;

}

.miltos-img{
    width: 50%;
    padding: 1%;
    border-radius: 30px;
  
}

.chariton-img{
    width: 50%;
    padding: 1%;
    border-radius: 30px;
 
}

.sarakas-img{
    width: 50%;
    padding: 1%;
    border-radius: 30px;

}

.sarakas-live-img{
    width: 50%;
    padding: 1%;
    border-radius: 30px;
 
}

.ren-img{
    width: 50%;
    padding: 1%;
    border-radius: 30px;

}

.anavryta-img{
    width: 50%;
    padding: 1%;
    border-radius: 30px;

}

.container_debate{
    width: 800px;
    height: 650px;
    border-radius: 80px;
    border: 10px solid #050a30;
    background: #e9e9eb;
    position: relative;
}

.container_debate .wrapper_debate{
    width: 700px;
    height: 520px;
    translate: 0% -5%;
    border-radius: 0px;   
    margin: 5rem auto;
    overflow: hidden;
}

.container_debate .wrapper-holder-debate{
    display: grid;
    grid-template-columns: repeat(6, 100%);
    height: 100%;
    width: 100%;
}
.container_debate #debate1{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/human-practices/debate-integrated-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_debate #debate2{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/human-practices/debate-integrated-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_debate #debate3{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/human-practices/debate-integrated-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container_debate .button-holder-debate .button_debate{
    background-color: #61b872;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container_debate .button-holder-debate{
    position: absolute;
    left: 45%;
    bottom: 4%;
}
.button_debate:hover{
    background-color: #61b872;
}


.container_sarakas{
    width: 800px;
    height: 650px;
    border-radius: 80px;
    border: 10px solid #050a30;
    background: #e9e9eb;
    position: relative;
}

.container_sarakas .wrapper_sarakas{
    width: 700px;
    height: 520px;
    translate: 0% -5%;
    border-radius: 0px;   
    margin: 5rem auto;
    overflow: hidden;
}

.container_sarakas .wrapper-holder-sarakas{
    display: grid;
    grid-template-columns: repeat(6, 100%);
    height: 100%;
    width: 100%;
}
.container_sarakas #sarakas1{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/human-practices/sarakatsanis-visit-to-lab-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_sarakas #sarakas2{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/human-practices/sarakatsanis-visit-to-lab-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_sarakas #sarakas3{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/human-practices/sarakatsanis-visit-to-lab-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_sarakas #sarakas4{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/human-practices/sarakatsanis-visit-to-lab-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container_sarakas #sarakas5{
    background-image: url(https://static.igem.wiki/teams/4294/wiki/human-practices/sarakatsanis-visit-to-lab-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.container_sarakas .button-holder-sarakas .button_sarakas{
    background-color: #61b872;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container_sarakas .button-holder-sarakas{
    position: absolute;
    left: 40%;
    bottom: 2%;
}
.button_sarakas:hover{
    background-color: #61b872;
}

.collapsible{
    padding-top:30px;
}


.coll-up{
    display:flex;
}


.collapsible label {
    padding:20px 20px;
    position:relative;
    z-index:0;
    font-weight:600;
    padding:20px 20px;
    text-align: left;
    transition: all 0.5s linear;
    background-color:#050a30;
    border-radius:20px;
    display:flex;
    position:relative;
    color:#e9e9eb;
    cursor:pointer;
    font-size: 30px;
}

.collapsible img{
    position:relative;
    
}


.collapsible label:hover{
    color:var(--yellow);
}

.collapsible-content{
    overflow:hidden;
    max-height:0px;
    padding-bottom:25px;
    overflow:hidden;
    /* top:-100%; */
    opacity:0;
    transition: max-height 0.5s ease-out;
    transition: all 0.5s ease;
    font-size:20px;
}

.collapsible input{
    display:none;
}

.collapsible input:checked ~ .collapsible-content{
    max-height:3000px;
    padding-bottom:5px;
    background-color:#102a4e;
    opacity:1;
    top:0;
}

.collapsible-content cite a {
     padding: 10px 10px;
     color:#e9e9eb;
     display:block;
}


.process-wrapper {
	margin:auto;
	max-width:1500px;
}

.follow-instructions{
    background: #e9e9eb;
    color: #050a30;    
    font-size: 25px;
    text-align: center;
    padding: 2.5%;
    width: 50%;
    border-radius: 100px;
    border: 7px solid #61b872;
}

.follow-instructions red{
    color: #ef4b4c;
    font-family: 'Glacial Indifference Bold';
}

#progress-bar-container {
	position:relative;
	width:100%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:19px;
	z-index:3;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 4px #e9e9eb;
	transition:all ease 0.3s;
     
}


#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	/* border:solid 5px #e9e9e9; */
	background: #ef4b4c; 
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:16.6%;
	text-align:center;
	color: #e9e9eb;;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:90px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
    font-size: 25px;
}


#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#ef4b4c;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:5px;
	background:#102a4e;
	margin:auto;
	border:solid 7px #e9e9eb;
	border-radius:50%;
	margin-top:-28px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
	background:#ef4b4c;
}

#progress-bar-container li.active:after {
	background:#ef4b4c;
}

#progress-bar-container #line {
	width:83%;
	margin:auto;
	background: #e9e9eb;
	height:6px;
	position:absolute;
	left:8%;
	top:-5px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	background: #ef4b4c;	 
	background: #ef4b4c; 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:100%;
	margin: auto;
	background: #050a30;
	border-radius: 50px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:justify;
}

#progress-content-section .section-content h2 {
	font-size:45px;
	text-transform:capitalize;
	color:#3aa9c5;
    font-family: 'Glacial Indifference Bold';
    text-align: center;
    padding-bottom: 1%;
}

#progress-content-section .section-content p {
	font-size:25px;
    text-align: justify;
	color:#e9e9e9;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}


@media screen and (max-width: 1200px){
    .buttons{
        display: none;
    }

    .heading{
        transform: translate(-50%, -20%);
        font-size: 35px;
        height: 60px;
    }

    .left-side{
        display: none; 
    }
    
    .right-side{
        width: 100%;
        font-size: 22px;
    }

}