@import url(fonts.css);

:root {
    --dark-blue: #050a30;
    --light-blue: #3aa9c5;
    --color-white: #e9e9eb;
    --yellow: #ffc973;
    --red: #ef4b4c;
    --green: #;
  }
  
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #050a30;
    color: #e9e9eb;
    font-family: 'Glacial Indifference';
}

.page_header{
    padding-top: 70px;
    position: relative;
    text-align: center;
    color: #050a30;
}

.img_header{
    filter: blur(4px);
}

.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 100px;
    color: #e9e9eb;
    background-color:rgba(16, 42, 78, 0.7);
    width: 100%;
    height: 130px;
    font-family: 'Glacial Indifference Bold';
}

.container{
    padding-top: 50px;
    color: #e9e9eb;
    background-color: #102a4e;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.container h1{
    font-size: 50pt;
    color: #ef4b4c;
}

.container{
    padding-top: 50px;
    color: #e9e9eb;
    background-color: #102a4e;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}


.cc{
    width: 100%;
    height:100%;
    outline:none;
    padding-right: 0em;
    padding-left: 2em;
    display:flex;
    flex-wrap: wrap;
    padding-top:3em;
    padding-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    background-color:#102a4e;
}
.left-side{
    color:var(--color-white);
    margin-left: 0em;
    padding-right: 20px;
    padding-left: 0em;
    width: 20%;
    font-size:25px;
    justify-items: center;
}

.left-side h2{
    text-align: center;
}

.right-side{
    color:var(--color-white);
    margin-left: 0em;
    padding-right: 60px;
    padding-left: 1em;
    width:80%;
    align-content: center;
    font-size: 25px;
}

.index-bar{
    position: -webkit-sticky;
    position: sticky;
    padding-bottom: 50px;
    padding-left: 1em;
    margin-top: 1em;
    top:150px;
}

.lateral-index{
    background-color: var(--dark-blue);
    transition: all 0.2s ease;
    list-style-type: none;
    display:inline-block;
    border-radius: 0.4em !important;
    margin-left: 0;
    padding: 1em 1em 1em 2.6em !important;
    margin-top:2em;
}

.index-bar ul li {
    padding-bottom: 1em;
    padding-top:0em;
    position: relative;
  }


/* navigation bar text decoration */    
.index-bar ul li a {
    /*display: flex; */ 
    font-size: 25px;
    color: var(--color-white);
    text-decoration: none;
    padding-bottom: 10px;
    transition: all 0.3s;  
  }
  
.index-bar ul li a:hover {
    color: #61b872;
  }

    
.collapsible_menu {
background-color: #050a30;
color: #e9e9e9;
font-family: 'Glacial Indifference Bold';
cursor: pointer;
padding: 0px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 25px;
}

.active, .collapsible_menu:hover {
    color: #61b872;
}
.anchorOffset {
    display: block !important;
    position: relative !important;
    top: -100px !important;
    visibility: hidden !important;
  }



.introduction{
    text-align: justify;
    padding-top: 5%;
}

.introduction h1{
    text-align: justify;
    font-size: 45px;
    font-family: 'Glacial Indifference Bold';
    font-weight: 200;
    color: aliceblue;
}

.introduction p{
    font-size: 25px;
}

.introduction i{
    font-family: 'Glacial Indifference Italics';
}

.health{
    text-align: justify;
}

.health h1{
    text-align: justify;
    font-size: 45px;
    font-family: 'Glacial Indifference Bold';
    font-weight: 200;
    color: #3aa9c5;
}

.health p{
    font-size: 25px;
}

.health i{
    font-family: 'Glacial Indifference Italics';
}

.environment{
    text-align: justify;
    padding-bottom: 5%;
}

.environment h1{
    text-align: justify;
    font-size: 45px;
    font-family: 'Glacial Indifference Bold';
    font-weight: 200;
    color: #61b872;
}

.environment p{
    font-size: 25px;
}

.environment i{
    font-family: 'Glacial Indifference Italics';
}

.biocomputing{
    text-align: justify;
}

.biocomputing h1{
    text-align: justify;
    font-size: 45px;
    font-family: 'Glacial Indifference Bold';
    font-weight: 200;
    color: #ffc973;
}

.biocomputing p{
    font-size: 25px;
}

.biocomputing i{
    font-family: 'Glacial Indifference Italics';
}

.conclusion{
    text-align: justify;
    padding-top: 5%;
}

.conclusion h1{
    text-align: justify;
    font-size: 45px;
    font-family: 'Glacial Indifference Bold';
    font-weight: 200;
    color: aliceblue;
}

.conclusion p{
    font-size: 25px;
}

.conclusion i{
    font-family: 'Glacial Indifference Italics';
}

.imple-img-1{
    width: 49%;
    background: #e9e9eb;
    border-radius: 50px;
}

.imple-img-2{
    width: 49%;
    background: #e9e9eb;
    border-radius: 50px;
}

.imple-img-4{
    width: 90%;
    background: #e9e9eb;
    border-radius: 50px;
}

.imple-img-gut{
    width: 50%;
    background: #e9e9eb;
    border-radius: 50px;
}

.collapsible_in{
    padding-top:30px;
}


.coll-up{
    display:flex;
}

.collapsible_in{
    max-width: 1200px;
    overflow: hidden;
    font-weight: 500;
}

.collapsible_in input{
    display: none;
}

.collapsible_in label{
    font-size: 30px;
    font-family: 'Glacial Indifference Bold';
	color: #e9e9eb;
	text-transform: capitalize;
	font-weight: 500;
    position: relative;
    background: #050a30;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}

.collapsible_in label:after{
    content: '';
    position: absolute;
    right: 15px;
    left: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    transition: all 0.3s ease;
}

.collapsible_in input:checked + label:after{
    transform: rotate(90deg);
}

.collapsible-in-text{
    max-height: 1px;
    overflow: hidden;
    border-radius: 15px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3 ease;
}

.collapsible_in input:checked ~ .collapsible-in-text{
    max-height: 40000px;
    padding: 15px;
    background: #050a30;
    opacity: 1;
    top: 0;
}

.collapsible-in-text p{
    color: #e9e9eb;
	font-size: 25px;
    text-align: justify;
    padding: 2%;
}


.collapsible-in-text ul li{
    color: #e9e9eb;
	font-size: 24px;
}

.collapsible-in-text p it{
    font-family: 'Glacial Indeifference Italics';
}



/* Refs */
.collapsible label {
    padding:20px 20px;
    position:relative;
    z-index:1;
    font-weight:600;
    padding:20px 20px;
    text-align: left;
    transition: all 0.5s linear;
    background-color:#050a30;
    border-radius:20px;
    display:flex;
    position:relative;
    color:#e9e9eb;
    cursor:pointer;
    font-size: 30px;
}

.collapsible img{
    position:relative;
    
}


.collapsible label:hover{
    color:var(--yellow)
}

/*
.collapsible label a::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: #ffc973;
    display: block;
    margin: auto; 
    transition: all 0.5s;
  }
    
.collapsible label a:hover::after {
    width: 30%;
}
*/
.collapsible-content{
    overflow:hidden;
    max-height:0px;
    padding-bottom:25px;
    overflow:hidden;
    top:-100%;
    opacity:0;
    transition: max-height 0.5s ease-out;
    transition: all 0.5s ease;
    font-size:20px;
}

.collapsible input{
    display:none;
}

.collapsible input:checked ~ .collapsible-content{
    max-height:30000px;
    padding-bottom:5px;
    background-color:#102a4e;
    opacity:1;
    top:0;
}

.collapsible-content cite a {
     padding: 10px 10px;
     color:#e9e9eb;
     display:block;
}

@media screen and (max-width: 1200px){
    .heading{
        transform: translate(-50%, -20%);
        font-size: 35px;
        height: 60px;
    }

    .left-side{
        display: none; 
    }
    
    .right-side{
        width: 100%;
        font-size: 22px;
    }

}