@import url(fonts.css);


:root {
    --dark-blue: #050a30;
    --light-blue: #3aa9c5;
    --color-white: #e9e9eb;
    --yellow: #ffc973;
    --red: #ef4b4c;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glacial Indifference';
}
  

/* navigation bar background*/
.navbar{
  background-color:var(--dark-blue);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  position:fixed;
  z-index: 9999;
}


/* navigation bar text list */
.navbar ul {
    list-style: none;
    display: flex;
  }

/* navigation bar text position */  
.navbar ul li {
    padding: 20px 35px;
    position: relative;
  }

/* navigation bar text decoration */    
.navbar ul li a {
    display: felx;
    font-size: 25px;
    color: var(--color-white);
    text-decoration: none;
    padding-bottom: 10px;
    transition: all 0.3s;  
  }
  
.navbar ul li a:hover {
    color: var(--yellow);
  }
  
.navbar ul li a:hover #white-image {
    opacity:0;
  }

/* this the after effect with the yellow line */
.navbar ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #ffc973;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
    
  .navbar ul li a:hover::after {
    width: 100%;
    }

/* logo position and other log related stuff */
.navbar-logo {
  display: flex;
  padding: 0% 5%;
  width: auto;
  padding: 0px;
  padding-top: 10px;
  margin-top: 5%;
  padding-left:20px;
  height: 90px;
  transition: 0.4s;
  float: left;
  position: relative;
  bottom: 0.55em;
  font-size:15px; /*doksasi ton panagatho*/
  text-align: left;
}

/* dropdown menu when not hovered */
.dropdown {
  display: none;
}

/* dropdown hovered */ 
.navbar ul li:hover .dropdown {
  display: block;
  position: absolute;
  left: 0; 
  top: 100%;
  background-color:var(--dark-blue);
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px  #205a7a;
}

.navbar ul li:hover .dropdown ul {
  display:block;
  margin: 10px;
  text-align: center;
}

.navbar ul li:hover .dropdown ul li {
  width: max-content;
  padding: 10px;
  text-align: center;
}


.logos img{
  position:absolute;
  left: -20px;
  width: 60px;
  padding-right:20px;
  right:10px;
  transition: opacity 0.3s ease-in-out;
}

.logos img.logo-white:hover{
  opacity:0;
}


.wetlab-logo{
  width:50px;
  
}

.hp-logo{
  width:50px;
}


.project-logo{
  width:50px;
}

.team-logo{
  width:50px;
}

/* progress bar style*/

.header {
  height: 90px;
  position: fixed;
  width: 100%;
  background-color: #f1f1f1;
  left: 0.1vh;
  z-index: 1;
}

.progress-container {
  width: 100%;
  height: 90px;
  background: #050a30;
}

.progress-bar {
  background: #3aa9c5;
  position: fixed;
  width: 0%;
  height:90px;
  animation: progress 1s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
} 

/*fixing mobile preview*/

@media (max-width: 35rem){
  .navbar ul{
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 25%;
    
    flex-direction: column;
    padding: min(30vh, 10rem) 3em;
    background: #050a30;
  }


}

  .mobile-nav-toggle{
    display: block;
    position: absolute;
    z-index: 9999;
    background: url("https://static.igem.wiki/teams/4294/wiki/favicon-white.png");
    background-repeat: no-repeat;
    width: 4rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;


  }
